@using Microsoft.AspNetCore.Http;
@model SERVERAPI.ViewModels.FarmViewModel

@{
    ViewBag.Title = "Farm";
    Layout = "_LayoutNoBubbles";
}

<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<form asp-controller="Farm" asp-action="Farm" method="post">
    <!--WIZARD-->
    <div class="wizard">
        <ul class="wrapper wizard-list clearfix">
            <li id="wizard-farm" class="wizard-item ">
                @*wizard-item-done*@
                <a href='@Url.Action("Farm", "Farm" )'>
                    <div class="wizard-circle">
                        <div class="wizard-icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px"
                                 height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                            <g stroke-width="2" transform="translate(0, 0)">
                            <polygon fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="12,27 2,17 6,13
	                            12,19 26,5 30,9 " stroke-linejoin="miter"></polygon>
                            </g>
                            </svg>
                        </div>
                    </div>
                    <span class="wizard-name">Farm Info</span>
                </a>
            </li>
            <li id="wizard-field" class="wizard-item">
                <a href='@Url.Action("Fields", "Fields" )'>
                    <div class="wizard-circle">
                        <div class="wizard-icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve" stroke-width="2">
                            <g stroke-width="2" transform="translate(0, 0)">
                            <path data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d=" M22.784,25.563c0,0-2.397,3.704-6.306,4.388C13.475,30.477,10,26.622,10,26.622s2.342-2.617,5.345-3.143 C18.872,22.862,22.784,25.563,22.784,25.563z" stroke-linejoin="miter"></path> 
                            <path data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M2,17.582 c0,0,2.721-2.265,5.879-1.856c2.426,0.314,4.168,4.097,4.168,4.097s-2.419,1.446-4.846,1.131C4.352,20.586,2,17.582,2,17.582z" stroke-linejoin="miter"></path> 
                            <path data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M15.344,15 c0,0-2.598-2.825-2.324-6.267c0.211-2.644,4.213-4.732,4.213-4.732s1.695,2.542,1.484,5.186C18.471,12.293,15.344,15,15.344,15z" stroke-linejoin="miter"></path> 
                            <path data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d=" M23.252,13.756c0,0-2.267,3.756-1.176,7.549c0.838,2.914,5.797,4.342,5.797,4.342s1.32-3.234,0.482-6.147 C27.37,16.077,23.252,13.756,23.252,13.756z" stroke-linejoin="miter"></path> 
                            <path fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M30,26C17,26,8,16,8,3" stroke-linejoin="miter"></path>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <span class="wizard-name">Field List</span>
                </a>
            </li>
            <li id="wizard-soiltest" class="wizard-item">
                <a href='@Url.Action("SoilTest", "Soil" )'>
                    <div class="wizard-circle">
                        <div class="wizard-icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px"
                                 height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                            <g stroke-width="2" transform="translate(0, 0)">
                            <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="11"
                                  y1="13" x2="15" y2="13" stroke-linejoin="miter"></line>
                            <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="11"
                                  y1="18" x2="15" y2="18" stroke-linejoin="miter"></line>
                            <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="11"
                                  y1="23" x2="15" y2="23" stroke-linejoin="miter"></line>
                            <path fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M8,1v4h3v21
	    c0,2.761,2.239,5,5,5h0c2.761,0,5-2.239,5-5V5h3V1H8z" stroke-linejoin="miter"></path>
                            </g>
                            </svg>
                        </div>
                    </div>
                    <span class="wizard-name">Soil Tests</span>
                </a>
            </li>
            <li id="wizard-manure" class="wizard-item">
                <a href='@Url.Action("Manure", "Manure" )'>
                    <div class="wizard-circle">
                        <div class="wizard-icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px"
                                 height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                            <g stroke-width="2" transform="translate(0, 0)">
                            <polyline data-cap="butt" data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" points="1,16 7.8,16 11.9,7.8
	20.1,24.2 24.2,16 31,16 " stroke-linejoin="miter" stroke-linecap="butt"></polyline>
                            <circle fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" cx="16" cy="16" r="15"
                                    stroke-linejoin="miter"></circle>
                            </g>
                            </svg>
                        </div>
                    </div>
                    <span class="wizard-name">Manure/Compost Analysis</span>
                </a>
            </li>
            <li id="wizard-nutrient" class="wizard-item">
                <a href='@Url.Action("Calculate", "Nutrients" )'>
                    <div class="wizard-circle">
                        <div class="wizard-icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px"
                                 height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                            <g stroke-width="2" transform="translate(0, 0)">
                            <rect x="3" y="1" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" width="26"
                                  height="30" stroke-linejoin="miter"></rect>
                            <rect data-color="color-2" x="7" y="5" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10"
                                  width="18" height="6" stroke-linejoin="miter"></rect>
                            <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="7"
                                  y1="16" x2="10" y2="16" stroke-linejoin="miter"></line>
                            <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="14"
                                  y1="16" x2="18" y2="16" stroke-linejoin="miter"></line>
                            <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="7"
                                  y1="21" x2="10" y2="21" stroke-linejoin="miter"></line>
                            <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="14"
                                  y1="21" x2="18" y2="21" stroke-linejoin="miter"></line>
                            <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="7"
                                  y1="26" x2="10" y2="26" stroke-linejoin="miter"></line>
                            <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="14"
                                  y1="26" x2="18" y2="26" stroke-linejoin="miter"></line>
                            <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="22"
                                  y1="16" x2="25" y2="16" stroke-linejoin="miter"></line>
                            <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="22"
                                  y1="21" x2="25" y2="21" stroke-linejoin="miter"></line>
                            <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="22"
                                  y1="26" x2="25" y2="26" stroke-linejoin="miter"></line>
                            </g>
                            </svg>
                        </div>
                    </div>
                    <span class="wizard-name">Calculate Nutrients</span>
                </a>
            </li>
            <li id="wizard-report" class="wizard-item">
                <a href='@Url.Action("Report", "Report" )'>
                    <div class="wizard-circle">
                        <div class="wizard-icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px"
                                 height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                            <g stroke-width="2" transform="translate(0, 0)">
                            <path fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M26,22V1H3v27
	c0,1.657,1.343,3,3,3h2" stroke-linejoin="miter"></path>
                            <path fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,28c0,1.657-1.343,3-3,3
	h21c1.657,0,3-1.343,3-3v-2H9V28z" stroke-linejoin="miter"></path>
                            <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="9"
                                  y1="7" x2="20" y2="7" stroke-linejoin="miter"></line>
                            <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="9"
                                  y1="13" x2="20" y2="13" stroke-linejoin="miter"></line>
                            <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="9"
                                  y1="19" x2="20" y2="19" stroke-linejoin="miter"></line>
                            </g>
                            </svg>
                        </div>
                    </div>
                    <span class="wizard-name">Nutrient Report</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /WIZARD -->
    <!-- BODY CONTENT -->

    <div class="header-height"></div>

    <div class="step-header">
        <div class="container">
            <div class="col-sm-10">
                <div class="col-sm-6">
                    <span class="step-header-name">Farm Info</span>
                    &nbsp;
                    <span class="step-header-steps">Step 1 of 6</span>
                </div>
                <div class="col-sm-4">
                    <span class="step-header-name text-right">@Context.Session.GetString("Farm")</span>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="col-sm-2">
                    <input class="btn btn-primary" type="button" value="Download file" title="Download data to your local drive" onclick="location.href='@Url.Action("Download", "Home")'" />
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="step-forms col-sm-12">
            <!-- PAGE CONTENT -->
            <div class="form-box">
                <div class="form-box-header clearfix">
                    <legend class="form-box-heading">Enter your farm details</legend>
                </div>
                <div class="form-box-body">
                    <div class="form-box-fields">
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="year">Year for analysis</label>
                                <input class="form-control" asp-for="year" id="year" type="text" />
                                <span asp-validation-for="year"></span>
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="farmName">Farm name</label>
                                <input class="form-control" asp-for="farmName" id="farmName" name="farmName" type="text">
                                <span asp-validation-for="farmName"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label asp-for="selRegOption">Region</label>
                                <p class="form-box-subtext">Region selection will customize recommendations to your local climate.</p>
                                <select class="form-control" asp-for="selRegOption" asp-items="@(new SelectList(Model.regOptions,"Id","Value"))">
                                    <option>select region</option>
                                </select>
                                <span asp-validation-for="selRegOption"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-box-submit">
                <div class="form-box-fields text-right">
                    <button class="btn btn-primary" type="submit">Next</button>
                </div>
            </div>
            <!-- PAGE CONTENT -->
        </div>
    </div>
    @Html.HiddenFor(x => x.currYear)
</form>


<!-- /BODY CONTENT -->
@section Scripts {
<script type="text/javascript">

    $(document).ready(function () {
        $("#wizard-farm").addClass('wizard-item-done');
    });

</script>    
}