@model SERVERAPI.Pages.Ranch.RanchNutrients.CreateEdit

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-box-fields">
    <div class="row">
        <div class="col-md-12">
            @Html.Raw(Model.Data.RanchNutrientAnalysisEntryCreateEditMessage)
        </div>
    </div>
    @if (Model.Data.RanchManures != null && Model.Data.RanchManures.Any())
    {
        <div class="row">
            <div class="col-md-4 order-md-1">
                <div class="form-group table-bordered" style="padding-left: 5px !important">
                    <table class="table-borderless table-sm">
                        @for (int i = 0; i < Model.Data.RanchManures.Count; i++)
                        {
                            <tr>
                                <td style="vertical-align: text-top;">
                                    <input type="checkbox" asp-for="@Model.Data.RanchManures[i].Selected" />
                                </td>
                                <td>
                                    <label asp-for="@Model.Data.RanchManures[i].Selected">@Model.Data.RanchManures[i].ManureName</label>
                                    <input type="hidden" asp-for="@Model.Data.RanchManures[i].ManureId" />
                                    <input type="hidden" asp-for="@Model.Data.RanchManures[i].ManureName" />
                                </td>
                            </tr>
                        }
                    </table>
                    <span asp-validation-for="@Model.Data.RanchManures" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-8 order-md-2">
                <div class="form-group">
                    <label for="">Nutrient Anaylsis</label>
                    <div>
                        <select class="form-control"
                                asp-for="@Model.Data.SelectedNutrientAnalysis"
                                asp-items="@Model.Data.BeefNutrientAnalysisOptions">
                            <option>select</option>
                        </select>
                        <span asp-validation-for="@Model.Data.SelectedNutrientAnalysis" class="text-danger">Select a Nutrient Analysis</span>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.Data.SelectedNutrientAnalysis > 0)
    {
        <div class="row">
            <div class="col-sm-8 order-md-2">
                <div class="radio" style="margin-top:0px">
                    <label style="padding-right:20px">
                        <input asp-for="Data.UseCustomAnalysis" type="radio" value="false" id="rbOnlyCustom" /> Book Value
                    </label>
                    <label>
                        <input asp-for="Data.UseCustomAnalysis" type="radio" value="true" id="rbOnlyCustom" /> Lab Analysis
                    </label>
                    <span asp-validation-for="Data.OnlyCustom"></span>
                </div>
            </div>
        </div>
    }
    @if (Model.Data.UseCustomAnalysis)
    {
        <div class="row">
            <div class="form-group">
                <div class="form-group col-sm-6">
                    <label asp-for="@Model.Data.ManureName">Material Name</label>
                    <div class="input-group col-sm-12">
                        <input class="form-control" asp-for="@Model.Data.ManureName" id="manureName" type="text" />
                        <span asp-validation-for="@Model.Data.ManureName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="form-group">
                <div class="form-group col-sm-2">
                    <label asp-for="@Model.Data.Moisture">Moisture&nbsp;(%)</label>
                    <a href="#!" data-toggle="tooltip" title="@Model.Data.ExplainNutrientAnalysisMoisture" id="toolTipExplainNutrientAnalysisMoisture">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of moisture content" style="font-size:20px; padding-top:5px"></span>
                    </a>
                    <div class="input-group col-sm-6">
                        <input class="form-control" asp-for="@Model.Data.Moisture" id="moisture" type="text" placeholder="@Model.Data.BookValues.Moisture" />
                    </div>
                    <span asp-validation-for="@Model.Data.Moisture" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="@Model.Data.Nitrogen">N&nbsp;(%)</label>
                    <a href="#!" data-toggle="tooltip" title="@Model.Data.ExplainNutrientAnalysisNitrogen" id="toolTipExplainNutrientAnalysisNitrogen">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of nitrogen content" style="font-size:20px; padding-top:5px"></span>
                    </a>
                    <div class="input-group col-sm-6">
                        <input class="form-control" asp-for="@Model.Data.Nitrogen" id="nitrogen" type="text" placeholder="@Model.Data.BookValues.Nitrogen" />
                    </div>
                    <span asp-validation-for="@Model.Data.Nitrogen" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="@Model.Data.Ammonia">NH<sub>4</sub>-N&nbsp;(ppm)</label>
                    <a href="#!" data-toggle="tooltip" title="@Model.Data.ExplainNutrientAnlalysisAmmonia" id="toolTipExplainNutrientAnlalysisAmmonia">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of NH4-N content" style="font-size:20px; padding-top:5px"></span>
                    </a>
                    <div class="input-group col-sm-6">
                        <input class="form-control" asp-for="@Model.Data.Ammonia" id="ammonia" type="text" placeholder="@Model.Data.BookValues.Ammonia" />
                    </div>
                    <span asp-validation-for="@Model.Data.Ammonia" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="@Model.Data.Phosphorous">P&nbsp;(%)</label>
                    <a href="#!" data-toggle="tooltip" title="@Model.Data.ExplainNutrientAnlalysisPhosphorous" id="toolTipExplainNutrientAnlalysisPhosphorous">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of P content" style="font-size:20px; padding-top:5px"></span>
                    </a>
                    <div class="input-group col-sm-6">
                        <input class="form-control" asp-for="@Model.Data.Phosphorous" id="phosphorous" type="text" placeholder="@Model.Data.BookValues.Phosphorous" />
                    </div>
                    <span asp-validation-for="@Model.Data.Phosphorous" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-2">
                    <label asp-for="@Model.Data.Potassium">K&nbsp;(%)</label>
                    <a href="#!" data-toggle="tooltip" title="@Model.Data.ExplainNutrientAnlalysisPotassium" id="toolTipExplainNutrientAnlalysisPotassium">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of K content" style="font-size:20px; padding-top:5px"></span>
                    </a>
                    <div class="input-group col-sm-6">
                        <input class="form-control" asp-for="@Model.Data.Potassium" id="potassium" type="text" placeholder="@Model.Data.BookValues.Potassium" />
                    </div>
                    <span asp-validation-for="@Model.Data.Potassium" class="text-danger"></span>
                </div>
                @if (Model.Data.ShowNitrate)
                {
                    <div class="form-group col-sm-2">
                        <label asp-for="@Model.Data.Nitrate">NO<sub>3</sub>-N&nbsp;(ppm)</label>
                        <div class="input-group col-sm-6">
                            <input class="form-control" asp-for="@Model.Data.Nitrate" id="nitrate" type="text" placeholder="@Model.Data.Nitrate" />
                        </div>
                        <span asp-validation-for="@Model.Data.Nitrate" class="text-danger"></span>
                    </div>
                }
            </div>
        </div>
    }
    else if (Model.Data.SelectedNutrientAnalysis > 0)
    {
        <div class="row">
            <div style="clear:both"></div>
            <div class="form-group">
                <div class="form-group col-sm-2">
                    <label>Moisture&nbsp;(%)</label>
                    <a href="#" data-toggle="tooltip" title="@Model.Data.ExplainNutrientAnalysisMoisture" id="toolTipExplainNutrientAnalysisMoisture">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of moisture content" style="font-size:20px; padding-top:5px"></span>
                    </a>
                    <div class="input-group col-sm-6">
                        <span>@Model.Data.BookValues.Moisture</span>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label>N&nbsp;(%)</label>
                    <a href="#" data-toggle="tooltip" title="@Model.Data.ExplainNutrientAnalysisNitrogen" id="toolTipExplainNutrientAnalysisNitrogen">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of nitrogen content" style="font-size:20px; padding-top:5px"></span>
                    </a>
                    <div class="input-group col-sm-6">
                        <div>@Model.Data.BookValues.Nitrogen</div>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label>NH<sub>4</sub>-N&nbsp;(ppm)</label>
                    <a href="#" data-toggle="tooltip" title="@Model.Data.ExplainNutrientAnlalysisAmmonia" id="toolTipExplainNutrientAnlalysisAmmonia">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of NH4-N content" style="font-size:20px; padding-top:5px"></span>
                    </a>
                    <div class="input-group col-sm-6">
                        <div>@Model.Data.BookValues.Ammonia</div>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label>P&nbsp;(%)</label>
                    <a href="#" data-toggle="tooltip" title="@Model.Data.ExplainNutrientAnlalysisPhosphorous" id="toolTipExplainNutrientAnlalysisPhosphorous">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of P content" style="font-size:20px; padding-top:5px"></span>
                    </a>
                    <div class="input-group col-sm-6">
                        <div>@Model.Data.BookValues.Phosphorous</div>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label>K&nbsp;(%)</label>
                    <a href="#" data-toggle="tooltip" title="@Model.Data.ExplainNutrientAnlalysisPotassium" id="toolTipExplainNutrientAnlalysisPotassium">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of K content" style="font-size:20px; padding-top:5px"></span>
                    </a>
                    <div class="input-group col-sm-6">
                        <div>@Model.Data.BookValues.Potassium</div>
                    </div>
                </div>
            </div>
        </div>
        <input class="form-control" asp-for="@Model.Data.ManureName" id="manureName" type="hidden" />
    }
    <div class="modal-footer">
        <div class="float-right">
            <input class="btn btn-primary" type="submit" value="Save" data-save="razor-page-modal" id="btnSave" />
        </div>
    </div>
</div>
@*Need to be explicit with ID because Data_ is appended to these elements*@
<input type="hidden" asp-for="Data.Id" />
<input type="hidden" asp-for="Data.PostedElementEvent" id="PostedElementEvent" />
<input type="hidden" asp-for="Data.UseBookValue" />
<input type="hidden" asp-for="Data.ManureClass" />
<input type="hidden" asp-for="Data.SolidLiquid" />
<input type="hidden" asp-for="Data.OnlyCustom" />