@model NavigationDetailViewModel

<!--MAIN MENU-->
<div style="background: #c1daea;">
    <div class="top-level-nav">
        <ul class="top-level-nav">
            <li style="padding:0 40px 0 0">
                <a href='@Url.Action("Index", "Home")' style="padding-left: 0px">
                    <span>Home</span>
                </a>
            </li>
            @foreach (var item in Model.mainMenuOptions)
            {
            <li id="@item.Controller@item.Action@item.Id" style="text-align: center">
                @{
                    var current = item.IsCurrentMainMenu(ViewContext.RouteData.Values["Action"].ToString()) ? "current" : string.Empty;
                    var linkClass = item.GreyOutText ? "top-level-nav-greyedout" : string.Empty;
                }
                <a id="@current" href='@Url.Action(@item.Action, @item.Controller)' class="@linkClass">
                    @item.Name
                </a>
            </li>
            }
            <li class="continue-link">
                <a href='@Url.Action("Report", "Report")'><u>Continue later</u></a>
            </li>
        </ul>
    </div>
</div>
<!--MAIN MENU-->
<!--SUB MENU-->
<div style="background: #f2f2f2;">
    <div class="second-level-nav">
        <div class="col-lg-offset-2 col-lg-10">
            <ul class="second-level-nav">
                @foreach (var item in Model.subMenuOptions)
                {
                    if (@item.MainMenuId == 2 || @item.MainMenuId == 3)
                    {
                        var current = item.IsSubMenuCurrent(ViewContext.RouteData.Values["Action"].ToString()) ? "current2" : string.Empty;
                        var linkClass = item.GreyOutText ? "second-level-nav-greyedout" : string.Empty;
                        <li id="@item.Controller@item.Action@item.Id" style="display:none">
                            <a id="@current" href='@Url.Action(@item.Action, @item.Controller)' class="@linkClass">
                                <span>@item.Name</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>