@model NavigationDetailViewModel

<!--MAIN MENU-->
<div style="background: #c1daea;">
    <div class="top-level-nav">
        <ul class="top-level-nav">
            <li style="padding:0 40px 0 0">
                @*<a href='@Url.Action("Index", "Home")' data_modal2="" style="padding-left: 0px">
                    <span>Home</span>
                </a>*@
                <input type="button" data_modal2="" data-type="@Url.Action("NewWarning", "Home")" value="Home" />
                @*<button class="form-box-submit-button btn btn-primary" id="startBtn" style="width:90px;" data_modal2="" type="button" data-type="@Url.Action("NewWarning", "Home")">Start</button>*@
            </li>
            @foreach (var item in Model.mainMenuOptions)
            {
                <li id="@item.Controller@item.Action@item.Id" style="text-align: center">
                    @{
                        var current = item.IsCurrentMainMenu(ViewContext.RouteData.Values["Action"].ToString()) ? "current" : string.Empty;
                    }
                    <a id="@current" href='@Url.Action(@item.Action, @item.Controller)'>
                        @item.Name
                    </a>
                </li>
            }
            <li class="continue-link">
                <a href='@Url.Action("Report", "Report")'><u>Continue later</u></a>
            </li>
        </ul>
    </div>
</div>
<!--MAIN MENU-->
<!--SUB MENU-->
<div style="background: #f2f2f2;">
    <div class="second-level-nav">
        <div class="col-lg-offset-2 col-lg-10">
            <ul class="second-level-nav">
                @foreach (var item in Model.subMenuOptions)
                {
                    if (@item.MainMenuId == 2 || @item.MainMenuId == 3)
                    {
                        var current = item.IsSubMenuCurrent(ViewContext.RouteData.Values["Action"].ToString()) ? "current2" : string.Empty;
                        <li id="@item.Controller@item.Action@item.Id" style="display:none">
                            <a id="@current" href='@Url.Action(@item.Action, @item.Controller)'>
                                <span>@item.Name</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
