@model SERVERAPI.ViewModels.CropDetailsViewModel

@{
    Layout = null;
}
<div id="target">
    <form asp-action="CropDetails" asp-controller="Crops" id="modForm" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="myModalLabel">Crop Details - @Model.title</h2>
        </div>

        <div class="modal-body">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="form-group col-sm-4">
                        <label for="ddlTyp">Crop Type</label>
                        <select class="form-control" asp-for="selTypOption" asp-items="@(new SelectList(Model.typOptions,"Id","Value"))" id="ddlTyp">
                            <option>select</option>
                        </select>
                        <span asp-validation-for="selTypOption" class="text-danger"></span>
                    </div>
                    @if (Model.manEntry)
                    {
                        <div class="form-group col-sm-4">
                            <label asp-for="cropDesc">Crop Description</label>
                            <div class="input-group col-sm-12">
                                <input class="form-control col-sm-12" asp-for="cropDesc" id="cropDesc" type="text" />
                            </div>
                            <span asp-validation-for="cropDesc" class="text-danger"></span>
                        </div>
                        @Html.HiddenFor(x => x.selCropOption)

                    }
                    else
                    {
                        <div class="form-group col-sm-4">
                            <label for="ddlCrop">Crop</label>
                            <select class="form-control" asp-for="selCropOption" asp-items="@(new SelectList(Model.cropOptions,"Id","Value"))" id="ddlCrop"></select>
                            <span asp-validation-for="selCropOption" class="text-danger"></span>
                        </div>
                        @Html.HiddenFor(x => x.cropDesc)
                    }

                    <div class="form-group col-sm-2">
                        <label id="labelYieldByHarvestUnit">Yield</label>
                        <div class="input-group">
                            <input class="form-control" asp-for="yieldByHarvestUnit" id="yieldByHarvestUnit" type="text" aria-labelledby="labelYieldByHarvestUnit labelUnitForYieldByHarvestUnit" />
                            @if (!Model.stdYield)
                            {
                                <span class="input-group-btn" title="Reset to standard value">
                                    <button class="btn btn-default" type="button" id="rstYield" style="background-color:orange"><i class="glyphicon glyphicon-refresh" style="background-color:orange"></i></button>
                                </span>
                            }
                        </div>
                        @if (!Model.showHarvestUnitsDDL)
                        {
                            <label id="labelUnitForYieldByHarvestUnit">tons/ac&nbsp;@Model.yieldUnit</label>
                        }
                        <span asp-validation-for="yieldByHarvestUnit" class="text-danger"></span>
                    </div>
                    @if (Model.showHarvestUnitsDDL)
                    {
                        <div class="form-group col-sm-2" style="padding-right:0px">
                            <div style="display:table; width:100%">
                                <div style="display:table-row">
                                    <label for="ddlHarvestUnits">Units</label>
                                </div>
                                <div style="display:table-row">
                                    <select class="form-control" asp-for="selHarvestUnits" asp-items="@(new SelectList(Model.harvestUnitsOptions,"Id","Value"))" id="ddlHarvestUnits" style="width:70%; display:inline; vertical-align:top"></select>
                                    <br />
                                </div>
                                <span asp-validation-for="selHarvestUnits" class="text-danger" for="ddlHarvestUnits"></span>
                            </div>
                        </div>
                    }
                    @if (Model.showCrude)
                    {
                        <div class="form-group col-sm-2">
                            <label asp-for="crude">Crude Protein (%)</label>
                            <div class="input-group col-sm-12">
                                <input class="form-control" asp-for="crude" id="crude" type="text" />
                                @if (!Model.stdCrude)
                                {
                                    <span class="input-group-btn" title="Reset to standard value">
                                        <button class="btn btn-default" type="button" id="rstCrude" style="background-color:orange"><i class="glyphicon glyphicon-refresh" style="background-color:orange"></i></button>
                                    </span>
                                }
                            </div>
                            <span asp-validation-for="crude" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(x => x.crude)
                    }
                </div>
                @if (Model.isBerry)
                {
                    @if (Model.crop == "Blueberry")
                    {
                        <div style="clear:both"></div>
                        <div class="row" style="margin-bottom: 1.5em;">
                            <div class="form-group col-sm-3">
                                <label for="ddlPlantAgeYears">Plant age (years)</label>
                                <select class="form-control" asp-for="selPlantAgeYears" asp-items="@(new SelectList(Model.plantAgeYears, "Id", "Value"))" id="ddlPlantAgeYears">
                                    <option>select</option>
                                </select>
                                <span asp-validation-for="selPlantAgeYears" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="ddlNumberOfPlantsPerAcre"># of plants per acre</label>
                                <select class="form-control" asp-for="selNumberOfPlantsPerAcre" asp-items="@(new SelectList(Model.numberOfPlantsPerAcre, "Id", "Value"))" id="ddlNumberOfPlantsPerAcre">
                                    <option>select</option>
                                </select>
                                <span asp-validation-for="selNumberOfPlantsPerAcre" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-5">
                                <label for="ddlDistanceBtwnPlantsRows">Distance between plants, distance between rows</label>
                                <select class="form-control" asp-for="selDistanceBtwnPlantsRows" asp-items="@(new SelectList(Model.distanceBtwnPlantsRows, "Id", "Value"))" id="ddlDistanceBtwnPlantsRows">
                                    <option>select</option>
                                </select>
                                <span asp-validation-for="selDistanceBtwnPlantsRows" class="text-danger"></span>
                            </div>
                        </div>
                    }
                    <div style="clear:both"></div>
                    <div class="row" style="margin-bottom: 1.5em;">
                        <div class="form-group col-sm-3">
                            <br/>
                            <label for="ddlillPlantsBePruned">Will plants be pruned?</label>
                            <select class="form-control" asp-for="selWillPlantsBePruned" asp-items="@(new SelectList(Model.willPlantsBePruned, "Id", "Value"))" id="ddlillPlantsBePruned">
                                <option>select</option>
                            </select>
                            <span asp-validation-for="selWillPlantsBePruned" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-3">
                            <br />
                            <label for="ddlWhereWillPruningsGo">Where will prunings go?</label>
                            <select class="form-control" asp-for="selWhereWillPruningsGo" asp-items="@(new SelectList(Model.whereWillPruningsGo, "Id", "Value"))" id="ddlWhereWillPruningsGo">
                                <option>select</option>
                            </select>
                            <span asp-validation-for="selWhereWillPruningsGo" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="ddlWillSawdustBeApplied" style="margin-bottom:auto">Will sawdust have been applied</label><br />
                            <label for="ddlWillSawdustBeApplied">in the fall prior to fertilization?</label>
                            <select class="form-control" asp-for="selWillSawdustBeApplied" asp-items="@(new SelectList(Model.willSawdustBeApplied, "Id", "Value"))" id="ddlWillSawdustBeApplied">
                                <option>select</option>
                            </select>
                            <span asp-validation-for="selWillSawdustBeApplied" class="text-danger"></span>
                        </div>
                    </div>
                }
                @if (!Model.isBerry)
                {
                    <div class="form-group">
                        @if (!Model.manEntry)
                        {
                            <div class="form-group col-sm-5">
                                <label for="ddlPrev">@Model.nCreditLabel</label>
                                <select class="form-control" asp-for="selPrevOption" asp-items="@(new SelectList(Model.prevOptions, "Id", "Value"))" id="ddlPrev">
                                    @if (Model.prevOptions.Count() > 1)
                                    {
                                        <option>select</option>
                                    }
                                </select>
                                <span asp-validation-for="selPrevOption" class="text-danger" for="ddlPrev"></span>
                            </div>
                            <div class="form-group col-sm-2">
                                <div style="text-align:center">
                                    <label id="labelNCredit">N credit (lb/ac)</label>
                                </div>
                                <div style="text-align:center; padding-top:10px;" aria-labelledby="labelNCredit">
                                    <span style="font-weight: bold">@Model.nCredit</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-7">
                                @Html.HiddenFor(x => x.selPrevOption)
                            </div>
                        }
                        @if (Model.coverCrop)
                        {
                            <div class="form-group col-sm-5">
                                <label id="labelCoverCropHarvested">Cover crop harvested?</label>
                                <div class="radio" role="radiogroup" aria-labelledby="labelCoverCropHarvested">
                                    <label style="padding-right:20px">
                                        <input asp-for="coverCropHarvested" type="radio" value="true" id="coverYes" /> Yes
                                    </label>
                                    <label>
                                        <input asp-for="coverCropHarvested" type="radio" value="false" id="coverNo" /> No
                                    </label>
                                </div>
                                <span asp-validation-for="coverCropHarvested"></span>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(x => x.cropDesc)
                        }
                    </div>
                    <div style="clear:both; margin-top: 6.2em;"></div>
                    @if (Model.manEntry)
                    {
                        <div class="form-group col-sm-4" style="margin:10px">
                            <div class="Table">
                                <div class="Title">
                                    <p>Crop Requirement (lb/ac)</p>
                                </div>
                                <div class="Heading">
                                    <div class="Cell">
                                        <p>N</p>
                                    </div>
                                    <div class="Cell">
                                        <p>P<sub>2</sub>O<sub>5</sub></p>
                                    </div>
                                    <div class="Cell">
                                        <p>K<sub>2</sub>O</p>
                                    </div>
                                </div>
                                <div class="Row">
                                    <div class="Cell2">
                                        <div class="input-group col-sm-12">
                                            <input class="form-control col-sm-12" asp-for="reqN" type="text" id="reqN" />
                                        </div>
                                        <span asp-validation-for="reqN" class="text-danger"></span>
                                    </div>
                                    <div class="Cell2">
                                        <div class="input-group col-sm-12">
                                            <input class="form-control col-sm-12" asp-for="reqP2o5" type="text" id="reqP" />
                                        </div>
                                        <span asp-validation-for="reqP2o5" class="text-danger"></span>
                                    </div>
                                    <div class="Cell2">
                                        <div class="input-group col-sm-12">
                                            <input class="form-control col-sm-12" asp-for="reqK2o" type="text" id="reqK" />
                                        </div>
                                        <span asp-validation-for="reqK2o" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4" style="margin:10px">
                            <div class="Table">
                                <div class="Title">
                                    <p>Nutrient Removal (lb/ac)</p>
                                </div>
                                <div class="Heading">
                                    <div class="Cell">
                                        <p>N</p>
                                    </div>
                                    <div class="Cell">
                                        <p>P<sub>2</sub>O<sub>5</sub></p>
                                    </div>
                                    <div class="Cell">
                                        <p>K<sub>2</sub>O</p>
                                    </div>
                                </div>
                                <div class="Row">
                                    <div class="Cell2">
                                        <div class="input-group col-sm-12">
                                            <input class="form-control col-sm-12" asp-for="remN" type="text" id="remN" />
                                        </div>
                                        <span asp-validation-for="remN" class="text-danger"></span>
                                    </div>
                                    <div class="Cell2">
                                        <div class="input-group col-sm-12">
                                            <input class="form-control col-sm-12" asp-for="remP2o5" type="text" id="remP" />
                                        </div>
                                        <span asp-validation-for="remP2o5" class="text-danger"></span>
                                    </div>
                                    <div class="Cell2">
                                        <div class="input-group col-sm-12">
                                            <input class="form-control col-sm-12" asp-for="remK2o" type="text" id="remK" />
                                        </div>
                                        <span asp-validation-for="remK2o" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group col-sm-4" style="margin:10px">
                            <div class="Table">
                                <div class="Title">
                                    <p>Crop Requirement (lb/ac)</p>
                                </div>
                                <div class="Heading">
                                    <div class="Cell">
                                        <p>N</p>
                                    </div>
                                    <div class="Cell">
                                        <p>P<sub>2</sub>O<sub>5</sub></p>
                                    </div>
                                    <div class="Cell">
                                        <p>K<sub>2</sub>O</p>
                                    </div>
                                </div>
                                <div class="Row">
                                    @if (Model.modNitrogen)
                                    {
                                        <div class="Cell2" style="vertical-align:middle;text-align:center">
                                            <div class="input-group col-sm-12">
                                                <input class="form-control col-sm-8" asp-for="reqN" type="text" id="reqN" />
                                                @if (!Model.stdN)
                                                {
                                                    <span class="input-group-btn" title="Reset to standard value">
                                                        <button class="btn btn-default" type="button" id="rstN" style="background-color:orange"><i class="glyphicon glyphicon-refresh" style="background-color:orange"></i></button>
                                                    </span>
                                                }
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="Cell" style="vertical-align:middle;padding-top:8p;text-align:centerx">
                                            <p>@Model.reqN</p>
                                        </div>
                                    }
                                    <div class="Cell" style="vertical-align:middle;padding-top:8px;text-align:center">
                                        <p>@Model.reqP2o5</p>
                                    </div>
                                    <div class="Cell" style="vertical-align:middle;padding-top:8px;text-align:center">
                                        <p>@Model.reqK2o</p>
                                    </div>
                                </div>
                                <div class="Row">
                                    @if (Model.modNitrogen)
                                    {
                                        <div class="Cell2">
                                            <span asp-validation-for="reqN" class="text-danger"></span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4" style="margin:10px">
                            <div class="Table">
                                <div class="Title">
                                    <p>Nutrient Removal (lb/ac)</p>
                                </div>
                                <div class="Heading">
                                    <div class="Cell">
                                        <p>N</p>
                                    </div>
                                    <div class="Cell">
                                        <p>P<sub>2</sub>O<sub>5</sub></p>
                                    </div>
                                    <div class="Cell">
                                        <p>K<sub>2</sub>O</p>
                                    </div>
                                </div>
                                <div class="Row">
                                    <div class="Cell" style="vertical-align:middle;padding-top:8px;text-align:center">
                                        <p>@Model.remN</p>
                                    </div>
                                    <div class="Cell" style="vertical-align:middle;padding-top:8px;text-align:center">
                                        <p>@Model.remP2o5</p>
                                    </div>
                                    <div class="Cell" style="vertical-align:middle;padding-top:8px;text-align:center">
                                        <p>@Model.remK2o</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="ok_button" @(Model.btnText == "Calculate" ? Html.Raw(" style='background-color: #1abbed'") : Html.Raw(""))>@Model.btnText</button>
        </div>
        @Html.HiddenFor(x => x.title)
        @Html.HiddenFor(x => x.id)
        @Html.HiddenFor(x => x.fieldName)
        @Html.HiddenFor(x => x.buttonPressed)
        @Html.HiddenFor(x => x.showCrude)
        @Html.HiddenFor(x => x.btnText)
        @Html.HiddenFor(x => x.reqN)
        @Html.HiddenFor(x => x.reqP2o5)
        @Html.HiddenFor(x => x.reqK2o)
        @Html.HiddenFor(x => x.remN)
        @Html.HiddenFor(x => x.remP2o5)
        @Html.HiddenFor(x => x.remK2o)
        @Html.HiddenFor(x => x.yieldUnit)
        @Html.HiddenFor(x => x.manEntry)
        @Html.HiddenFor(x => x.stdCrude)
        @Html.HiddenFor(x => x.nCredit)
        @Html.HiddenFor(x => x.modNitrogen)
        @Html.HiddenFor(x => x.stdN)
        @Html.HiddenFor(x => x.stdNAmt)
        @Html.HiddenFor(x => x.nCreditLabel)
        @Html.HiddenFor(x => x.stdYield)
        @Html.HiddenFor(x => x.showHarvestUnitsDDL)
        @Html.HiddenFor(x => x.yield)
        @Html.HiddenFor(x => x.isBerry)
        @Html.HiddenFor(x => x.crop)
    </form>
</div>

<script>
    $(document).ready(function () {
        $("body").on("change", "#ddlNumberOfPlantsPerAcre", function () {
            $('#buttonPressed').val("NumberOfPlantsPerAcreChange");
            $("#modForm").submit();
        })
    });

    $(document).ready(function () {
        $("body").on("change", "#ddlDistanceBtwnPlantsRows", function () {
            $('#buttonPressed').val("DistanceBtwnPlantsRowsChange");
            $("#modForm").submit();
        })
    });

    $(document).on('change', '#ddlPlantAgeYears', function () {
        RequireCalculate();
    });

    $(document).on('change', '#ddlillPlantsBePruned', function (event) {
        const $this = $(this);
        setPlantPruningSelectValues($this);
        RequireCalculate();
    });

    $(document).on('change', '#ddlWhereWillPruningsGo', function () {
        RequireCalculate();
    });

    $(document).on('change', '#ddlWillSawdustBeApplied', function () {
        RequireCalculate();
    });

    $(document).ready(function () {
        $("body").on("keyup", "#yieldByHarvestUnit", function () {
            RequireCalculate();
        })
    });

    function RequireCalculate() {
        $("#ok_button").html('Calculate');
        $("#ok_button").css('background-color', '#1abbed');
        $("#btnText").val("Calculate");
    }

    function setPlantPruningSelectValues($this) {
        const currentSelectValue = $this.val();
        
        if (currentSelectValue === "1") {
            $("#ddlWhereWillPruningsGo").empty();
            $("#ddlWhereWillPruningsGo").append(
                $('<option>', {
                    value: '0',
                    text: 'N/A'
                })
            );
        }

        if (currentSelectValue === "0") {
            $("#ddlWhereWillPruningsGo").empty();
            $("#ddlWhereWillPruningsGo").append(
                $('<option>', {
                    value: '',
                    text: 'select'
                }));
            $("#ddlWhereWillPruningsGo").append(
                $('<option>', {
                    value: '1',
                    text: 'Removed from field'
                }));
            $("#ddlWhereWillPruningsGo").append(
                $('<option>', {
                    value: '2',
                    text: 'Left in row"'
                }));
            $("#ddlWhereWillPruningsGo").append(
                $('<option>', {
                    value: '3',
                    text: 'Left between rows'
                }));
        }
    }
</script>
