@model CalcSummaryViewModel

@if (Model.summaryReqd)
{
    <div class="Row">
        <div class="Cell3">
            <hr style="width: 100%; color: darkgray; height: 1px; background-color:darkgray;" />
        </div>
        <div class="Cell3">
            <hr style="width: 100%; color: darkgray; height: 1px; background-color:darkgray;" />
        </div>
        <div class="Cell3">
            <hr style="width: 100%; color: darkgray; height: 1px; background-color:darkgray;" />
        </div>
        <div class="Cell3">
        </div>
        <div class="Cell3">
        </div>
    </div>
    <div class="Row">
        <div class="Cell2">
            <div class="Table">
                <p>Balance</p>
            </div>
        </div>
        <div class="Cell2">
            <div class="Table">
                <div class="TableBody">
                    <div class="Row">
                        <div class="Cell2" style="width:30%; text-align:center; vertical-align:baseline; height:15px">
                            @Model.reqN
                            @if (!string.IsNullOrEmpty(Model.reqNIcon))
                            {
                                <img src="~/images/@(Model.reqNIcon).svg" />
                            }
                        </div>
                        <div class="Cell2" style="width:30%; text-align:center; vertical-align:baseline; height:15px">
                            @Model.reqP
                            @if (!string.IsNullOrEmpty(Model.reqPIcon))
                            {
                                <img src="~/images/@(Model.reqPIcon).svg" />
                            }
                        </div>
                        <div class="Cell2" style="width:30%; text-align:center; vertical-align:baseline; height:15px">
                            @Model.reqK
                            @if (!string.IsNullOrEmpty(Model.reqKIcon))
                            {
                                <img src="~/images/@(Model.reqKIcon).svg" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Cell2">
            <div class="Table">
                <div class="TableBody">
                    <div class="Row">
                        <div class="Cell2" style="width:30%; text-align:center; vertical-align:text-bottom; height:15px">
                            <span style="padding-top:4px">@Model.remN</span>
                            @if (!string.IsNullOrEmpty(Model.remNIcon))
                            {
                                <img src="~/images/@(Model.remNIcon).svg" />
                            }
                        </div>
                        <div class="Cell2" style="width:30%; text-align:center; vertical-align:text-bottom; height:15px">
                            @Model.remP
                            @if (!string.IsNullOrEmpty(Model.remPIcon))
                            {
                                <img src="~/images/@(Model.remPIcon).svg" />
                            }
                        </div>
                        <div class="Cell2" style="width:30%; text-align:center; vertical-align:text-bottom; height:15px">
                            @Model.remK
                            @if (!string.IsNullOrEmpty(Model.remKIcon))
                            {
                                <img src="~/images/@(Model.remKIcon).svg" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Cell2">
        </div>
        <div class="Cell2">
        </div>
    </div>
}
