@model SERVERAPI.Pages.Ranch.RanchFeeding.CreateEdit
<div class="col-sm-12">
    <div class="form-group col-sm-4">
        <label asp-for="@Model.Data.FeedType">Feed/forage Type</label>
        <div>
            <select class="form-control" asp-for="@Model.Data.FeedType">
                <option>select</option>
                <option>Test1</option>
                <option>SATest12</option>
                <option>Test123</option>
                <option>Test1234</option>
            </select>
            @*<span asp-validation-for="@Model.Data.FeedType1"></span>*@
        </div>
    </div>
    <div class="form-group col-sm-4">
        <label asp-for="@Model.Data.ForageName">Feed/forage</label>
        <div>
            <select class="form-control" asp-for="@Model.Data.ForageName">
                <option>select</option>
                <option>Test1</option>
                <option>Test12</option>
                <option>Test123</option>
                <option>Test1234</option>
            </select>
            @*<span asp-validation-for="@Model.Data.ForageName1"></span>*@
        </div>
    </div>
    <div class="col-sm-12">
        <label class="form-box-heading mb-3">Feed/forage Analysis</label>
    </div>
    <div class="form-group col-sm-5">
        <label style="padding-right: 20px">
            Use Book Analysis
            <input type="radio" asp-for="@Model.Data.IsBookAnalysis" value="true" />
        </label>
    </div>
    <div class="form-group col-sm-5">
        <label style="padding-right: 20px">
            Use Custom Values
            <input type="radio" asp-for="@Model.Data.IsCustomValues" value="true" />
        </label>
    </div>

    @*<div class="form-group col-sm-4">
            <div class="col-sm-12" style="padding-left:0px !important;">
                <div class="form-group-right-side-label">
                    <input type="text" class="form-control" />
                    <span class="right-side-label-span" style="width:586px;padding:5px;">% Dry Matter (DM)</span>
                </div>
            </div>
        </div>*@
    <div class="form-group col-sm-4">
        <div class="col-sm-12" style="padding-left:0px !important;">
            <div class="form-group-right-side-label">
                <input type="text" class="form-control" />
                <span class="right-side-label-span" style="width:597px;padding:5px;">% Crude protein (CP)</span>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-2">
        <div class="col-sm-12" style="padding-left:0px !important;">
            <div class="form-group-right-side-label">
                <input type="text" class="form-control" />
                <span class="right-side-label-span" style="padding:5px;width:10px">%&nbsp;P</span>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-2">
        <div class="col-sm-12" style="padding-left:0px !important;">
            <div class="form-group-right-side-label">
                <input type="text" class="form-control" />
                <span class="right-side-label-span" style="padding:5px;width:10px">%&nbsp;K</span>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <div class="col-sm-12" style="padding-left:0px !important;">
            <div class="form-group-right-side-label">
                <input type="text" class="form-control" />
                <span class="right-side-label-span" style="width:1970px;padding:0px;">
                    &nbsp;%&nbsp;of total feed/forage provided to animals
                    <a href="#" data-toggle="tooltip" id="toolTipDailyFeedWarning">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Daily Feed Requirement" style="font-size:20px; padding-top:5px"></span>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-4">
        <div class="col-sm-12" style="padding-left:0px !important;">
            <div class="form-group-right-side-label">
                <input type="text" class="form-control" />
                <span class="right-side-label-span" style="width:496px;padding:0px;">
                    &nbsp;%&nbsp;feed/forage wastage
                    <a href="#" data-toggle="tooltip" id="toolTipDailyFeedWarning">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Daily Feed Requirement" style="font-size:20px; padding-top:5px"></span>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-12">
        <div class="col-sm-4">&nbsp;&nbsp;</div>
        <button class="btn btn-default col-sm-4" type="button" data-toggle="razor-page-modal">Add Another Feed/Forage</button>
        <div class="col-sm-4">&nbsp;&nbsp;</div>
    </div>
</div>
<div class="col-sm-12">
    <hr style="border:0.2px solid lightgray" />
</div>
<div class="modal-footer" style="border:0px;">
    <button class="btn" type="button" data-dismiss="modal">Cancel</button>
    <input class="btn btn-primary" type="submit" value="Save" data-save="razor-page-modal" />
</div>