@page
@using Agri.Models
@model SERVERAPI.Pages.Ranch.RanchFeeding.Index
@{
    ViewData["HeaderTitle"] = "Feeding Areas";
    Layout = "_PageLayout";
}
<div class="form-box-body">
    <div class="form-box-table">
        <div class="form-box-table-header form-box-table-row row row-eq-height">
            <div class="col-sm-2 form-box-table-cell">
                &nbsp;
            </div>
            <div class="col-sm-3 form-box-table-cell">
                <strong>
                    Nutrient additions (lb/ac)
                    <a href="#!" data-toggle="tooltip" title="@Model.Data.ExplainFeedArea" id="toolTipFeedingAreaWarning">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Nutrient" style="font-size:20px; padding-top:5px"></span>
                    </a>
                </strong>
            </div>
            <div class="col-sm-7">
                &nbsp;
            </div>
        </div>
        <div class="form-box-table-header form-box-table-row row row-eq-height">
            <div class="col-sm-2 form-box-table-cell text-left">
                <strong>Field Name</strong>
            </div>
            <div class="col-sm-3 form-box-table-cell">
                <strong>N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P<sub>2</sub>O<sub>5</sub>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;K<sub>2</sub>O</strong>
            </div>
            <div class="col-sm-7">
                &nbsp;
            </div>
        </div>
        @foreach (var item in Model?.Data?.Fields)
        {
            <div class="form-box-table-row row row-eq-height">
                <div class="col-sm-2 form-box-table-cell text-left">
                    @item.FieldName
                </div>
                @if (item.isFeedForageAvailable)
                {
                    <div class="col-sm-3 form-box-table-cell">
                        @item.NBalance &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @item.P205Balance&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item.K20Balance
                    </div>
                    <div class="col-sm-7">

                        <button title="Edit" aria-label="Edit" class="form-box-table-button" type="button" data-toggle="razor-page-modal" data-url="@Url.Page("CreateEdit", "Edit", new { fieldName = @item.FieldName })">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke-width="2"><g stroke-width="2" transform="translate(0, 0)"><line data-cap="butt" data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="14.5" y1="4.5" x2="19.5" y2="9.5" stroke-linejoin="miter" stroke-linecap="butt"></line> <line data-cap="butt" data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="3" y1="16" x2="8" y2="21" stroke-linejoin="miter" stroke-linecap="butt"></line> <path fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M8,21l-6,1l1-6 L16.586,2.414c0.781-0.781,2.047-0.781,2.828,0l2.172,2.172c0.781,0.781,0.781,2.047,0,2.828L8,21z" stroke-linejoin="miter"></path></g></svg>
                        </button>

                        <button title="Delete" aria-label="Delete" class="form-box-table-button" type="button" data-toggle="razor-page-modal" data-url="@Url.Page("Delete", "", new { fieldName = @item.FieldName})">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke-width="2"><g stroke-width="2" transform="translate(0, 0)"><polyline fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="20,9 20,23 4,23 4,9 " stroke-linejoin="miter"></polyline> <line fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="1" y1="5" x2="23" y2="5" stroke-linejoin="miter"></line> <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="12" y1="12" x2="12" y2="18" stroke-linejoin="miter"></line> <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="8" y1="12" x2="8" y2="18" stroke-linejoin="miter"></line> <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="16" y1="12" x2="16" y2="18" stroke-linejoin="miter"></line> <polyline fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="8,5 8,1 16,1 16,5 " stroke-linejoin="miter"></polyline></g></svg>
                        </button>
                    </div>
                }
                else
                {
                    <div class="col-sm-3 form-box-table-cell text-left">
                        <button class="btn btn-default" type="button" data-toggle="razor-page-modal" data-url="@Url.Page("CreateEdit", "Create", new { FieldName = @item.FieldName })">Add Feed/Forage</button>
                    </div>
                    <div class="col-sm-7">
                        &nbsp;
                    </div>
                }
            </div>
        }
    </div>
</div>
@section PreviousNextNavigation
{
    @*Ensure that the new index page is added to FeaturePages Enum and it is correct for this index page*@
    @await Component.InvokeAsync("NextPreviousNavigation", new NextPrevNavViewModel { CurrentPage = FeaturePages.RanchFeedingIndex })
}

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#toolTipFeedingAreaWarning').tooltip({
                template: toolTipClickableInnerHtml,
                html: true,
                trigger: 'manual'
            });
        });

        //Using triggerToolTip function from ~/lib/site.js
        $(document).ready(function () {
            $('#toolTipFeedingAreaWarning').click(function () {
                triggerToolTip($('#toolTipFeedingAreaWarning   '));
            });
        })
    </script>
}