@model SERVERAPI.ViewModels.ReportAnalysisViewModel

<div class="Row">
    <div class="Cell">
        <span style="font-size:16px"><b>Manure and Compost Analysis</b></span>
        <br />
        <br />
    </div>
</div>
<div class="Row">
    <div class="Cell">
        <table style="border-collapse: collapse;">
            <tr style="padding-top:20px; padding-bottom:20px">
                <td class="CellHdg">
                    Material Type
                </td>
                <td class="CellHdg" style="text-align:center">
                    Moisture (%)
                </td>
                <td class="CellHdg" style="text-align:center">
                    Total N (%)
                </td>
                <td class="CellHdg" style="text-align:center">
                    NH<sub>4</sub>-N (ppm)
                </td>
                <td class="CellHdg" style="text-align:center">
                    P (%)
                </td>
                <td class="CellHdg" style="text-align:center">
                    K (%)
                </td>
                @if (Model.nitratePresent)
                {
                    <td class="CellHdg" style="text-align:center">
                        NO<sub>3</sub>N (ppm)
                    </td>
                }
            </tr>
            @foreach (var n in Model.details)
            {
                <tr>
                    <td class="CellDtl" style="width:300px;">@n.manureName</td>
                    <td class="CellDtl" style="text-align:center; width:80px">@n.moisture</td>
                    <td class="CellDtl" style="text-align:center; width:80px">@n.nitrogen</td>
                    <td class="CellDtl" style="text-align:center; width:80px">@n.ammonia</td>
                    <td class="CellDtl" style="text-align:center; width:80px">@n.phosphorous</td>
                    <td class="CellDtl" style="text-align:center; width:80px">@n.potassium</td>
                    @if (Model.nitratePresent)
                    {
                        <td class="CellDtl" style="text-align:center; width:80px">@n.nitrate</td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
