@model SERVERAPI.ViewModels.ReportFieldsViewModel

<div class="Row">
    <div class="Cell">
        <span style="font-size:20px"><b>Detailed Field Reports</b></span>
        <br />
    </div>
</div>
<div class="Row">
    <div class="Cell">
            @foreach (var f in Model.fields)
            {
                <br />
                <table style="border-collapse: collapse;">
                    <tr>
                        <td>
                            <span style="font-size:large"><u>Field: @f.fieldName</u></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Area: @f.fieldArea ac
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.year crop: @f.fieldCrops
                        </td>
                    </tr>
                </table>
                <br />
                <table style="border-collapse: collapse; width: 70%">
                    <tr>
                        <td style="width:45%; border-bottom: 1px solid black">
                            <span style="font-size:10px">Soil Test Results: </span>
                        </td>
                        <td style="width:10%">
                            &nbsp;
                        </td>
                        <td style="width:45%; border-bottom: 1px solid black">
                            <span style="font-size:10px">Field Comments:</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        Nitrogen: @f.soiltest.dispNO3H
                                    </td>
                                    <td>
                                        Phosphorus: @f.soiltest.dispP
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Potassium: @f.soiltest.dispK
                                    </td>
                                    <td>
                                        pH: @f.soiltest.dispPH
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td></td>
                        <td>
                            @f.fieldComment
                        </td>
                    </tr>
                </table>
                <br />
                <table style="border-collapse: collapse;">
                    <tr>
                        <td colspan="4">
                            <span style="font-size: 16px">Nutrient Application Plan: @Model.year</span>
                        </td>
                    </tr>
                    <tr style="border: 1px solid black; background-color:skyblue;">
                        <td style="width:250px; border: 1px solid black; background-color:skyblue; padding:5px">
                            <b>Nutrient Source</b>
                        </td>
                        <td style="width:250px; border: 1px solid black; background-color:skyblue; padding:5px">
                            <b>Application Timing</b>
                        </td>
                        <td style="width:250px; border: 1px solid black; background-color:skyblue; padding:5px">
                            <b>Method</b>
                        </td>
                        <td colspan="2" style="text-align:center; width:200px; border: 1px solid black; background-color:skyblue;">
                            <b>Rate</b>
                        </td>
                    </tr>
                    @foreach (var n in f.nutrients)
                    {
                        <tr>
                            <td style="width:250px; border: 1px solid black; padding:5px">@n.nutrientName</td>
                            <td style="width:250px; border: 1px solid black; padding:5px">@n.nutrientSeason</td>
                            <td style="width:250px; border: 1px solid black; padding:5px">@n.nutrientApplication</td>
                            <td style="text-align:right; width:100px; border: 1px solid black; padding:5px">@n.nutrientAmount</td>
                            <td style="text-align:left; width:100px; border: 1px solid black; padding:5px">@n.nutrientUnit</td>
                        </tr>
                    }
                </table>
                <br />
                <br />
                <table style="border-collapse: collapse; width:100%">
                    <tr style="font-size:12px;">
                        <td style="width:35%;"></td>
                        <td colspan="3" style="border-bottom: 1px solid black; text-align:center; background-color:thistle">
                            Agronomic Balance
                        </td>
                        <td style="width:5%">
                            &nbsp;
                        </td>
                        <td colspan="3" style="border-bottom: 1px solid black; text-align:center; background-color:thistle">
                            Crop Removal Balance
                        </td>
                    </tr>
                    <tr style="font-size:12px;">
                        <td style="width:35%;">
                        </td>
                        <td style="width:10%; border-bottom: 1px solid black; text-align:center; background-color:thistle">
                            <b>N</b>
                        </td>
                        <td style="width:10%; border-bottom: 1px solid black; text-align:center; background-color:thistle">
                            <b>P<sub>2</sub>O<sub>5</sub></b>
                        </td>
                        <td style="width:10%; border-bottom: 1px solid black; text-align:center; background-color:thistle">
                            <b>K<sub>2</sub>O</b>
                        </td>
                        <td style="width:5%">
                            &nbsp;
                        </td>
                        <td style="width:10%; border-bottom: 1px solid black; text-align:center; background-color:thistle">
                            <b>N</b>
                        </td>
                        <td style="width:10%; border-bottom: 1px solid black; text-align:center; background-color:thistle">
                            <b>P<sub>2</sub>O<sub>5</sub></b>
                        </td>
                        <td style="width:10%; border-bottom: 1px solid black; text-align:center; background-color:thistle">
                            <b>K<sub>2</sub>O</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:35%; border-bottom: 1px solid black;">
                        </td>
                        <td colspan="3" style="border-bottom: 1px solid black; text-align:center; background-color:thistle">
                            <span style="font-size:8px;">(lbs / ac)</span>
                        </td>
                        <td style="width:5%">
                            &nbsp;
                        </td>
                        <td colspan="3" style="border-bottom: 1px solid black; text-align:center; background-color:thistle">
                            <span style="font-size:8px;">(lbs / ac)</span>
                        </td>
                    </tr>
                    @foreach (var c in f.crops)
                    {
                        <tr>
                            <td>@c.cropname</td>
                            <td style="text-align:center">@c.reqN</td>
                            <td style="text-align:center">@c.reqP</td>
                            <td style="text-align:center">@c.reqK</td>
                            <td></td>
                            <td style="text-align:center">@c.remN</td>
                            <td style="text-align:center">@c.remP</td>
                            <td style="text-align:center">@c.remK</td>
                        </tr>
                    }
                    <tr>
                        <td>N fertility Credits</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    @foreach (var n in f.nutrients)
                    {
                        <tr>
                            <td>@n.nutrientName</td>
                            <td style="text-align:center">@n.reqN</td>
                            <td style="text-align:center">@n.reqP</td>
                            <td style="text-align:center">@n.reqK</td>
                            <td></td>
                            <td style="text-align:center">@n.remN</td>
                            <td style="text-align:center">@n.remP</td>
                            <td style="text-align:center">@n.remK</td>
                        </tr>
                    }
                </table>
                <br />
            }
    </div>
</div>
