@model SERVERAPI.ViewModels.ReportSummaryViewModel

<div class="Row">
    <div class="Cell">
        <span style="font-size:20px"><b>Soil Test Results</b></span>
        <br />
        <br />
        <br />
    </div>
</div>
<div class="Row">
    <div class="Cell">
        <table style="border-collapse: collapse; width: 100%">
            <tr>
                <td style="border: 1px solid black; padding:4px; font-size:13px; background-color:#a4cdd8; width: 30%">
                    Soil Test P and K Method
                </td>
                <td style="border: 1px solid black; padding:4px; font-size:13px; width: 70%">
                    @Model.testMethod
                </td>
            </tr>
        </table>
        <br />
        <br />
        <table style="border-collapse: collapse; width: 100%">
            <tr>
                <td style="border: 1px solid black; padding:4px; font-size:13px; background-color:#a4cdd8; width:200px">
                    Field
                </td>
                <td style="border: 1px solid black; padding:4px; font-size:13px; background-color:#a4cdd8; width: 100px">
                    Sampling Date
                </td>
                <td style="border: 1px solid black; padding:4px; font-size:13px; background-color:#a4cdd8; width:250px">
                    @Model.year Crops
                </td>
                <td style="border: 1px solid black; padding:4px; font-size:13px; background-color:#a4cdd8; text-align:center; width: 80px">
                    pH
                </td>
                <td style="border: 1px solid black; padding:4px; font-size:13px; background-color:#a4cdd8; text-align:center; width: 100px">
                    NO<sub>3</sub>-N (ppm)
                </td>
                <td colspan="2" style="border: 1px solid black; padding:4px; font-size:13px; background-color:#a4cdd8; text-align:center; width: 120px">
                    P<sub>2</sub>O<sub>5</sub> (ppm)
                </td>
                <td colspan="2" style="border: 1px solid black; padding:4px; font-size:13px; background-color:#a4cdd8; text-align:center; width: 120px">
                    K<sub>2</sub>O (ppm)
                </td>
            </tr>
            @foreach (var test in Model.tests)
            {
                <tr>
                    <td style="border: 1px solid black; padding:4px; font-size:13px; vertical-align:top">
                        @test.fieldName
                    </td>
                    <td style="border: 1px solid black; padding:4px; font-size:13px; vertical-align:top">
                        @test.sampleDate
                    </td>
                    <td style="border: 1px solid black; padding:4px; font-size:13px; vertical-align:top;">
                        <span style="white-space: pre-line">@test.fieldCrops</span>
                    </td>
                    <td style="border: 1px solid black; padding:4px; font-size:13px; text-align:center; vertical-align:top">
                        @test.pH
                    </td>
                    <td style="border: 1px solid black; padding:4px; font-size:13px; text-align:center; vertical-align:top">
                        @test.nitrogen
                    </td>
                    <td style="border: 1px solid black; padding:4px; font-size:13px; text-align:center; vertical-align:top">
                        @test.phosphorous
                    </td>
                    <td style="border: 1px solid black; padding:4px; font-size:13px; text-align:center; vertical-align:top">
                        @test.phosphorousRange
                    </td>
                    <td style="border: 1px solid black; padding:4px; font-size:13px; text-align:center; vertical-align:top">
                        @test.potassium
                    </td>
                    <td style="border: 1px solid black; padding:4px; font-size:13px; text-align:center; vertical-align:top">
                        @test.potassiumRange
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
