@model SERVERAPI.ViewModels.ReportApplicationViewModel

<div class="Row">
    <div class="Cell">
        <h2>Nutrient Application Schedule</h2>
    </div>
</div>
<table>
    @foreach (var f in Model.fields)
    {
        <tr style="padding-bottom:20px">
            <td colspan="2">
                <b>Field: </b>@f.fieldName
            </td>
            <td colspan="3">
                <b>Crops: </b>@f.fieldCrops
            </td>
        </tr>
        <tr>
            <td style="width:250px">
                <b>Nutrient Source</b>
            </td>
            <td style="width:250px">
                <b>Application Timing</b>
            </td>
            <td style="width:250px">
                <b>Method</b>
            </td>
            <td colspan="2" style="text-align:center">
                <b>Rate</b>
            </td>
        </tr>
        @foreach (var n in f.nutrients)
        {
            <tr>
                <td>@n.nutrientName</td>
                <td>@n.nutrientSeason</td>
                <td>@n.nutrientApplication</td>
                <td style="text-align:right">@n.nutrientAmount</td>
                <td>@n.nutrientUnit</td>
            </tr>
        }

    }
</table>
