@using Microsoft.AspNetCore.Http;
@model SERVERAPI.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Wrap Up";
}
<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog" id="divSize">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<!-- BODY CONTENT -->

<div class="header-height"></div>

<br />
<br />

<div class="container">
    <div class="step-forms col-sm-12" style="text-align:center">
        <!-- PAGE CONTENT -->
        <form asp-controller="Report" asp-action="Report" method="post">
            @if (!string.IsNullOrEmpty(Model.noCropsMsg))
            {
                <div class="form-box-fields">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-box">
                                <div class="form-box-header clearfix">
                                    <div>
                                        <img src="~/images/warning.svg" style="vertical-align:baseline;" />&nbsp;
                                        <span style="display:inline; font-size:17px">@Html.Raw(Model.noCropsMsg)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="form-box" style="display:inline-block; vertical-align:top; margin:20px; min-height:300px">
                <div class="form-box-header clearfix" style="text-align:center">
                    PDFs (opens a new tab)
                </div>
                <div class="form-box-body">  
                    <div style="padding:20px">
                        <div style="margin-top:10px">
                            <a href="@Url.Action("PrintComplete", "Report")" id="prtComplete"  target="_blank"><span aria-hidden="true" style="font-size:20px; padding-top:5px"><input class="form-box-submit-button btn btn-primary"  title="Open Complete Report: Application Schedule, Manure and Fertilizer Required, Field Summaries, Manure and Compost Analysis, Soil Test Results" aria-label="Open Complete Report: Application Schedule, Manure and Fertilizer Required, Field Summaries, Manure and Compost Analysis, Soil Test Results"  style="width:220px; padding:5px; font-size:large"   type="button" value="Complete Report" onclick="document.getElementById('prtComplete').click(); return false;" /></span></a>
                        </div>
                        <div style="margin-top:10px">
                            <a href="@Url.Action("PrintFields", "Report")" id="prtFields" target="_blank"><span aria-hidden="true" style="font-size:20px; padding-top:5px"><input class="form-box-submit-button btn btn-primary" title="Open Field Summaries only" aria-label="Open Field Summaries only" style="width:160px" type="button" value="Field Summaries" onclick="document.getElementById('prtFields').click(); return false;" /></span></a>
                        </div>
                        <div style="margin-top:10px">
                            <a href="@Url.Action("PrintApplication", "Report")" id="prtAppl" target="_blank"><span aria-hidden="true" style="font-size:20px; padding-top:5px"><input class="form-box-submit-button btn btn-primary" title="Open Application Schedule only"  aria-label="Open Application Schedule only" style="width:160px" type="button" value="Application Schedule" onclick="document.getElementById('prtAppl').click(); return false;" /></span></a>
                        </div>
                        <div style="margin-top:10px">
                            <a href="@Url.Action("PrintSheets", "Report")" id="prtSheets" target="_blank"><span aria-hidden="true" style="font-size:20px; padding-top:5px"><input class="form-box-submit-button btn btn-primary" title="Open Record Keeping Sheets" aria-label="Open Record Keeping Sheets" style="width:220px; padding:5px; font-size:large" type="button" value="Record Keeping Sheets" onclick="document.getElementById('prtSheets').click(); return false;" /></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-box" style="display:inline-block; vertical-align:top; margin:20px; min-height:300px">
                <div class="form-box-header clearfix" style="text-align:center">
                    NMP Data File
                </div>
                <div class="form-box-body">
                </div>
                <div class="Table">
                    <div class="Row">
                        <div class="Cell" style="text-align:left">
                            @Html.Raw(Model.downloadMsg)
                        </div>
                    </div>
                    <div class="Row" style="padding-bottom:30px">
                        &nbsp;
                    </div>
                    <div class="Row" style="padding:30px">
                        <div class="Cell">
                            <input class="btn btn-primary" type="button" value="Download file" title="Download data to your local drive" onclick="ResetWarning();location.href='@Url.Action("Download", "Home")'" />
                        </div>
                    </div>
                    <div class="Row" style="padding-bottom:30px">
                        &nbsp;
                    </div>
                </div>
            </div>
            @*<div class="form-box" style="display:inline-block; margin:30px">
                    <div class="form-box-header clearfix" style="text-align:center">
                        <legend class="form-box-heading">Data File</legend>
                    </div>
                    <div class="form-box-body">
                        <div class="form-box-fields">
                            <div class="Table">
                                <div class="Row">
                                    <div class="Cell" style="text-align:left">
                                        <ul>
                                            <li>Continue later</li>
                                            <li>Save data for next year</li>
                                            <li>Share work with someone else</li>
                                        </ul>
                                    </div>
                                    <div class="Cell" style="text-align:left">
                                        <ul>
                                            <li>Load data file from your comupter</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="Row">
                                    <div class="Cell">
                                        <input class="btn btn-primary" type="button" value="Download file" title="Download data to your local drive" onclick="location.href='@Url.Action("Download", "Home")'" />
                                    </div>
                                    <div class="Cell">
                                        <input class="btn btn-primary" type="button" value="Load file" title="Load data from your local drive" onclick="location.href='@Url.Action("Download", "Home")'" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

            <br />
            <br />
            <br />
            <br />
            <div class="form-box-submit">
                <input class="form-box-submit-button btn btn-primary" style="float:left" type="button" value="Previous" onclick="window.location.href='@Url.Action("Calculate", "Nutrients" )';"  title="Previous"  aria-label="Previous"/>
                <input class="form-box-submit-button btn btn-primary" style="float:right" type="button" value="Finish" onclick="Intercept('@Model.url');ResetWarning();" title="Finish"  aria-label="Finish" />
            </div>
            @Html.HiddenFor(x => x.unsavedData)
            @Html.HiddenFor(x => x.url)
            @Html.HiddenFor(x => x.downloadMsg)
            @Html.HiddenFor(x => x.loadMsg)
        </form>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

    //$(document).on("click", '[data_modal2]', function (e) {
    //    $.ajaxSetup({ cache: false });
    //    $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
    //    $('#myModalContent').load($type, function () {
    //        $('#myModal').modal({
    //            /*backdrop: 'static',*/
    //            //keyboard: true
    //        }, 'show');
    //        bindForm2(this);
    //    });
    //    return false;
    //});

    //function bindForm2(dialog) {
    //    $('form', dialog).submit(function () {
    //        $.ajax({
    //            cache: false,
    //            url: this.action,
    //            type: this.method,
    //            data: $(this).serialize()
    //        })
    //            .done(function (result) {
    //                if (result.success) {
    //                    $('#myModal').modal('hide');
    //                    //$(result.target).load(result.url); //  Load data from the server and place the returned HTML into the matched element
    //                    window.location.href = result.url;
    //                } else {
    //                    $('#myModalContent').html(result);
    //                    bindForm2(dialog);
    //                }
    //            });

    //        return false;
    //    });

    //}

    $(document).on("click", '[data_modal3]', function (e) {
        $.ajaxSetup({ cache: false });
        $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
        $("#divSize").removeClass("modal-carousel");
        $("#divSize").removeClass("modal-large");
        $('#myModalContent').load($type, function () {
            $('#myModal').modal({
                /*backdrop: 'static',*/
                //keyboard: true
            }, 'show');
            bindForm(this);
        });
        return false;
    });

    $(".modal").on("hidden.bs.modal", function () {
        $(".myModalContent").html("");
    });

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                cache: false,
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                    } else {
                        $('#myModalContent').html(result);
                        bindForm(dialog);
                    }
                }
            });
            return false;
        });
    }

    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
    });

    function ResetWarning() {

        $("#unsavedData").val("False");
    }

    function Intercept(x) {
        if ($("#unsavedData").val() == "True")
        {
            $.ajaxSetup({ cache: false });
            var url = '@Url.Action("SaveWarning", "Nutrients", new { target = "zzz" })';
            $type = url.replace('zzz', x);
            $('#myModalContent').load($type, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindForm2(this);
            });
            return false;
        }
        else {
            window.location.href = x;
        }
    }

    $(document).ready(function () {
        $("#wizard-report").addClass('wizard-item-done');
    });

    $(document).on("click", '[data_modalI]', function (e) {
        $.ajaxSetup({ cache: false });
        $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
        $("#divSize").removeClass("modal-large");
        $("#divSize").addClass("modal-carousel");
        $('#myModalContent').load($type, function () {
            $('#myModal').modal({
                /*backdrop: 'static',*/
                //keyboard: true
            }, 'show');
            bindFormI(this);
        });
        return false;
    });

    $(".modal").on("hidden.bs.modal", function () {
        $(".myModalContent").html("");
    });

    function bindFormI(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                cache: false,
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                    } else {
                        $('#myModalContent').html(result);
                        bindFormI(dialog);
                    }
                }
            });
            return false;
        });
    }

 
    </script>
}
