@model SERVERAPI.ViewModels.ReportAnalysisViewModel

<div class="Row">
    <div class="Cell">
        <span style="font-size:20px"><b>Manure and Compost Analysis</b></span>
        <br />
        <br />
        <br />
    </div>
</div>
<div class="Row">
    <div class="Cell">
        <table style="border-collapse: collapse;">
            <tr style="padding-top:20px; padding-bottom:20px">
                <td class="CellHdg">
                    <span style="font-size:13px">Material Type</span>
                </td>
                <td class="CellHdg" style="text-align:center">
                    <span style="font-size:13px">Moisture (%)</span>
                </td>
                <td class="CellHdg" style="text-align:center">
                    <span style="font-size:13px">Total N (%)</span>
                </td>
                <td class="CellHdg" style="text-align:center">
                    <span style="font-size:13px">NH<sub>4</sub>-N (ppm)</span>
                </td>
                <td class="CellHdg" style="text-align:center">
                    <span style="font-size:13px">P (%)</span>
                </td>
                <td class="CellHdg" style="text-align:center">
                    <span style="font-size:13px">K (%)</span>
                </td>
                @if (Model.nitratePresent)
                {
                    <td class="CellHdg" style="text-align:center">
                        <span style="font-size:13px">NO<sub>3</sub>N (ppm)</span>
                    </td>
                }
            </tr>
            @foreach (var n in Model.details)
            {
                <tr>
                    <td class="CellDtl" style="width:300px; border: 1px solid black; padding:4px; font-size:13px">@n.manureName</td>
                    <td class="CellDtl" style="text-align:center; width:80px">@n.moisture</td>
                    <td class="CellDtl" style="text-align:center; width:80px">@n.nitrogen</td>
                    <td class="CellDtl" style="text-align:center; width:80px">@n.ammonia</td>
                    <td class="CellDtl" style="text-align:center; width:80px">@n.phosphorous</td>
                    <td class="CellDtl" style="text-align:center; width:80px">@n.potassium</td>
                    @if (Model.nitratePresent)
                    {
                        <td class="CellDtl" style="text-align:center; width:80px">@n.nitrate</td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
