@model SERVERAPI.ViewModels.ReportFieldsViewModel

<div class="Row">
    <div class="Cell">
        <span style="font-size:16px"><b>Detailed Field Reports</b></span>
        <br />
    </div>
</div>
@{ var currpage = 0;}
<div class="Row">
    <div class="Cell">
            @foreach (var f in Model.fields)
            {
                currpage++;
                <br />
                <table style="border-collapse: collapse; width: 100%;">
                    <tr>
                        <td>
                            <span class="newPage" style="font-size:12px"><u>Field: @f.fieldName</u></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Area: @f.fieldArea ac
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Model.year Crops:
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="border-collapse: collapse; border-bottom: 1px solid black; width: 100%">
                                <tr>
                                    <td style="border: 1px solid black; width:40%; background-color:#efefef; padding:4px">
                                        <b>Crop Name</b>
                                    </td>
                                    <td style="border: 1px solid black; width:20%; background-color:#efefef;text-align:center; padding:4px">
                                        <b>Target Yield</b>
                                    </td>
                                    <td style="border: 1px solid black; width:40%; background-color:#efefef; padding:4px">
                                        <b>Previous Crop Ploughed Down</b>
                                    </td>
                                </tr>
                                @foreach (var c in f.crops)
                                {
                                    <tr>
                                        <td style="border: 1px solid black; padding:4px">
                                            @c.cropname
                                        </td>
                                        <td style="border: 1px solid black; padding:4px; text-align:center">
                                            @c.yield ton/ac
                                        </td>
                                        <td style="border: 1px solid black; padding:4px">
                                            @c.previousCrop
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                </table>
                <br />
                <br />
                <table style="border-collapse: collapse; width: 70%">
                    <tr>
                        <td style="width:45%; border-bottom: 1px solid black">
                            Soil Test Results: @f.soiltest.sampleDate
                        </td>
                        <td style="width:10%">
                            &nbsp;
                        </td>
                        <td style="width:45%; border-bottom: 1px solid black">
                           Field Comments:
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (!string.IsNullOrEmpty(@f.soiltest.sampleDate))
                            {
                                <table style="width: 100%">
                                    <tr>
                                        <td>
                                            Nitrogen: @f.soiltest.dispNO3H
                                        </td>
                                        <td>
                                            Phosphorus: @f.soiltest.dispP
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Potassium: @f.soiltest.dispK
                                        </td>
                                        <td>
                                            pH: @f.soiltest.dispPH
                                        </td>
                                    </tr>
                                    @if (!string.IsNullOrEmpty(f.soiltest.methodName))
                                    {
                                        <tr>
                                            <td colspan="2">
                                                    Soil test P &amp; K Method: @f.soiltest.methodName
                                            </td>
                                        </tr>
                                    }
                               </table>
                            }
                        </td>
                        <td></td>
                        <td style="vertical-align:top">
                            @f.fieldComment
                        </td>
                    </tr>
                </table>
                <br />
                <table style="border-collapse: collapse;">
                    <tr>
                        <td colspan="5">
                            <span style="font-size: 12px">Nutrient Application Plan: @Model.year</span>
                        </td>
                    </tr>
                    <tr style="border: 1px solid black; background-color:#efefef;">
                        <td style="width:250px; border: 1px solid black; background-color:#efefef; padding:4px">
                            <b>Nutrient Source</b>
                        </td>
                        <td style="width:250px; border: 1px solid black; background-color:#efefef; padding:4px">
                            <b>Application Timing</b>
                        </td>
                        <td style="width:250px; border: 1px solid black; background-color:#efefef; padding:4px">
                            <b>Method</b>
                        </td>
                        <td colspan="2" style="text-align:center; width:200px; border: 1px solid black; background-color:#efefef;">
                            <b>Rate</b>
                        </td>
                    </tr>
                    @foreach (var n in f.nutrients)
                    {
                        <tr>
                            <td style="width:250px; border: 1px solid black; padding:5px">@n.nutrientName</td>
                            <td style="width:250px; border: 1px solid black; padding:5px">@n.nutrientSeason</td>
                            <td style="width:250px; border: 1px solid black; padding:5px">@n.nutrientApplication</td>
                            <td style="text-align:right; width:100px; border: 1px solid black; padding:5px">@n.nutrientAmount</td>
                            <td style="text-align:left; width:100px; border: 1px solid black; padding:5px">@n.nutrientUnit</td>
                        </tr>
                    }
                </table>
                <br />
                <br />
                <table style="border-collapse: collapse; width:100%">
                    <tr style="font-size:10px;">
                        <td style="width:35%;"></td>
                        <td style="width:5%;"></td>
                        <td colspan="3" style="text-align:center; background-color:#efefef">
                            <span style="font-size:8px"><b>Agronomic Balance (lbs / ac)</b></span>
                        </td>
                        <td style="width:5%">
                            &nbsp;
                        </td>
                        <td colspan="3" style="text-align:center; background-color:#efefef">
                            <span style="font-size:8px"><b>Crop Removal Balance (lbs / ac)</b></span>
                        </td>
                    </tr>
                    <tr style="font-size:10px;">
                        <td style=" border-bottom: 1px solid black; width:35%;">
                        </td>
                        <td></td>
                        <td style="width:10%; border-bottom: 1px solid black; text-align:center; background-color:#efefef">
                            <b>N</b>
                        </td>
                        <td style="width:10%; border-bottom: 1px solid black; text-align:center; background-color:#efefef">
                            <b>P<sub>2</sub>O<sub>5</sub></b>
                        </td>
                        <td style="width:10%; border-bottom: 1px solid black; text-align:center; background-color:#efefef">
                            <b>K<sub>2</sub>O</b>
                        </td>
                        <td style="width:5%">
                            &nbsp;
                        </td>
                        <td style="width:10%; border-bottom: 1px solid black; text-align:center; background-color:#efefef">
                            <b>N</b>
                        </td>
                        <td style="width:10%; border-bottom: 1px solid black; text-align:center; background-color:#efefef">
                            <b>P<sub>2</sub>O<sub>5</sub></b>
                        </td>
                        <td style="width:10%; border-bottom: 1px solid black; text-align:center; background-color:#efefef">
                            <b>K<sub>2</sub>O</b>
                        </td>
                    </tr>
                    @foreach (var c in f.crops)
                    {
                        <tr>
                            <td>@c.cropname <sup>@c.footnote</sup></td>
                            <td></td>
                            <td style="text-align:center; background-color:#efefef">@c.reqN</td>
                            <td style="text-align:center; background-color:#efefef">@c.reqP</td>
                            <td style="text-align:center; background-color:#efefef">@c.reqK</td>
                            <td></td>
                            <td style="text-align:center; background-color:#efefef">@c.remN</td>
                            <td style="text-align:center; background-color:#efefef">@c.remP</td>
                            <td style="text-align:center; background-color:#efefef">@c.remK</td>
                        </tr>
                    }
                    @foreach (var n in f.nutrients)
                    {
                        <tr>
                            <td>@n.nutrientName <sup>@n.footnote</sup></td>
                            <td></td>
                            <td style="text-align:center; background-color:#efefef">@n.reqN</td>
                            <td style="text-align:center; background-color:#efefef">@n.reqP</td>
                            <td style="text-align:center; background-color:#efefef">@n.reqK</td>
                            <td></td>
                            <td style="text-align:center; background-color:#efefef">@n.remN</td>
                            <td style="text-align:center; background-color:#efefef">@n.remP</td>
                            <td style="text-align:center; background-color:#efefef">@n.remK</td>
                        </tr>
                    }
                    @foreach (var n in f.otherNutrients)
                    {
                        <tr>
                            <td>@n.otherName</td>
                            <td></td>
                            <td style="text-align:center; background-color:#efefef">@n.reqN</td>
                            <td style="text-align:center; background-color:#efefef">@n.reqP</td>
                            <td style="text-align:center; background-color:#efefef">@n.reqK</td>
                            <td></td>
                            <td style="text-align:center; background-color:#efefef">@n.remN</td>
                            <td style="text-align:center; background-color:#efefef">@n.remP</td>
                            <td style="text-align:center; background-color:#efefef">@n.remK</td>
                        </tr>
                    }
                    <tr>
                        <td style="border-bottom: 1px solid black;">&nbsp;</td>
                        <td></td>
                        <td style="border-bottom: 1px solid black; text-align:center; background-color:#efefef">&nbsp;</td>
                        <td style="border-bottom: 1px solid black; text-align:center; background-color:#efefef">&nbsp;</td>
                        <td style="border-bottom: 1px solid black; text-align:center; background-color:#efefef">&nbsp;</td>
                        <td style="border:none">&nbsp;</td>
                        <td style="border-bottom: 1px solid black; text-align:center; background-color:#efefef">&nbsp;</td>
                        <td style="border-bottom: 1px solid black; text-align:center; background-color:#efefef">&nbsp;</td>
                        <td style="border-bottom: 1px solid black; text-align:center; background-color:#efefef">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid black;"><b>Balance</b></td>
                        <td></td>
                        <td style="border-top: 1px solid black; text-align:center; background-color:#efefef">@f.reqN</td>
                        <td style="border-top: 1px solid black; text-align:center; background-color:#efefef">@f.reqP</td>
                        <td style="border-top: 1px solid black; text-align:center; background-color:#efefef">@f.reqK</td>
                        <td style="border:none"></td>

                        <td style="border-top: 1px solid black; text-align:center">
                            @f.remN 
                            @if (!string.IsNullOrEmpty(f.iconN))
                            {
                                <img src="@Html.Raw(f.iconN)" />
                            }
                       </td>
                        <td style="border-top: 1px solid black; text-align:center; @{if (f.alertP) {@Html.Raw("background-color:#ffa007")} else {@Html.Raw("background-color:#efefef")} } ">@f.remP</td>
                        <td style="border-top: 1px solid black; text-align:center; @{if (f.alertK) {@Html.Raw("background-color:#ffa007")} else {@Html.Raw("background-color:#efefef")} } ">@f.remK</td>
                    </tr>

                </table>

                @if (f.alertN || f.alertP || f.alertK)
                {
                    <br />
                    <br />
                    <table style="border-collapse: collapse; width:100%">
                        <tr>
                            <td>
                                <span style="font-size:12px; background-color:#ffa007">Considerations:</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr> 
                        @foreach (var a in f.alertMsgs)
                        {
                            <tr>
                                <td>
                                    @a.Message
                                </td>
                            </tr>
                        }

                    </table>
                }
                @if(f.footnotes.Count() > 0)
                {
                    <br />
                    <br />
                    <table>
                        <tr>
                            <td>
                                <span style="font-size:12px">Notes:</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        @foreach (var fn in f.footnotes)
                        {
                            <tr>
                                <td>
                                    @fn.id.ToString() &nbsp;&nbsp; @fn.message
                                </td>
                            </tr>
                        }
                    </table>
                }

                @if (currpage != Model.fields.Count())
                {
                        <div style="page-break-after:always;">
                            &nbsp;
                        </div>
                }
            }
    </div>
</div>
