@model SERVERAPI.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Nutrient Report";
}
<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<!-- BODY CONTENT -->

<div class="header-height"></div>

<div class="step-header">
    <div class="container">
        <div class="col-sm-6">
            <span class="step-header-circle">6</span>
            <span class="step-header-name">Nutrient Report</span>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-3"></div>
            <div class="col-sm-3 text-right">
                <span class="step-header-steps">Step 6 of 6</span>
            </div>
            <div class="col-sm-6 step-header-form">
                <span>Units</span>
                <select class="form-control" id="select" disabled="disabled" title="Not Implemented" style="width:80px">
                    <option>lb/ac</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="step-forms col-sm-12">
        <!-- PAGE CONTENT -->
        <form asp-controller="Report" asp-action="Report" method="post">
            <div class="form-box">
                <div class="form-box-header clearfix">
                    <legend class="form-box-heading">Select the sections you would like on your report</legend>
                </div>
                <div class="form-box-body">
                    <div class="form-box-fields">
                        <div class="row">
                            
                            <div class="col-sm-offset-2 col-sm-7" style="margin-top:10px">
                                    <a href="@Url.Action("PrintFields","Report")" target="_blank">Detailed Field Reports</a>
                            </div>
                            <div class="col-sm-offset-2 col-sm-7" style="margin-top:10px">
                                    <a href="@Url.Action("PrintSources","Report")" target="_blank">Your Nutrient Sources</a>
                            </div>
                            <div class="col-sm-offset-2 col-sm-7" style="margin-top:10px">
                                <a href="@Url.Action("PrintApplication","Report")" target="_blank">Nutrient Application Schedule</a>
                            </div>
                            <div class="col-sm-offset-2 col-sm-7" style="margin-top:10px">
                                <a href="#">Nutrient Source Analysis</a>
                            </div>
                            <div class="col-sm-offset-2 col-sm-7" style="margin-top:10px">
                                <a href="#">Field Soil Test Summary</a>
                            </div>
                            <div class="col-sm-offset-2 col-sm-7" style="margin-top:10px">
                                <a href="#">Record Keeping Sheets</a>
                            </div>
                            <div class="col-sm-offset-2 col-sm-7" style="margin-top:10px">
                                <a href="@Url.Action("PrintFonts","Report")" target="_blank">Fonts</a>
                            </div>
                         </div>
                    </div>
                </div>
            </div>

            <br />
            <br />
            <br />
            <br />
            <div class="form-box-submit">
                <input class="form-box-submit-button btn btn-primary" style="float:left" type="button" value="Previous" onclick="window.location.href='@Url.Action("Calculate", "Nutrients" )';" />
                <input class="form-box-submit-button btn btn-primary" style="float:right" type="button" value="Save Your Data" onclick="window.location.href='@Url.Action("Download", "Home" )';" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
<script type="text/javascript">
    
    function PrintReport() {
        var flds = $("#fldschk").prop('checked');
        var src = $("#srcchk").prop('checked');
        var sched = $("#schedchk").prop('checked');
        var analysis = $("#anlchk").prop('checked');
        var summ = $("#summchk").prop('checked');
        var sheets = $("#sheetchk").prop('checked');
        var url = '@Html.Raw(Url.Action("Print", "Report", new { fields = -1, sources = -2, application = -3, analysis = -4, summary = -5, sheets = -6 }))';
        var url = url.replace("-1", flds);
        var url = url.replace("-2", src);
        var url = url.replace("-3", sched);
        var url = url.replace("-4", analysis);
        var url = url.replace("-5", summ);
        var url = url.replace("-6", sheets);
        window.open(url, "_blank");
    }

</script>
}
