@page
@model SERVERAPI.Pages.RanchAnimals.Index
@using Agri.Models
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Ranch Animals";
}
<style>

    .hideDuration {
        display: none;
    }
</style>

<!-- legacy modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog" id="divSize">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<!-- modal placeholder-->
<div id='modal-placeholder'></div>

<div class="header-height"></div>

<br />
<br />
<div class="container">
    <div class="step-forms col-sm-12">
        <div class="form-box">
            <div class="form-box-header clearfix">
                <div class="form-box-heading">Add Animals - Razor page</div>
            </div>
            <div class="form-box-body">
                <div class="form-box-table">
                    <div class="form-box-table-header form-box-table-row row row-eq-height">
                        <div class="col-sm-2 form-box-table-cell">
                            <strong>Animal Type</strong>
                        </div>
                        <div class="col-sm-3 form-box-table-cell">
                            <strong>Cattle</strong>
                        </div>
                        <div class="col-sm-1 form-box-table-cell">
                            <strong>Number</strong>
                        </div>
                        <div class="col-sm-2 form-box-table-cell">
                            <strong>Manure Type</strong>
                        </div>
                        <div class="col-sm-1 form-box-table-cell">
                            <strong>Piled/Collected</strong>
                        </div>
                        <div class="col-sm-3 form-box-table-cell">
                            <strong>Days Collected</strong>
                        </div>
                    </div>
                    @foreach (var item in Model?.Data?.Animals)
                    {
                        <div class="form-box-table-row row row-eq-height">
                            <div class="col-sm-2 form-box-table-cell">
                                @item.AnimalName
                            </div>
                            <div class="col-sm-3 form-box-table-cell">
                                @item.SubTypeName
                            </div>
                            <div class="col-sm-1 form-box-table-cell">
                                @item.AverageAnimalNumber
                            </div>
                            <div class="col-sm-2 form-box-table-cell">
                                @item.ManureMaterialType
                            </div>
                            <div class="col-sm-1 form-box-table-cell">
                                @item.ManureCollected
                            </div>
                            <div class="col-sm-1 form-box-table-cell">
                                @item.DurationDays
                            </div>
                            <div class="col-sm-2 form-box-table-cell text-center">
                                <button title="Edit" aria-label="Edit" class="form-box-table-button" type="button" data-toggle="razor-page-modal" data-url="@Url.Page("CreateEdit", "Edit", new { ismodal = true, Id = item.Id })">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke-width="2"><g stroke-width="2" transform="translate(0, 0)"><line data-cap="butt" data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="14.5" y1="4.5" x2="19.5" y2="9.5" stroke-linejoin="miter" stroke-linecap="butt"></line> <line data-cap="butt" data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="3" y1="16" x2="8" y2="21" stroke-linejoin="miter" stroke-linecap="butt"></line> <path fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M8,21l-6,1l1-6 L16.586,2.414c0.781-0.781,2.047-0.781,2.828,0l2.172,2.172c0.781,0.781,0.781,2.047,0,2.828L8,21z" stroke-linejoin="miter"></path></g></svg>
                                </button>
                                <button title="Delete" aria-label="Delete" class="form-box-table-button" type="button" data-toggle="razor-page-modal" data-url="@Url.Page("Delete", "", new { id = item.Id})">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke-width="2"><g stroke-width="2" transform="translate(0, 0)"><polyline fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="20,9 20,23 4,23 4,9 " stroke-linejoin="miter"></polyline> <line fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="1" y1="5" x2="23" y2="5" stroke-linejoin="miter"></line> <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="12" y1="12" x2="12" y2="18" stroke-linejoin="miter"></line> <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="8" y1="12" x2="8" y2="18" stroke-linejoin="miter"></line> <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="16" y1="12" x2="16" y2="18" stroke-linejoin="miter"></line> <polyline fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="8,5 8,1 16,1 16,5 " stroke-linejoin="miter"></polyline></g></svg>
                                </button>
                            </div>
                        </div>
                    }
                    <div class="form-box-table-add text-right form-box-table-row row">
                        <button class="btn btn-default" type="button" data-toggle="razor-page-modal" data-url="@Url.Page("CreateEdit", "Create", new { ismodal = true })">Add another animal</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="next-previous-navigation">
            @*@await Component.InvokeAsync("NextPreviousNavigation", new { currentAction = CoreSiteActions.AddAnimals })*@
        </div>
    </div>
</div>
@section Scripts {}