@page
@model SERVERAPI.Pages.MiniApps.NitrateTestCalculator.Index
@{
    ViewData["Title"] = "Nitrate Test Calculator";
    Layout = "_MiniAppLayout";
}

<div class="container" style="margin-top:30px">
    <div class="step-forms col-sm-12">
        <div class="form-box">
            <div class="form-box-header clearfix">
                <div class="form-box-heading">Post-harvest nitrate test (PHNT) calculator</div>
            </div>

            <div class="form-box-body">
                <div class="form-box-fields">
                    <form method="post">
                        <div class="row">
                            @Model.Data.NitrateCalculatorUserInstruction1
                        </div>
                        @{
                            var visibility = "visible";
                        }
                        @for (int i = 0; i < Model.Data.nitrateTestAnalysis.Count; i++)
                        {
                            <div class="row" style="margin-bottom:0px">
                                <div class="form-group col-sm-3" style="padding-right:0px;">
                                    <label>Sample @Model.Data.nitrateTestAnalysis[i].Id</label>
                                    <div>
                                        @if (i == 0)
                                        {
                                            <select class="form-control" asp-for="@Model.Data.nitrateTestAnalysis[i].SelectDepthOption"
                                                    asp-items="@Model.Data.nitrateTestAnalysis[i].DepthOptions" onchange="comboDepthChange()">
                                                <option value="0">- select sampling depth -</option>
                                            </select>
                                            <span asp-validation-for="Data.nitrateTestAnalysis[i].SelectDepthOption" class=""></span>
                                        }
                                        else
                                        {
                                            <span>@Model.Data.nitrateTestAnalysis[i].SelectDepthOptionName</span>
                                        }
                                    </div>
                                </div>
                                <div class="form-group col-sm-2" style="padding-right:0px">
                                    <label>Nitrate</label>
                                    <div>
                                        <input type="number" asp-for="@Model.Data.nitrateTestAnalysis[i].Nitrate" onchange="comboDepthChange()" class="form-control col-sm-6" style="width:70px">
                                        <div class="col-sm-4" style="padding-top:5px">
                                            ppm
                                        </div>
                                        <span asp-validation-for="Data.nitrateTestAnalysis[i].Nitrate" class=""></span>
                                    </div>
                                </div>
                                @if (Model.Data.IsBasic)
                                {
                                    <div class="form-group col-sm-3" style="padding-right:0px">
                                        <label>Bulk Density</label>
                                        <div>
                                            <input type="number" asp-for="@Model.Data.nitrateTestAnalysis[i].BulkDensity" onchange="comboDepthChange()" class="form-control col-sm-6" style="width:70px">
                                            <div class="col-sm-6" style="padding-top:5px">
                                                kg m<sup>-3</sup>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <input type="hidden" asp-for="@Model.Data.nitrateTestAnalysis[i].BulkDensity" />
                                }
                                @if (!Model.Data.IsBasic)
                                {
                                    <div class="form-group col-sm-3">
                                        <label></label>
                                        <div class="row">
                                            <input type="number" class="form-control col-sm-6" style="visibility:hidden;width:70px;padding-right:0px;pointer-events:none;background-color:#F5F5F5" />
                                            <div class="col-sm-6" style="padding-top:5px">
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="form-group col-sm-4">
                                    <label>Results</label>
                                    <div class="row">
                                        <input type="number" asp-for="@Model.Data.nitrateTestAnalysis[i].Result" onchange="comboDepthChange()" class="form-control col-sm-6" style="width:70px;padding-right:0px;pointer-events:none;background-color:#F5F5F5" />
                                        <div class="col-sm-6" style="padding-top:5px">
                                            kg NO<sub>3</sub>-N  ha<sup>-1</sup>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" asp-for="@Model.Data.nitrateTestAnalysis[i].Id" />
                        }
                        @if (Model.Data.isNotShowButton)
                        {
                            visibility = "hidden";

                        }
                        else
                        {
                            visibility = "visible";
                        }

                        @Html.HiddenFor(x => x.Data.PostedElementEvent, new { id = "PostedElementEvent" })
                        @Html.HiddenFor(x => x.Data.IsBasic)
                        @Html.HiddenFor(x => x.Data.isNotShowButton)
                        <div class="row">
                            <div class="col-sm-6">
                                <input class="btn btn-default col-sm-6" type="submit" id="AddSample" style="visibility:@visibility;font-size: 12px;padding-right:20px" value="Add another sample depth" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                            </div>
                            <div class="form-box-fields col-sm-2" style="padding-top:5px;padding-left:50px">
                                Total for field
                            </div>
                            <input type="number" class="form-control col-sm-2" asp-for="@Model.Data.TotalResult" style="margin-left:20px;padding-left:20px;width:64px;pointer-events:none;background-color:#F5F5F5" />
                            <div class="col-sm-2" style="padding-top:5px">
                                kg NO<sub>3</sub>-N  ha<sup>-1</sup>
                                <a href="#" data-toggle="tooltip" title="@Model.Data.SampleDepthMessage" id="toolTipSample">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Add Sample" style="font-size:20px; padding-top:5px"></span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-7 row" style="padding-left: 0px;">
                                <div class="col-sm-4"> <input class="btn btn-primary col-sm-12" type="submit" id="AddSample" value="Calculate" /></div>
                                <div class="col-sm-4" style="padding-right:0px;"><input class="btn btn-default col-sm-12" type="submit" id="Reset" value="Clear/Reset" /></div>
                            </div>
                            @if (!Model.Data.IsBasic)
                            {
                                <div class="col-sm-4" style="padding-top:5px">
                                    <a style="margin-left:45px;padding-top:10px;cursor:pointer;text-decoration:underline;" id="btnAdvance">Edit soil bulk density</a>
                                    <a href="#" data-toggle="tooltip" title="@Model.Data.SoilBulkDensityMessage" id="toolTipSoilBulkDensity">
                                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Add Sample" style="font-size:20px; padding-top:5px"></span>
                                    </a>
                                </div>

                            }
                            else
                            {
                                <div class="col-sm-4" style="padding-top:5px">
                                    <a style="margin-left:45px;padding-top:10px;cursor:pointer;text-decoration:underline;" id="btnBasic">Remove custom soil bulk density</a>
                                    <a href="#" data-toggle="tooltip" title="@Model.Data.SoilBulkDensityMessage" id="toolTipSoilBulkDensity">
                                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Add Sample" style="font-size:20px; padding-top:5px"></span>
                                    </a>
                                </div>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="form-box" style="border:none">
        <div class="row">
            <img class="col-sm-1" src="~/images/lightbulb_icon-01.png" />
            <div class="col-sm-6 row">
                <h2>@Model.Data.NitrateCalculatorUserInstruction2</h2>
                <div class="col-sm-11">
                    @Model.Data.NitrateCalculatorUserInstruction3
                </div>
            </div>
            <div class="col-sm-5">
                <a style="cursor:default" onclick="window.open('@Model.Data.SoilTestInformationButtonLink');" formtarget="_blank">@Model.Data.SoilTestingInformation</a>
                <br />
                <a style="cursor:default" onclick="window.open('@Model.Data.BCNutrientManagementCalculatorButtonLink');" formtarget="_blank">@Model.Data.BCNutrientManagementCalculator</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function comboDepthChange() {

            $('#PostedElementEvent').val("DepthChange");
            $("#AddSample").click();
        }

        $(document).ready(function () {
            $("body").on("click", "#btnBasic", function () {
                $('#PostedElementEvent').val("BasicChange");
                $("#AddSample").click();
            });

            $("body").on("click", "#btnAdvance", function () {
                $('#PostedElementEvent').val("AdvancedChange");
                $("#AddSample").click();
            });
        });

        $(document).ready(function () {
            $('#toolTipSample').tooltip({
                template: toolTipClickableInnerHtml,
                html: true,
                trigger: 'manual'
            });
        });

        //Using triggerToolTip function from ~/lib/site.js
        $(document).ready(function () {
            $('#toolTipSample').click(function () {
                triggerToolTip($('#toolTipSample'));
            });
        });

        $(document).ready(function () {
            $('#toolTipSoilBulkDensity').tooltip({
                template: toolTipClickableInnerHtml,
                html: true,
                trigger: 'manual'
            });
        });

        //Using triggerToolTip function from ~/lib/site.js
        $(document).ready(function () {
            $('#toolTipSoilBulkDensity').click(function () {
                triggerToolTip($('#toolTipSoilBulkDensity'));
            });
        });

         $("body").on("click", "#Reset", function () {
                $('#PostedElementEvent').val("ResetClicked");
            });
    </script>
}