@page
@model SERVERAPI.Pages.MiniApps.NitrateTestCalculator.Index
@{
    ViewData["Title"] = "Nitrate Test Calculator";
    Layout = "_MiniAppLayout";
}

<div class="container" style="margin-top:30px">
    <div class="step-forms col-sm-12">
        <div class="form-box">
            <div class="form-box-header clearfix">
                <div class="form-box-heading">Post-harvest nitrate test (PHNT) calculator</div>
            </div>

            <div class="form-box-body">
                <div class="form-box-fields">
                    <form method="post">
                        <div class="row">
                            @Model.Data.NitrateTestCalculatorUserInstruction1
                        </div>
                        @for (int i = 0; i < Model.Data.nitrateTestAnalysis.Count; i++)
                        {
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label>Sample @Model.Data.nitrateTestAnalysis[i].Id</label>
                                    <div>
                                        <select class="form-control" asp-for="@Model.Data.nitrateTestAnalysis[i].SelectDepthOption"
                                                asp-items="@Model.Data.nitrateTestAnalysis[i].DepthOptions" onchange="comboDepthChange()" id="ddlDepth">
                                            <option value="0">- select sampling depth -</option>
                                        </select>
                                        @*<span asp-validation-for="Data.SelectDepthOption" class=""></span>*@
                                    </div>
                                </div>
                                <div class="form-group col-sm-3" style="padding-right:0px">
                                    <label>Nitrate</label>
                                    <div>
                                        <input type="number" class="form-control col-sm-6" style="width:100px">
                                        <div class="col-sm-4" style="padding-top:5px">
                                            ppm
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label>Results</label>
                                    <div class="row">
                                        <input type="number" class="form-control col-sm-6" style="width:100px" />
                                        <div class="col-sm-6" style="padding-top:5px">
                                            kg NO3-Nha-1
                                        </div>
                                        @* <span asp-validation-for="Data.ApplicationRate" class=""></span>*@
                                    </div>
                                </div>
                            </div>
                        }
                        @if (!Model.Data.isNotShowButton)
                        {

                            <div class="row">
                                <div class="col-sm-6">
                                    &nbsp;
                                </div>
                                @* <div class="col-sm-6">*@

                                <input class="btn btn-primary col-sm-5" type="submit" id="AddSample" value="Add another sample depth" />
                                <a href="#" data-toggle="tooltip" id="toolTipDailyFeedWarning">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Daily Feed Requirement" style="font-size:20px; padding-top:5px"></span>
                                </a>
                            </div>
                        }
                        <div class="row">
                            <div class="col-sm-6">
                                &nbsp;
                            </div>
                            <div class="form-box-heading col-sm-2">
                                Total for field
                            </div>
                            <input type="number" class="form-control col-sm-2" style="width:50px" />
                            <div class="col-sm-2" style="padding-top:5px">
                                kg NO3-Nha-1
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="step-forms col-sm-12">
        <div class="form-box" style="border:0px !important;">
            <div class="row">
                @Model.Data.NitrateTestCalculatorUserInstruction2
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div>
                    <input class="form-group col-sm-5 btn btn-primary" onclick="window.open('@Model.Data.SoilTestInformationButtonLink');" formtarget="_blank" value="@Model.Data.SoilTestingInformation" />
                </div>
                <div class="form-group col-sm-2">
                    &nbsp;
                </div>
                <div>
                    <input class="form-group col-sm-5 btn btn-primary" onclick="window.open('@Model.Data.BCNutrientManagementCalculatorButtonLink');" formtarget="_blank" value="@Model.Data.BCNutrientManagementCalculator" />
                </div>
            </div>
        </div>
    </div>
</div>
@Html.HiddenFor(x => x.Data.PostedElementEvent, new { id = "PostedElementEvent" })

@section Scripts{
    <script>
        function comboDepthChange() {
            $('#PostedElementEvent').val("DepthChange");
            $("#AddSample").click();
        }
    </script>
}