@model SERVERAPI.ViewModels.ManureGeneratedObtainedDetailViewModel
@using Agri.Models
@{
    Layout = null;
}

<style>
    .tooltip.top .tooltip-arrow {
        bottom: 0;
        left: 50%;
        margin-left: -205px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 10px solid #23527C;
        margin-left:-206px;
    }
    .tooltip-inner {
        background: #ffffff;
        color: #000000;
        border: #23527C 1px solid;
        max-width: 300px;
        padding: 3px 8px;
        text-align: left;
        border-radius: 2px;
        margin-left:-200px;
        width:300px;
    }

    .tooltip .title {
        background: #23527C;
        color: #ffffff;
        max-width: 300px;
        padding: 3px 8px;
        text-align: left;
        border-radius: 2px;
        margin-left: -200px;
        margin-top: 70px;
    }
</style>

<div id="target">
    <form asp-action="ManureGeneratedObtainedDetail" asp-controller="ManureManagement" id="modForm" method="post" data-ajax="true" data-ajax-method="POST" data-ajax-mode="REPLACE-WITH" data-ajax-update="#target">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Animal Details</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="form-group col-sm-3">
                        <label asp-for="selAnimalTypeOption">Animal Type</label>
                        <select class="form-control" asp-for="selAnimalTypeOption" asp-items="@(new SelectList(Model.animalTypeOptions,"Id","Value"))" id="ddlAnimalType">
                            <option>select animal</option>
                        </select>
                        <span asp-validation-for="selAnimalTypeOption" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="selSubTypeOption">Sub Type</label>
                        <select class="form-control" asp-for="selSubTypeOption" asp-items="@(new SelectList(Model.subTypeOptions,"Id","Value"))" id="ddlSubType"></select>
                        <span asp-validation-for="selSubTypeOption" class="text-danger">Select a Subtype</span>
                    </div>
                    @if (Model.showBreedAndGrazingDaysPerYear)
                    {
                        <div class="form-group col-sm-3">
                            <label asp-for="selBreedOption">Breed</label>
                            <select class="form-control" asp-for="selBreedOption" asp-items="@(new SelectList(Model.breedOptions, "Id", "Value"))" id="ddlBreed"></select>
                            <span asp-validation-for="selBreedOption" class="text-danger">Select a Breed</span>
                        </div>
                    }
                    <div class="form-group col-sm-3">
                        <label>Average Animal Number on Farm</label>
                        <input class="form-control" asp-for="averageAnimalNumber" id="averageAnimalNumber" type="text" placeholder="@Model.placehldr" />
                        <span asp-validation-for="averageAnimalNumber"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="selManureMaterialTypeOption">Manure Type</label>
                        @if (Model.hasSolidManureType)
                        {
                            <select class="form-control" asp-for="selManureMaterialTypeOption" id="ddlManureMaterialType">
                                <option>Solid</option>
                            </select>

                        }
                        else if (Model.hasLiquidManureType)
                        {
                            <select class="form-control" asp-for="selManureMaterialTypeOption" id="ddlManureMaterialType">
                                <option>Liquid</option>
                            </select>
                        }
                        else
                        {
                            <select class="form-control" asp-for="selManureMaterialTypeOption" asp-items="@(Html.GetEnumSelectList<ManureMaterialType>())" id="ddlManureMaterialType">
                                <option>select type</option>
                            </select>
                        }
                        <span asp-validation-for="selManureMaterialTypeOption" class="text-danger">Select a Manure Material Type</span>
                    </div>
                    @if (Model.showBreedAndGrazingDaysPerYear)
                    {
                        <div class="form-group col-sm-3">
                            <label>Grazing Days per Year</label>
                            <input class="form-control" asp-for="grazingDaysPerYear" id="grazingDaysPerYear" type="text" />
                            <span asp-validation-for="grazingDaysPerYear"></span>
                        </div>
                    }
                    @if (Model.showMilkProduction)
                    {
                        <div class="form-group col-sm-3">
                            <label>Milk Production</label>
                            <div class="input-group">
                                <input class="form-control" asp-for="milkProduction" id="milkProduction" type="text" />
                                @if (!Model.stdMilkProduction)
                                {
                                    <span class="input-group-btn" title="Reset to standard value">
                                        <button class="btn btn-default" type="button" id="rstmilkProduction" style="background-color:orange"><i class="glyphicon glyphicon-refresh" style="background-color:orange"></i></button>
                                    </span>
                                }
                            </div>
                            <label>lb/day/animal</label>
                            <span asp-validation-for="milkProduction"></span>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(x => x.milkProduction)
                    }

                    @if (Model.showWashWater)
                    {
                        <div class="form-group col-sm-4" style="padding-right: 0;">
                            <label>Milking Centre Wash Water</label>
                            <div class="input-group col-sm-12">
                                <input class="form-control" asp-for="washWater" id="washWater" type="text" />
                                @if (!Model.stdWashWater)
                                {
                                    <span class="input-group-btn" title="Reset to standard value">
                                        <button class="btn btn-default" type="button" id="rstWashWater" style="background-color:orange"><i class="glyphicon glyphicon-refresh" style="background-color:orange"></i></button>
                                    </span>
                                }
                            </div>
                            <span asp-validation-for="washWater"></span>
                        </div>
                        <div class="form-group col-sm-6" style="padding-left: 0;">
                            <div class="form-group col-sm-6" style="padding-left:0px">
                                <label>(Units)</label>
                                <select class="form-control" asp-for="SelWashWaterUnit" asp-items="@Model.GetWashWaterUnits()" id="ddlWashWaterUnits"></select>
                                <span asp-validation-for="SelWashWaterUnit" class="text-danger"></span>
                            </div>
                            <div class="col-sm-2" style="padding-left:0px">
                                <br />
                                <div class="form-group col-sm-6" style="padding-left:0px">
                                    <a href="#" data-toggle="tooltip" title="@Model.ExplainWashWaterVolumesDaily" id="toolTipWashWaterVolumesDaily">
                                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of wash water volumes added daily" style="font-size:20px; padding-top:10px;width:400px"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(x => x.washWater)
                    }
                   
                   
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="ok_button" @( Model.btnText == "Save" ? Html.Raw(" style='background-color: #1abbed'") : Html.Raw(""))>Save</button>
        </div>
        @Html.HiddenFor(x => x.title)
        @Html.HiddenFor(x => x.buttonPressed)
        @Html.HiddenFor(x => x.showWashWater)
        @Html.HiddenFor(x => x.btnText)
        @Html.HiddenFor(x => x.target)
        @Html.HiddenFor(x => x.stdWashWater)
        @Html.HiddenFor(x => x.showMilkProduction)
        @Html.HiddenFor(x => x.stdMilkProduction)
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#toolTipWashWaterVolumesDaily').tooltip({
            template: toolTipClickableInnerHtml,
            html: true,
            trigger: 'manual'
        });
    });

    //Using triggerToolTip function from ~/lib/site.js
    $(document).ready(function () {
        $('#toolTipWashWaterVolumesDaily').click(function () {
            triggerToolTip($('#toolTipWashWaterVolumesDaily'));
        });
    })
</script>
    

