@model SERVERAPI.ViewModels.ManureGeneratedObtainedDeleteViewModel

@{
    Layout = null;
}
<div id="target">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Animal Details  - @Model.title</h2>
    </div>

    <form asp-action="ManureGeneratedObtainedDelete" asp-controller="ManureManagement" data-ajax="true" data-ajax-method="POST" data-ajax-mode="REPLACE-WITH" data-ajax-update="#target">
        <div class="modal-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div>
                    @Model.subTypeName<br />
                    <span asp-validation-for="subTypeName"></span>
                </div>
            </div>
            <br />
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" data-dismiss="modal">Cancel</button>
            <input class="btn btn-primary" type="submit" value="Delete" />
        </div>
        @Html.HiddenFor(x => x.subTypeName)
        @Html.HiddenFor(x => x.title)
        @Html.HiddenFor(x => x.id)
        @Html.HiddenFor(x => x.target)
        @Html.HiddenFor(x => x.warning)
    </form>
</div>
