@using Agri.Models
@model ManureImportedDetailViewModel

@{
    Layout = null;
}

<div id="target">

    <form asp-action="ManureImportedDetail" asp-controller="ManureManagement" id="modForm" method="post" data-ajax="true" data-ajax-method="POST" data-ajax-mode="REPLACE-WITH" data-ajax-update="#target">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">@Model.Title</h4>
        </div>
        <div class="modal-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row row">
                <div class="col-sm-3" style="padding-left: 0; padding-right: 0;">
                    <div class="form-group">
                        <label for="txtMaterialName">Material Name</label>
                        <input class="form-control" asp-for="MaterialName" type="text" id="txtMaterialName" />
                        <span asp-validation-for="MaterialName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-2"  style="padding-right: 0;">
                    <div class="form-group" style="padding-right: 0;">
                        <label for="ddlManureMaterialType">Liquid or Solid</label>
                        <select class="form-control" asp-for="SelectedManureType"
                                asp-items="@(Html.GetEnumSelectList<ManureMaterialType>())" id="ddlManureMaterialType"></select>
                        <span asp-validation-for="SelectedManureType" class="text-danger">Select a Manure Material Type</span>
                    </div>
                </div>
                <div class="col-sm-2" style="padding-right: 0;">
                    <div class="form-group">
                        <label asp-for="AnnualAmount">Amount per year</label>
                        <input class="form-control" asp-for="AnnualAmount" type="text" id="AnnualAmount" />
                        <span asp-validation-for="AnnualAmount" class="text-danger">Enter a numeric value</span>
                    </div>
                </div>
                <div class="col-sm-1" style="padding-left: 0; padding-right: 0; width: auto">
                    <div class="form-group">
                        <label for="ddlManureMaterialType">(Units)</label>
                        <select class="form-control" asp-for="SelectedAnnualAmountUnit" asp-items="@Model.GetAnnualAmountUnits()" id="ddlManureMaterialType"></select>
                        <span asp-validation-for="SelectedAnnualAmountUnit" class="text-danger"></span>
                    </div>
                </div>
                @if (Model.SelectedManureType == ManureMaterialType.Solid)
                {
                <div class="col-sm-2 form-group" style="padding-right: 0; max-width: 15%">
                    <label for="txtMoisture">Moisture (%)</label>
                    <div class="input-group ">
                        <input class="form-control" asp-for="Moisture" id="txtMoisture" type="text" />
                        @if (!Model.IsStdMoisture)
                        {
                            <span class="input-group-btn" title="Reset to standard value">
                                <button class="btn btn-default" type="button" id="rstMoisture" style="background-color:orange;" aria-label="Reset to standard value"><i class="glyphicon glyphicon-refresh" style="background-color:orange"></i></button>
                            </span>
                        }
                    </div>
                    <span asp-validation-for="Moisture" class="text-danger"></span>
                </div>
                }
                <div class="col-sm-2" style="padding-right: 0;">
                    <label id="IsMaterialStoredLabel">@Model.IsMaterialStoredLabelText</label>
                    <div class="form-group" role="radiogroup" aria-labelledby="IsMaterialStoredLabel">
                        <label style="padding-right: 20px">
                            <input asp-for="IsMaterialStored" type="radio" value="true" id="rbIsMaterialStoredYes" /> Yes
                        </label>
                        <label>
                            <input asp-for="IsMaterialStored" type="radio" value="false" id="rbIsMaterialStoredYes" /> No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="ok_button" @(Model.ButtonText == "Save" ? Html.Raw(" style='background-color: #1abbed'") : Html.Raw(""))>Save</button>
        </div>
        @Html.HiddenFor(x => x.Target)
        @Html.HiddenFor(x => x.Title)
        @Html.HiddenFor(x => x.ButtonText)
        @Html.HiddenFor(x => x.ButtonPressed)
        @Html.HiddenFor(x => x.ManureImportId)
        @Html.HiddenFor(x => x.SelectedAnnualAmountUnit)
        @Html.HiddenFor(x => x.IsMaterialStoredLabelText)
        @Html.HiddenFor(x => x.StandardSolidMoisture)
    </form>
</div>