@using Microsoft.AspNetCore.Http;
@model SERVERAPI.ViewModels.FarmViewModel

@{
    ViewBag.Title = "Farm Information";
}
<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog" id="divSize">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<!-- BODY CONTENT -->

<div class="header-height"></div>

<br />
<br />

<div class="container">
    <div class="step-forms col-sm-12">
        <!-- PAGE CONTENT -->
        <form asp-controller="Farm" asp-action="Farm" method="post" id="modForm">
            <div class="form-box">
                <div class="form-box-header clearfix">
                    <legend class="form-box-heading">Farm Information</legend>
                </div>
                <div class="form-box-body">
                    <div class="form-box-fields">
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="year">Year</label>
                                <input class="form-control" asp-for="year" id="year" type="text" />
                                <span asp-validation-for="year"></span>
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="farmName">Farm name</label>
                                <input class="form-control" asp-for="farmName" id="farmName" name="farmName" type="text">
                                <span asp-validation-for="farmName"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label asp-for="selRegOption">Region</label>
                                <p class="form-box-subtext">Region selection will customize recommendations to your local climate.</p>
                                <select id="ddlRegion" class="form-control" asp-for="selRegOption" asp-items="@(new SelectList(Model.regOptions,"Id","Value"))">
                                    <option>select region</option>
                                </select>
                                <span asp-validation-for="selRegOption"></span>
                            </div>
                        </div>
                        @if (Model.showSubRegion)
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    <select id="ddlSubRegion" class="form-control" asp-for="selSubRegOption" asp-items="@(new SelectList(Model.subRegionOptions,"Id","Value"))">
                                        <option>select subregion</option>
                                    </select>
                                    @if (Model.multipleSubRegion)
                                    {
                                        <span asp-validation-for="selSubRegOption"></span>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="form-box-submit">
                <div class="form-box-fields text-right">
                    <button class="btn btn-primary" type="submit" title="Next" aria-label="Next" onclick="">Next</button>
                </div>
            </div>
            @Html.HiddenFor(x => x.currYear)
            @Html.HiddenFor(x => x.showSubRegion)
            @Html.HiddenFor(x => x.multipleSubRegion)
            @Html.HiddenFor(x => x.buttonPressed)
        </form>
        <!-- PAGE CONTENT -->
    </div>
</div>

<!-- /BODY CONTENT -->
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $("#FarmFarm1").addClass('wizard-item-done');
        });

        $(document).on("click", '[data_modalI]', function (e) {
            $.ajaxSetup({ cache: false });
            $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
            $("#divSize").addClass("modal-carousel");
            $('#myModalContent').load($type, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindFormI(this);
            });
            return false;
        });

        $(".modal").on("hidden.bs.modal", function () {
            $(".myModalContent").html("");
        });

        function bindFormI(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    cache: false,
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                        } else {
                            $('#myModalContent').html(result);
                            bindFormI(dialog);
                        }
                    }
                });
                return false;
            });
        }

        $(document).ready(function () {
            $("#submenu").addClass('padding');
            $("#submenu-ul-fields").addClass('submenu-display');
            $("#submenu-ul-manure").addClass('submenu-display');
        });

        $(document).ready(function () {
            $("body").on("change", "#ddlRegion", function () {
                $('#buttonPressed').val("RegionChange");
                $("#modForm").submit();
            })
        });

        $(document).ready(function () {
        $("body").on("change", "#ddlSubRegion", function () {
            $('#buttonPressed').val("SubRegionChange");
            $("#modForm").submit();
        })
        });








        // ensure this event handler is attached to current and future elements (after partial renders)
        $(document).on("click",
            '[data_modal]',
            function (e) {
                $.ajaxSetup({ cache: false });
                $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
                $('#myModalContent').load($type,
                    function () {
                        $('#myModal').modal({
                            /*backdrop: 'static',*/
                            //keyboard: true

                        },
                            'show');
                        bindForm(this);
                    });
                return false;
            });

        function bindForm(dialog) {
            $('form', dialog).submit(function () {
                if ($("#unsavedData").val() == "False") {
                    var fileUpload = $("#FileUpload1").get(0);
                    var files = fileUpload.files;

                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        contentType: false,
                        processData: false,
                        data: fileData,
                        success: function (result) {
                            if (result.success) {
                                $('#myModal').modal('hide');
                                window.location.href = result.url;
                            } else {
                                $('#myModalContent').html(result);
                                bindForm(dialog);
                            }
                        }
                    });
                } else {
                    $.ajax({
                        cache: false,
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize()
                    })
                        .done(function (result) {
                            if (result.success) {
                                $('#myModal').modal('hide');
                                $(result.target)
                                    .load(result
                                        .url); //  Load data from the server and place the returned HTML into the matched element
                            } else {
                                $('#myModalContent').html(result);
                                bindForm(dialog);
                            }
                        });
                }
                return false;
            });
        }

        $(document).on("click",
            '[data_modal2]',
            function (e) {
                $.ajaxSetup({ cache: false });
                $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
                $('#myModalContent').load($type,
                    function () {
                        $('#myModal').modal({
                            /*backdrop: 'static',*/
                            //keyboard: true

                        },
                            'show');
                        bindForm2(this);
                    });
                return false;
            });

        function bindForm2(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    cache: false,
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize()
                })
                    .done(function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            //$(result.target).load(result.url); //  Load data from the server and place the returned HTML into the matched element
                            window.location.href = result.url;
                        } else {
                            $('#myModalContent').html(result);
                            bindForm2(dialog);
                        }
                    });

                return false;
            });

        }
    </script>
}