@model FarmViewModel

@{
    ViewBag.Title = "Farm Information";
}
<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog" id="divSize">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<!-- BODY CONTENT -->

<div class="header-height"></div>

<br />
<br />

<div class="container">
    <div class="step-forms col-sm-12">
        <!-- PAGE CONTENT -->
        <form asp-controller="Farm" asp-action="Farm" method="post" id="modForm">
            <div class="form-box">
                <div class="form-box-header clearfix">
                    <div class="form-box-heading">Farm Information</div>
                </div>
                <div class="form-box-body" style="padding-bottom: 0px;">
                    <div class="form-box-fields" style="padding-bottom: 0px;">
                        @if (Model.IsLegacyNMPReleaseVersion)
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="~/images/dollar warning.svg" height='20' width='20' />
                                    <span class="text-danger">@Html.Raw(@Model.LegacyNMPMessage)</span>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Year">Year</label>
                                <input class="form-control" asp-for="Year" id="year" type="text" />
                                <span asp-validation-for="Year"></span>
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="FarmName">Farm name</label>
                                <input class="form-control" asp-for="FarmName" id="farmName" name="farmName" type="text">
                                <span asp-validation-for="FarmName"></span>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 0px;">
                            <div class="col-sm-4">
                                <span id="labelHasAnimals" style="font-weight: bold">
                                    I have animals
                                </span>
                            </div>
                            <div class="col-sm-6 form-group" role="radiogroup" aria-labelledby="labelHasAnimals" style="margin-bottom: 0px;">
                                <label style="padding-right: 20px">
                                    <input asp-for="HasAnimals" type="radio" value="true" id="rbIsHasAnimalsYes" onchange="GetsAnimalsChanged()" /> Yes
                                </label>
                                <label>
                                    <input asp-for="HasAnimals" type="radio" value="false" id="rbIsHasAnimalsNo" onchange="GetsAnimalsChanged()" /> No
                                </label>
                            </div>
                        </div>
                        @if (Model.ShowAnimals)
                        {
                            <div class="row" style="margin-bottom: 0px;margin-left:20px">
                                <div class="col-sm-4">
                                    <span id="labelHasDairyCows" style="font-weight: bold">
                                        I have dairy cows
                                    </span>
                                </div>
                                <div class="col-sm-6 form-group" role="radiogroup" aria-labelledby="labelHasDairyCows" style="margin-bottom: 0px;">
                                    <label style="padding-right: 20px">
                                        <input asp-for="HasDairyCows" type="radio" value="true" id="rbIsHasDairyCowsYes" onchange="GetsAnimalsChanged()" /> Yes
                                    </label>
                                    <label>
                                        <input asp-for="HasDairyCows" type="radio" value="false" id="rbIsHasDairyCowsNo" onchange="GetsAnimalsChanged()" /> No
                                    </label>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 0px;margin-left:20px">
                                <div class="col-sm-4">
                                    <span id="labelHasBeefCows" style="font-weight: bold">
                                        I have beef cattle
                                    </span>
                                </div>
                                <div class="col-sm-6 form-group" role="radiogroup" aria-labelledby="labelHasBeefCows" style="margin-bottom: 0px;">
                                    <label style="padding-right: 20px">
                                        <input asp-for="HasBeefCows" type="radio" value="true" id="rbIsHasBeefCowsYes" onchange="GetsAnimalsChanged()" /> Yes
                                    </label>
                                    <label>
                                        <input asp-for="HasBeefCows" type="radio" value="false" id="rbIsHasBeefCowsNo" onchange="GetsAnimalsChanged()" /> No
                                    </label>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 0px;margin-left:20px">
                                <div class="col-sm-4">
                                    <span id="labelHasPoultry" style="font-weight: bold">
                                        I have poultry
                                    </span>
                                </div>
                                <div class="col-sm-6 form-group" role="radiogroup" aria-labelledby="labelHasPoultry" style="margin-bottom: 0px;">
                                    <label style="padding-right: 20px">
                                        <input asp-for="HasPoultry" type="radio" value="true" id="rbIsHasPoultryYes" onchange="GetsAnimalsChanged()" /> Yes
                                    </label>
                                    <label>
                                        <input asp-for="HasPoultry" type="radio" value="false" id="rbIsHasPoultryNo" /> No
                                    </label>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 0px;margin-left:20px">
                                <div class="col-sm-4">
                                    <span id="labelHasMixedLiveStock" style="font-weight: bold">
                                        I have other or mixed livestock
                                    </span>
                                </div>
                                <div class="col-sm-6 form-group" role="radiogroup" aria-labelledby="labelHasMixedLiveStock" style="margin-bottom: 0px;">
                                    <label style="padding-right: 20px">
                                        <input asp-for="HasMixedLiveStock" type="radio" value="true" id="rbIsHasMixedLiveStockYes" onchange="GetsAnimalsChanged()" /> Yes
                                    </label>
                                    <label>
                                        <input asp-for="HasMixedLiveStock" type="radio" value="false" id="rbIsHasMixedLiveStockNo" onchange="GetsAnimalsChanged()" /> No
                                    </label>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-sm-12">
                                <label asp-for="SelRegOption" for="ddlRegion">Region</label>
                                <p class="form-box-subtext">Region selection will customize recommendations to your local climate.</p>
                                <div class="col-sm-6" style="padding-left: 0">
                                    <select id="ddlRegion" class="form-control" asp-for="SelRegOption" asp-items="@(new SelectList(Model.RegOptions, "Id", "Value"))">
                                        <option value="0">select region</option>
                                    </select>
                                    <span asp-validation-for="SelRegOption"></span>
                                </div>

                                @if (Model.ShowSubRegion && Model.HasAnimals &&
                                   (Model.HasBeefCows || Model.HasDairyCows || Model.HasMixedLiveStock))
                                {
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <select id="ddlSubRegion" class="form-control" asp-for="SelSubRegOption"
                                                    asp-items="@(new SelectList(Model.SubRegionOptions, "Id", "Value"))">
                                                <option value="0">select subregion</option>
                                            </select>
                                            <span asp-validation-for="SelSubRegOption" class="text-danger">A sub region must be selected</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-box-submit">
                <div class="form-box-fields text-right">
                    <button class="btn btn-primary" type="submit" title="Next" aria-label="Next" onclick="">Next</button>
                </div>
            </div>
            @Html.HiddenFor(x => x.CurrentYear)
            @Html.HiddenFor(x => x.ShowSubRegion)
            @Html.HiddenFor(x => x.ShowAnimals)
            @Html.HiddenFor(x => x.ButtonPressed)
        </form>
        <!-- PAGE CONTENT -->
    </div>
</div>

<!-- /BODY CONTENT -->
@section Scripts {
    <script type="text/javascript">

        function Intercept(x) {
            var incomplete = "False";
            var jqxhr = $.ajax({
                    type: "GET",
                    url: '@Url.Action("CheckCompleted", "Farm")',
                    data: '{}',
                    async: false,
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                })
                .done(function (result) {
                    incomplete = result.incomplete;
                })
                .fail(function (result) {
                    incomplete = "False";
                });

            if (incomplete == "True")
            {
                $.ajaxSetup({ cache: false });
                var url = '@Url.Action("FarmIncomplete", "Farm", new { target = "zzz" })';
                $type = url.replace('zzz', x);
                $('#myModalContent').load($type, function () {
                    $('#myModal').modal({
                        /*backdrop: 'static',*/
                        //keyboard: true
                    }, 'show');
                    bindFormI(this);
                });
                return false;
            }
            else
            {
                window.location.href = x;
            }
        }

        $(document).ready(function () {
            $("#FarmFarm1").addClass('wizard-item-done');
        });

        $(document).on("click", '[data_modalI]', function (e) {
            $.ajaxSetup({ cache: false });
            $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
            $("#divSize").addClass("modal-carousel");
            $('#myModalContent').load($type, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindFormI(this);
            });
            return false;
        });

        $(".modal").on("hidden.bs.modal", function () {
            $(".myModalContent").html("");
        });

        function bindFormI(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    cache: false,
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            window.location.href = result.url;
                        } else {
                            $('#myModalContent').html(result);
                            bindFormI(dialog);
                        }
                    }
                });
                return false;
            });
        }

        $(document).ready(function () {
            $("#submenu").addClass('padding');
            $("#submenu-ul-fields").addClass('submenu-display');
            $("#submenu-ul-manure").addClass('submenu-display');
        });

        function LoadSubRegion() {
            var id = $("#ddlRegion").val();
            var options = [];

            $.getJSON("/Farm/SubRegions/"+id, function(result) {
                for (var i = 0; i < result.length; i++) {
                    options.push('<option value="',
                        result[i].id, '">',
                        result[i].value, '</option>');
                }

                $("#ddlSubRegion").html('');
                $("#ddlSubRegion").html(options.join(''));

                if ($("#ddlSubRegion option").length > 1) {
                    $("#ddlSubRegion").prop("disabled", false);
                    if ($("#ddlSubRegion option").length == 2) {
                        $("#ddlSubRegion>option:eq(1)").attr('selected', true);
                    }
                }
                else {
                    $("#ddlSubRegion").prop("disabled", true);
                }
            });
        }

        $(document).ready(function () {
            $("body").on("change", "#ddlRegion", function () {
                LoadSubRegion();
            })
        });

        $(document).ready(function () {
            $("body").on("change", "#ddlSubRegion", function () {
                var id = $("#ddlSubRegion").val();
                $.post("/Farm/FarmSubRegion/"+id, id);
            })
        });

        $(document).ready(function () {
            $("body").on("change", "#ddlRegionModal", function () {
                $('#ButtonPressed').val("RegionChange");
                $("#warnForm").submit();
            })
        });

        $(document).ready(function () {

            if ($("#ddlRegion").val() == 0) {
                $("#ddlSubRegion").prop("disabled", true);
            }
        });

        function GetsAnimalsChanged() {
            $('#ButtonPressed').val("GetsAnimalsChange");
            $("#modForm").submit();
        }

        $(document).on("click",
            '[data_modal2]',
            function (e) {
                $.ajaxSetup({ cache: false });
                $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
                $('#myModalContent').load($type,
                    function () {
                        $('#myModal').modal({
                                /*backdrop: 'static',*/
                                //keyboard: true

                            },
                            'show');
                        bindForm2(this);
                    });
                return false;
            });

        function bindForm2(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                        cache: false,
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize()
                    })
                    .done(function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            //$(result.target).load(result.url); //  Load data from the server and place the returned HTML into the matched element
                            window.location.href = result.url;
                        } else {
                            $('#myModalContent').html(result);
                            bindForm2(dialog);
                        }
                    });

                return false;
            });
        }
    </script>
}