@model FarmViewModel

@{
    ViewBag.Title = "Farm Information";
}
<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog" id="divSize">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<!-- BODY CONTENT -->

<div class="header-height"></div>

<br />
<br />

<div class="container">
    <div class="step-forms col-sm-12">
        <!-- PAGE CONTENT -->
        <form asp-controller="Farm" asp-action="Farm" method="post" id="modForm">
            <div class="form-box">
                <div class="form-box-header clearfix">
                    <legend class="form-box-heading">Farm Information</legend>
                </div>
                <div class="form-box-body">
                    <div class="form-box-fields">
                        @if (Model.IsLegacyNMPReleaseVersion)
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="~/images/dollar warning.svg" height='20' width='20' />
                                    <span class="text-danger">@Html.Raw(@Model.LegacyNMPMessage)</span>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="year">Year</label>
                                <input class="form-control" asp-for="year" id="year" type="text" />
                                <span asp-validation-for="year"></span>
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="farmName">Farm name</label>
                                <input class="form-control" asp-for="farmName" id="farmName" name="farmName" type="text">
                                <span asp-validation-for="farmName"></span>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 0px;">
                            <div class="col-sm-4">
                                <span id="labelHasAnimals1" style="font-weight: bold">
                                    I have animals
                                </span>
                            </div>
                            <div class="col-sm-6 form-group" role="radiogroup" aria-labelledby="labelHasAnimals1" style="margin-bottom: 0px;">
                                <label style="padding-right: 20px">
                                    <input asp-for="HasAnimals1" type="radio" value="true" id="rbIsHasAnimals1Yes" onchange="GetsAnimalsChanged()"/> Yes
                                </label>
                                <label>
                                    <input asp-for="HasAnimals1" type="radio" value="false" id="rbIsHasAnimals1No"  onchange="GetsAnimalsChanged()"/> No
                                </label>
                            </div>
                        </div>
                        @if (Model.showAnimals)
                        {
                            <div class="row" style="margin-bottom: 0px;margin-left:20px">
                                <div class="col-sm-4">
                                    <span id="labelHasDairyCows" style="font-weight: bold">
                                        I have dairy cows
                                    </span>
                                </div>
                                <div class="col-sm-6 form-group" role="radiogroup" aria-labelledby="labelHasDairyCows" style="margin-bottom: 0px;">
                                    <label style="padding-right: 20px">
                                        <input asp-for="HasDairyCows" type="radio" value="true" id="rbIsHasDairyCowsYes"/> Yes
                                    </label>
                                    <label>
                                        <input asp-for="HasDairyCows" type="radio" value="false" id="rbIsHasDairyCowsNo"/> No
                                    </label>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 0px;margin-left:20px">
                                <div class="col-sm-4">
                                    <span id="labelHasBeefCows" style="font-weight: bold">
                                        I have beef cows
                                    </span>
                                </div>
                                <div class="col-sm-6 form-group" role="radiogroup" aria-labelledby="labelHasBeefCows" style="margin-bottom: 0px;">
                                    <label style="padding-right: 20px">
                                        <input asp-for="HasBeefCows" type="radio" value="true" id="rbIsHasBeefCowsYes" /> Yes
                                    </label>
                                    <label>
                                        <input asp-for="HasBeefCows" type="radio" value="false" id="rbIsHasBeefCowsNo" /> No
                                    </label>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 0px;margin-left:20px">
                                <div class="col-sm-4">
                                    <span id="labelHasPoultry" style="font-weight: bold">
                                        I have poultry
                                    </span>
                                </div>
                                <div class="col-sm-6 form-group" role="radiogroup" aria-labelledby="labelHasPoultry" style="margin-bottom: 0px;">
                                    <label style="padding-right: 20px">
                                        <input asp-for="HasPoultry" type="radio" value="true" id="rbIsHasPoultryYes" /> Yes
                                    </label>
                                    <label>
                                        <input asp-for="HasPoultry" type="radio" value="false" id="rbIsHasPoultryNo" /> No
                                    </label>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 0px;margin-left:20px">
                                <div class="col-sm-4">
                                    <span id="labelHasMixedLiveStock" style="font-weight: bold">
                                        I have mixed livestock
                                    </span>
                                </div>
                                <div class="col-sm-6 form-group" role="radiogroup" aria-labelledby="labelHasMixedLiveStock" style="margin-bottom: 0px;">
                                    <label style="padding-right: 20px">
                                        <input asp-for="HasMixedLiveStock" type="radio" value="true" id="rbIsHasMixedLiveStockYes" /> Yes
                                    </label>
                                    <label>
                                        <input asp-for="HasMixedLiveStock" type="radio" value="false" id="rbIsHasMixedLiveStockNo" /> No
                                    </label>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-sm-6">
                                <label asp-for="selRegOption" for="ddlRegion">Region</label>
                                <p class="form-box-subtext">Region selection will customize recommendations to your local climate.</p>
                                <select id="ddlRegion" class="form-control" asp-for="selRegOption" asp-items="@(new SelectList(Model.regOptions, "Id", "Value"))">
                                    <option>select region</option>
                                </select>
                                <span asp-validation-for="selRegOption"></span>
                            </div>
                        </div>
                        @if (Model.showSubRegion && Model.HasAnimals1)
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    <select id="ddlSubRegion" class="form-control" asp-for="selSubRegOption" asp-items="@(new SelectList(Model.subRegionOptions, "Id", "Value"))">
                                        <option>select subregion</option>
                                    </select>
                                    @if (Model.multipleSubRegion)
                                    {
                                        <span asp-validation-for="selSubRegOption" class="text-danger">A sub region must be selected</span>
                                    }
                                </div>
                            </div>
                        }
                        <div class="row" style="margin-bottom: 0px;">
                            <div class="col-sm-4">
                                <span id="labelHasAnimals" style="font-weight: bold">
                                    This farm has animals
                                </span>
                            </div>
                            <div class="col-sm-6 form-group" role="radiogroup" aria-labelledby="labelHasAnimals" style="margin-bottom: 0px;">
                                <label style="padding-right: 20px">
                                    <input asp-for="HasAnimals" type="radio" value="true" id="rbIsHasAnimalsYes" /> Yes
                                </label>
                                <label>
                                    <input asp-for="HasAnimals" type="radio" value="false" id="rbIsHasAnimalsNo" /> No
                                </label>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 0px;">
                            <div class="col-sm-4">
                                <span id="labelImportsManureCompost" style="font-weight: bold">
                                    This farm imports manure or compost
                                </span>
                            </div>
                            <div class="col-sm-6 form-group" role="radiogroup" aria-labelledby="labelImportsManureCompost" style="margin-bottom: 0px;">
                                <label style="padding-right: 20px">
                                    <input asp-for="ImportsManureCompost" type="radio" value="true" id="rbIsImportsManureCompostYes" /> Yes
                                </label>
                                <label>
                                    <input asp-for="ImportsManureCompost" type="radio" value="false" id="rbIsImportsManureCompostNo" /> No
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <span id="labelUsesFertilizer" style="font-weight: bold">
                                    This farm uses fertilizer
                                </span>
                            </div>
                            <div class="col-sm-6 form-group" role="radiogroup" aria-labelledby="labelUsesFertilizer">
                                <label style="padding-right: 20px">
                                    <input asp-for="UsesFertilizer" type="radio" value="true" id="rbIsUsesFertilizerYes" /> Yes
                                </label>
                                <label>
                                    <input asp-for="UsesFertilizer" type="radio" value="false" id="rbIsUsesFertilizerNo" /> No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-box-submit">
                <div class="form-box-fields text-right">
                    <button class="btn btn-primary" type="submit" title="Next" aria-label="Next" onclick="">Next</button>
                </div>
            </div>
            @Html.HiddenFor(x => x.currYear)
            @Html.HiddenFor(x => x.showSubRegion)
            @Html.HiddenFor(x => x.showAnimals)
            @Html.HiddenFor(x => x.multipleSubRegion)
            @Html.HiddenFor(x => x.buttonPressed)
        </form>
        <!-- PAGE CONTENT -->
    </div>
</div>

<!-- /BODY CONTENT -->
@section Scripts {
    <script type="text/javascript">

        function Intercept(x) {
            var incomplete = "False";
            var jqxhr = $.ajax({
                    type: "GET",
                    url: '@Url.Action("CheckCompleted", "Farm")',
                    data: '{}',
                    async: false,
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                })
                .done(function (result) {
                    incomplete = result.incomplete;
                })
                .fail(function (result) {
                    incomplete = "False";
                });

            if (incomplete == "True")
            {
                $.ajaxSetup({ cache: false });
                var url = '@Url.Action("FarmIncomplete", "Farm", new { target = "zzz" })';
                $type = url.replace('zzz', x);
                $('#myModalContent').load($type, function () {
                    $('#myModal').modal({
                        /*backdrop: 'static',*/
                        //keyboard: true
                    }, 'show');
                    bindFormI(this);
                });
                return false;
            }
            else
            {
                window.location.href = x;
            }
        }

        $(document).ready(function () {
            $("#FarmFarm1").addClass('wizard-item-done');
        });

        $(document).on("click", '[data_modalI]', function (e) {
            $.ajaxSetup({ cache: false });
            $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
            $("#divSize").addClass("modal-carousel");
            $('#myModalContent').load($type, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindFormI(this);
            });
            return false;
        });

        $(".modal").on("hidden.bs.modal", function () {
            $(".myModalContent").html("");
        });

        function bindFormI(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    cache: false,
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            window.location.href = result.url;
                        } else {
                            $('#myModalContent').html(result);
                            bindFormI(dialog);
                        }
                    }
                });
                return false;
            });
        }

        $(document).ready(function () {
            $("#submenu").addClass('padding');
            $("#submenu-ul-fields").addClass('submenu-display');
            $("#submenu-ul-manure").addClass('submenu-display');
        });

        $(document).ready(function () {
            $("body").on("change", "#ddlRegion", function () {
                $('#buttonPressed').val("RegionChange");
                $("#modForm").submit();
            })
        });

        $(document).ready(function () {
            $("body").on("change", "#ddlSubRegion", function () {
                $('#buttonPressed').val("SubRegionChange");
                $("#modForm").submit();
            })
        });

        $(document).ready(function () {
            $("body").on("change", "#ddlRegionModal", function () {
                $('#buttonPressed').val("RegionChange");
                $("#warnForm").submit();
            })
        });

        $(document).ready(function () {
            $("body").on("change", "#ddlSubRegionModal", function () {
                $('#buttonPressed').val("SubRegionChange");
                $("#warnForm").submit();
            })
        });

        function GetsAnimalsChanged() {
            $('#buttonPressed').val("GetsAnimalsChange");
            $("#modForm").submit();
        }

        $(document).on("click",
            '[data_modal2]',
            function (e) {
                $.ajaxSetup({ cache: false });
                $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
                $('#myModalContent').load($type,
                    function () {
                        $('#myModal').modal({
                                /*backdrop: 'static',*/
                                //keyboard: true

                            },
                            'show');
                        bindForm2(this);
                    });
                return false;
            });

        function bindForm2(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                        cache: false,
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize()
                    })
                    .done(function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            //$(result.target).load(result.url); //  Load data from the server and place the returned HTML into the matched element
                            window.location.href = result.url;
                        } else {
                            $('#myModalContent').html(result);
                            bindForm2(dialog);
                        }
                    });

                return false;
            });
        }
    </script>
}