@model SERVERAPI.ViewModels.ReportSeasonalFeedAreaViewModel

@{
    var count = 0;
}

@foreach (var field in Model.Fields)
{
    if (!field.IsSeasonalFeedingArea)
    {
        continue;
    }
    count += 1;
    @if (count > 1)
    {
        <div style="page-break-after:always;">&nbsp;</div>
    }
    <div class="Row">
        <div class="Cell">
            <span style="font-size:10pt"><b>@field.FieldName Feeding Area</b></span>
            <br />
            <br />
        </div>
    </div>
    <div class="Row" style="padding-bottom:20px">
        <div class="Cell">
            <table style="border-collapse: collapse; page-break-inside:avoid">
                <tr>
                    <td class="CellDtl" style="padding-left:5px; width: 140px">
                        Area @field.FieldArea acres
                    </td>
                    <td class="CellHdg" style="width: 50px" rowspan="2">
                        Comments:
                    </td>
                    <td class="CellDtl" style="min-width:200px" rowspan="2">
                        @(string.IsNullOrEmpty(field.FieldComment) ? Html.Raw("&nbsp;") : Html.Raw(field.FieldComment))
                    </td>
                </tr>
                <tr>
                    <td class="CellDtl" style="padding-left:5px" colspan="2">
                        Duration of feeding: @field.FeedingDaysSpentInFeedingArea days
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @if (field.MatureAnimalCount.HasValue || field.GrowingAnimalCount.HasValue)
    {
        <div class="Row" style="padding-bottom: 20px">
            <div class="Cell">
                <table style="border-collapse: collapse; page-break-inside:avoid">
                    <tr>
                        <td colspan="5">
                            <b>Animals</b>
                        </td>
                    </tr>
                    @if (field.MatureAnimalCount.HasValue)
                    {
                        <tr>
                            <td class="CellDtl" style="width: 40px; text-align:center">
                                @field.MatureAnimalCount
                            </td>
                            <td class="CellDtl" style="width: 50px; text-align:center">
                                <b>Mature</b>
                            </td>
                            <td class="CellDtl" style="width: 90px; text-align:center">
                                Averaging @field.MatureAnimalAverageWeight lbs
                            </td>
                            <td class="CellDtl" style="min-width: 150px; text-align:center">
                                @field.MatureAnimalDailyFeedRequirementName
                            </td>
                        </tr>
                    }

                    @if (field.GrowingAnimalCount.HasValue)
                    {
                        <tr>
                            <td class="CellDtl" style="text-align:center">
                                @field.GrowingAnimalCount
                            </td>
                            <td class="CellDtl" style="text-align:center">
                                <b>Growing</b>
                            </td>
                            <td class="CellDtl" style="text-align:center">
                                Averaging @field.GrowingAnimalAverageWeight lbs
                            </td>
                            <td class="CellDtl" style="text-align:center">
                                @field.GrowingAnimalDailyFeedRequirementName
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }

    @if (field.MatureAnimalCount.HasValue || field.GrowingAnimalCount.HasValue)
    {
        <div class="Row" style="padding-bottom:20px">
            <div class="Cell">
                <table style="border-collapse: collapse; page-break-inside:avoid">
                    <tr>
                        <td colspan="5">
                            <b>Calculated feed requirement:</b>
                        </td>
                    </tr>
                    @if (field.MatureAnimalCount.HasValue)
                    {
                        <tr>
                            <td class="CellDtl" style="min-width: 200px; padding-left:5px">
                                @field.CalculatedMatureFeedRequirement.ToString("N2") tons for mature  animals over @field.FeedingDaysSpentInFeedingArea days
                            </td>
                        </tr>
                    }
                    @if (field.GrowingAnimalCount.HasValue)
                    {
                        <tr>
                            <td class="CellDtl" style="padding-left:5px">
                                @field.CalculatedGrowingFeedRequirement.ToString("N2") tons for mature  animals over @field.FeedingDaysSpentInFeedingArea days
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    @foreach (var analytic in field.FeedForageAnalyses)
    {
        <div class="Row">
            <div class="Cell">
                <table style="border-collapse: collapse; page-break-inside:avoid">
                    <tr>
                        <td class="CellHdg" style="width: 50px" rowspan="2">
                            <b>Feed @analytic.Id</b>
                        </td>
                        <td class="CellDtl" style="width: 100px">
                            <b>@analytic.FeedForageType</b>
                        </td>
                        <td class="CellDtl" style="width: 75px;text-align:center">
                            @(analytic.PercentOfTotalFeedForageToAnimals) % of intake
                        </td>
                        <td class="CellDtl" style="width: 75px;text-align:center">
                            @(analytic.PercentOfFeedForageWastage) % wasted feed
                        </td>
                        <td class="CellDtl" style="width: 75px;text-align:center">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td class="CellDtl" style="">
                            <span>Analysis</span>
                            <span>(@(analytic.UseBookValues ? "default" : "custom"))</span>
                        </td>
                        <td class="CellDtl" style="text-align:center">
                            @analytic.CrudeProteinPercent %CP
                        </td>
                        <td class="CellDtl" style="text-align:center">
                            @(analytic.Phosphorus) %P
                        </td>
                        <td class="CellDtl" style="text-align:center">
                            @(analytic.Potassium) %K
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
    <div class="Row" style="padding-top: 20px; ">
        <div class="Cell">
            <table style="border-collapse: collapse; width: 75%;page-break-inside:avoid">
                <tr style="padding-top:20px; padding-bottom:20px">
                    <td class="CellDtl" rowspan="3" style="width: 60%">
                        Feed management over the @field.FeedingDaysSpentInFeedingArea day
                        feeding period can contribute the following total nutrient value to the soil.
                    </td>
                    <td class="CellDtl" style="width:13%;text-align:center">N</td>
                    <td class="CellDtl" style="width: 13%;text-align: center">
                        P<sub>2</sub>O<sub>5</sub>
                    </td>
                    <td class="CellDtl" style="width:13%;text-align:center">K<sub>2</sub>O</td>
                </tr>
                <tr>
                    <td class="CellDtl" colspan="3" style="text-align: center">lbs/ac</td>
                </tr>
                <tr>
                    <td class="CellDtl" style="text-align:center">@field.NCropRemovalValue</td>
                    <td class="CellDtl" style="text-align:center">@field.P205CropRemovalValue</td>
                    <td class="CellDtl" style="text-align:center">@field.K20CropRemovalValue</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="Row" style="padding-top:20px;">
        <div class="Cell">
            <table style="border-collapse: collapse; width: 75%;page-break-inside:avoid">
                <tr>
                    <td class="CellDtl" rowspan="3" style="width: 60%">
                        The short-term nutrient benefit to the growing season following winter feeding may be up to
                    </td>
                    <td class="CellDtl" style="width:13%;text-align:center">N</td>
                    <td class="CellDtl" style="width:13%;text-align:center">P<sub>2</sub>O<sub>5</sub></td>
                    <td class="CellDtl" style="width:13%;text-align:center">K<sub>2</sub>O</td>
                </tr>
                <tr>
                    <td class="CellDtl" colspan="3" style="text-align: center">lbs/ac</td>
                </tr>
                <tr>
                    <td class="CellDtl" style="text-align:center">@field.NAgroBalance</td>
                    <td class="CellDtl" style="text-align:center">@field.P205AgroBalance</td>
                    <td class="CellDtl" style="text-align:center">@field.K20AgroBalance</td>
                </tr>
            </table>
        </div>
    </div>
}