@model SERVERAPI.ViewModels.ReportSummaryViewModel

@if (Model.tests.Count > 0)
{
    <div class="Row">
        <div class="Cell">
            <span style="font-size:10pt"><b>Soil Test Results</b></span>
            <br />
            <br />
            <br />
        </div>
    </div>

    <div class="Row">
        <div class="Cell">
            <table style="border-collapse: collapse; width: 100%">
                <tr>
                    <td class="CellHdg" style="width: 30%">
                        Soil Test P and K Method
                    </td>
                    <td class="CellDtl" style="width: 70%">
                        @Model.testMethod
                    </td>
                </tr>
            </table>
            <br />
            <br />
            <table style="border-collapse: collapse; width: 100%;page-break-inside:avoid">
                <tr>
                    <td class="CellHdg" style="width:20%">
                        Field
                    </td>
                    <td class="CellHdg" style="width: 10%">
                        Sampling Date
                    </td>
                    <td class="CellHdg" style="width:30%">
                        @Model.year Crops
                    </td>
                    <td class="CellHdg" style="width: 10%; text-align:center">
                        pH
                    </td>
                    <td class="CellHdg" style="width: 10%; text-align:center">
                        NO<sub>3</sub>-N (ppm)
                    </td>
                    <td class="CellHdg" colspan="2" style="width: 10%; text-align:center">
                        Soil Test P (ppm)
                    </td>
                    <td class="CellHdg" colspan="2" style="width: 10%; text-align:center">
                        Soil Test K (ppm)
                    </td>
                </tr>
                @foreach (var test in Model.tests)
                {
                    <tr>
                        <td class="CellDtl" style="vertical-align:top">
                            @test.fieldName
                        </td>
                        <td class="CellDtl" style="vertical-align:top">
                            @test.sampleDate
                        </td>
                        <td class="CellDtl" style="vertical-align:top;">
                            <span style="white-space: pre-line">@test.fieldCrops</span>
                        </td>
                        <td class="CellDtl" style="text-align:center; vertical-align:top">
                            @test.pH
                        </td>
                        <td class="CellDtl" style="text-align:center; vertical-align:top">
                            @test.nitrogen
                        </td>
                        <td class="CellDtl" style="text-align:right; vertical-align:top; border-right:none">
                            @test.phosphorous
                        </td>
                        <td class="CellDtl" style="text-align:left; vertical-align:top; border-left:none">
                            @test.phosphorousRange
                        </td>
                        <td class="CellDtl" style="text-align:right; vertical-align:top; border-right:none">
                            @test.potassium
                        </td>
                        <td class="CellDtl" style="text-align:left; vertical-align:top; border-left:none">
                            @test.potassiumRange
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}