@model SERVERAPI.ViewModels.FertigationDetailsViewModel

@{
    Layout = null;
}
<div id="target">
    <form asp-action="FertigationDetails" asp-controller="Nutrients" id="modForm" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="myModalLabel">Fertigation Details - @Model.title</h2>
        </div>

        <div class="modal-body">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <h4 class="title" style="margin-bottom: 15px;">Provide Product Details</h4>
                    <div class="form-group col-sm-3" style="width:200px;     margin-top: 8px;">
                        <label for="ddlTyp">Fertilizer Type</label>
                        <select class="form-control" asp-for="selTypOption" asp-items="@(new SelectList(Model.typOptions,"Id","Value"))" id="ddlTyp">
                            <option value="">select</option>
                        </select>
                        <span asp-validation-for="selTypOption" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3" style="width:200px; margin-top: 8px; height: 57.56px;">
                        @if(Model.selTypOption == "4" || Model.selTypOption == "2"){ // if custom liquid fertigation
                            <div class="form-group col-sm-2" style="margin-right:0px; padding-right:0px; width:50px; padding-left: 0px;">
                                <label for="valN">N(%)</label>
                                <div>
                                    <input class="form-control" asp-for="valN" id="valN" type="text" />
                                    <span asp-validation-for="valN" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-2" style="margin-right:0px; padding-right:0px; width:50px; padding-left: 0px;">
                                <label for="valP2o5">P₂O₅(%)</label>
                                <div>
                                    <input class="form-control" asp-for="valP2o5" id="valP2o5" type="text" />
                                    <span asp-validation-for="valP2o5" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-2" style="margin-right:0px; padding-right:0px; width:50px; padding-left: 0px;">
                                <label for="valK2o">K₂O(%)</label>
                                <div>
                                    <input class="form-control" asp-for="valK2o" id="valK2o" type="text" />
                                    <span asp-validation-for="valK2o" class="text-danger"></span>
                                </div>
                            </div>
                        } else {
                        <label for="ddlFert">Fertilizer</label>
                            <select class="form-control" asp-for="selFertOption" asp-items="@(new SelectList(Model.fertOptions,"Id","Value"))" id="ddlFert">
                                <option value="">select</option>
                            </select>
                            <span asp-validation-for="selFertOption" class="text-danger"></span>
                        }

                    </div>
                    @if(Model.selTypOption == "1" || Model.selTypOption == "2"){ 
                    <div class="form-group col-sm-2" style="margin-right:0px; padding-right:0px; width:120px;">
                        <label for="rate">Tank Volume</label>
                            <a href="#" data-toggle="tooltip" title="@Model.ExplainTankVolume" id="toolTipExplainTankVolume">
                              <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of Tank Volume" style="font-size:20px;"></span>
                          </a>
                        <div>
                            <input class="form-control" asp-for="tankVolume" id="ddlTankVolume" type="text" />
                            <span asp-validation-for="tankVolume" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2" style="margin-left:0px;padding-left:0px; margin-top: 8px;">
                        <div style="display:table; width:100%;">
                            <div style="display:table-row">
                                <label for="ddlTankVolume" style="text-align: center; display: block;">Units</label>
                                <select class="form-control" asp-for="selTankVolumeUnitOption" asp-items="@(new SelectList(Model.tankVolumeUnitOptions,"Id","Value"))" id="ddlTankVolume"></select>
                                <span asp-validation-for="selTankVolumeUnitOption" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-2" style="margin-right:0px; padding-right:0px; width:100px; margin-top: 8px;">
                        <label for="density">Solubility</label>
                        <div>
                            <input class="form-control" asp-for="solInWater" id="ddlSolInWater" type="text" />
                            <span asp-validation-for="solInWater" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2" style="margin-left:0px;padding-left:0px; width:100px; margin-top: 8px;">
                        <div style="display:table; width:100%">
                            <div style="display:table-row">
                                <label for="ddlSolubilityUnits" style="text-align: center; display: block;">Units</label>
                                <select class="form-control" asp-for="selSolubilityUnitOption" asp-items="@(new SelectList(Model.solubilityUnitOptions,"Id","Value"))" id="ddlSolubilityUnits"></select>
                                <span asp-validation-for="selSolubilityUnitOption" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4" style="margin-right:0px; padding-right:0px; width:140px; margin-top: 8px;">
                        <label for="density">Amount to Dissolve</label>
                        <div>
                            <input class="form-control" asp-for="amountToDissolve" id="ddlAmountToDissolve" type="text"/>
                            <span asp-validation-for="amountToDissolve" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2" style="margin-left:0px;padding-left:0px; width:100px; margin-top: 8px;">
                        <div style="display:table; width:100%">
                            <div style="display:table-row">
                                <label for="ddlDissolveUnits" style="text-align: center; display: block;">Units</label>
                                <select class="form-control" asp-for="selDissolveUnitOption" asp-items="@(new SelectList(Model.amountToDissolveUnitOptions,"Id","Value"))" id="ddlAmountToDissolve"></select>
                                <span asp-validation-for="selDissolveUnitOption" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4" style="display:flex; align-items: center; width: 160px; margin-top: 8px;">
                      <div>
                          <label >
                              Solubility Assessment
                          </label>
                          <div class="cell" style="text-align:center">
                            @if (Model.dryAction == "Soluble")
                            {
                                <span style="color: #4BB543;">@Model.dryAction </span>
                                <img src="~/images/good.svg" title="Soluble"/>

                            }
                            else if (Model.dryAction == "Reduce the amount to dissolve")
                            {
                                 <span style="color: #FF0000;">@Model.dryAction</span>
                                 <img src="~/images/stop.svg" title="Stop"/>
                            }
                          </div>
                      </div>
                    </div>
                    <div class="form-group col-sm-4" style="display:flex; align-items: center;">
                    <div class="Table">
                        <div class="Title">
                            <p>Nutrient Concentration In Stock Solution(lb/US gallon)</p>
                        </div>
                        <div class="Heading">
                            <div class="Cell">
                                <p>N</p>
                            </div>
                            <div class="Cell">
                                <p>P<sub>2</sub>O<sub>5</sub></p>
                            </div>
                            <div class="Cell">
                                <p>K<sub>2</sub>O</p>
                            </div>
                        </div>
                        <div class="Row">
                            <div class="Cell" style="text-align:center">
                            @Model.nutrientConcentrationN
                            </div>
                            <div class="Cell" style="text-align:center">
                            @Model.nutrientConcentrationP205
                            </div>
                            <div class="Cell" style="text-align:center">
                            @Model.nutrientConcentrationK2O
                            </div>
                          </div>
                      </div>
                      </div>
                    } else {
                        <div class="form-group col-sm-2" style="margin-right:0px; padding-right:0px; width:150px">
                            <label for="rate">Application Rate</label>
                            <a href="#" data-toggle="tooltip" title="@Model.ExplainApplicationRate" id="toolTipExplainApplicationRate">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of Application Rate" style="font-size:20px;"></span>
                            </a>
                            <div>
                                <input class="form-control" asp-for="productRate" id="rate" type="text" />
                                <span asp-validation-for="productRate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-2" style="margin-left:0px;padding-left:0px; margin-top: 8px;">
                            <div style="display:table; width:100%">
                                <div style="display:table-row">
                                    <label for="ddlProdRate" style="text-align: center; display: block;">Units</label>
                                    <select class="form-control" asp-for="selProductRateUnitOption" asp-items="@(new SelectList(Model.productRateUnitOptions,"Id","Value"))" id="ddlProdRate"></select>
                                    <span asp-validation-for="selProductRateUnitOption" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    <div class="form-group col-sm-2" style="margin-right:0px; padding-right:0px; width:100px; margin-top: 8px;">
                        <label for="density">Density</label>
                        <div>
                            <input class="form-control" asp-for="density" id="density" type="text" />
                            <span asp-validation-for="density" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2" style="margin-left:0px;padding-left:0px; width:100px; margin-top: 8px;">
                        <div style="display:table; width:100%">
                            <div style="display:table-row">
                                <label for="ddlDensity" style="text-align: center; display: block;">Units</label>
                                <select class="form-control" asp-for="selDensityUnitOption" asp-items="@(new SelectList(Model.densityUnitOptions,"Id","Value"))" id="ddlDensity"></select>
                                <span asp-validation-for="selDensityUnitOption" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>

            <div style="margin-top: 20px;"></div>

            <div class="row">
                <div class="form-group">
                    <h4 class="title" style="margin-bottom: 15px;">Provide Application Details</h4>
                    <div class="form-group col-sm-2" style="margin-right:0px; padding-right:0px; width:150px">
                        <label for="injectionRate">Injection Rate</label>
                        <a href="#" data-toggle="tooltip" title="@Model.ExplainInjectionRate" id="toolTipExplainInjectionRate">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of Injection Rate" style="font-size:20px;"></span>
                        </a>
                        <div>
                            <input class="form-control" asp-for="injectionRate" id="injectionRate" type="text" />
                            <span asp-validation-for="injectionRate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2" style="margin-left:0px; padding-left:0px">
                        <div style="display:table; width:100%">
                            <label for="ddlInjRate" style="text-align: center; display: block; margin-top: 8px;">Units</label>
                            <select class="form-control" asp-for="selInjectionRateUnitOption" asp-items="@(new SelectList(Model.injectionRateUnitOptions,"Id","Value"))" id="ddlInjRate"></select>
                            <span asp-validation-for="selInjectionRateUnitOption" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="eventsPerSeason" style="margin-top: 8px;">Number of Fertigation Applications per Season</label>
                        <div>
                            <input class="form-control" id="eventsPerSeason" type="number" min="1" asp-for="eventsPerSeason" style="width:100px" />
                            <span asp-validation-for="eventsPerSeason" class="text-danger" value=1></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="ddlMan" style="margin-top: 8px;">Application Frequency</label>
                        <select class="form-control" id="ddlApplPeriod" style="width:100%" asp-for="selFertSchedOption" asp-items="@(new SelectList(Model.applPeriod,"Id","Value"))">
                            <option></option>
                        </select>
                        <div class="mt-2">
                            <div class="input-group date">
                                <input class="form-control" asp-for="applDate" id="applDate" type="text" style="width:100%" />
                                <label class="input-group-addon" for="applDate">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="row" style="padding-bottom: 15px; text-align: right">
                <button class="btn" type="button" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="calc_button" @( Model.btnText == "Calculate" ? Html.Raw(" style='background-color: #1abbed'") : Html.Raw(""))>Calculate</button>
            </div>


                <hr style="height:1px;border:none;color:blue;background-color:lightblue;padding:0; margin-top: 5px;" />

              <div class="row">
                <div class="form-group" style="display:flex; justify-content:space-between; width:90%">
                @if(Model.selTypOption == "1" || Model.selTypOption == "2"){
                    <div class="form-group col-sm-8" style="display:flex; align-items:center; margin:5px; height: 40px;">
                      <div>
                          <label style="display:flex; align-items:center; padding-left: 50px;">
                              Time per Application
                              <a href="#" data-toggle="tooltip" title="@Model.ExplainTime" id="toolTipExplainTime">
                                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of Time per Application" style="font-size:20px;"></span>
                              </a>
                          </label>
                          <div class="cell" style="text-wrap: pretty; text-align: center; padding-left: 50px;">
                            @Model.fertigationTime minutes
                          </div>
                      </div>
                  </div>
                } else {
                  <div class="form-group col-sm-8" style="margin:5px">
                      <div class="table">
                          <label id="productVolumeLabel" style="text-wrap: pretty; text-align: center; height: 40px;">
                              Total Product Volume per Application (Select a unit)
                          </label>
                          <div class="cell" style="text-align:center">
                            @Model.totProductVolPerFert
                          </div>
                      </div>
                  </div>
                  <div class="form-group col-sm-8" style="margin:5px">
                      <div class="table">
                          <label id="productVolumeGrowingLabel" style="text-wrap: pretty; text-align: center; height: 40px;">
                              Total Product Volume for Growing Season (select a unit)
                          </label>
                          <div class="cell" style="text-align:center">
                            @Model.totProductVolPerSeason
                          </div>
                      </div>
                  </div>
                  <div class="form-group col-sm-8" style="margin:5px">
                      <div class="table">
                          <label style="height: 40px; text-align:center; margin-left: 50px;">
                              Time per Application
                              <a href="#" data-toggle="tooltip" title="@Model.ExplainTime" id="toolTipExplainTime">
                                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of Time per Application" style="font-size:20px;"></span>
                              </a>
                          </label>
                          <div class="cell" style="text-align:center">
                            @Model.fertigationTime minutes
                          </div>
                      </div>
                  </div>
                }
                </div>
              </div>
              <div class="row">
                <div class="form-group" style="display:flex; justify-content:space-between; width:90%">
                  <div class="form-group col-sm-8" style="margin:5px">
                    <div class="Table">
                          <div class="Title">
                              <p>Applied Nutrients Per Fertigation (lb/ac)</p>
                          </div>
                          <div class="Heading">
                              <div class="Cell">
                                  <p>N</p>
                              </div>
                              <div class="Cell">
                                  <p>P<sub>2</sub>O<sub>5</sub></p>
                              </div>
                              <div class="Cell">
                                  <p>K<sub>2</sub>O</p>
                              </div>
                          </div>
                          <div class="Row">
                              <div class="Cell" style="text-align:center">
                                @Model.calcN
                              </div>
                              <div class="Cell" style="text-align:center">
                                @Model.calcP2o5
                              </div>
                              <div class="Cell" style="text-align:center">
                                @Model.calcK2o
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group col-sm-8" style="margin:5px">
                      <div class="Table">
                          <div class="Title" style="height: 45px;">
                              <p>Total Applied Nutrients (lb/ac)</p>
                          </div>
                          <div class="Heading">
                              <div class="Cell">
                                  <p>N</p>
                              </div>
                              <div class="Cell">
                                  <p>P<sub>2</sub>O<sub>5</sub></p>
                              </div>
                              <div class="Cell">
                                  <p>K<sub>2</sub>O</p>
                              </div>
                          </div>
                          <div class="Row">
                              <div class="Cell" style="text-align:center">
                                @Model.calcTotalN
                              </div>
                              <div class="Cell" style="text-align:center">
                                @Model.calcTotalK2o
                              </div>
                              <div class="Cell" style="text-align:center">
                                @Model.calcTotalP2o5
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group col-sm-8" style="margin:5px">
                      <div class="Table">
                          <div class="Title" style="height: 45px;">
                              <p>Still Required This Year (lbs/ac)</p>
                          </div>
                          <div class="Heading">
                              <div class="Cell">
                                  <p>N</p>
                              </div>
                              <div class="Cell">
                                  <p>P<sub>2</sub>O<sub>5</sub></p>
                              </div>
                              <div class="Cell">
                                  <p>K<sub>2</sub>O</p>
                              </div>
                          </div>
                          <div class="Row">
                              <div class="Cell" style="text-align:center">
                                @if (!string.IsNullOrEmpty(Model.totNIcon))
                            {
                                <img src="~/images/@(Model.totNIcon).svg" title="@Model.totNIconText"/>
                            }
                                @Model.totN
                              </div>
                              <div class="Cell" style="text-align:center">
                                    @if (!string.IsNullOrEmpty(Model.totPIcon))
                                    {
                                        <img src="~/images/@(Model.totPIcon).svg" title="@Model.totPIconText" />
                                    }
                                @Model.totP2o5
                              </div>
                              <div class="Cell" style="text-align:center">
                                @if (!string.IsNullOrEmpty(Model.totKIcon))
                                {
                                    <img src="~/images/@(Model.totKIcon).svg" title="@Model.totKIconText" />
                                }
                                @Model.totK2o
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn" type="button" data-dismiss="modal">Cancel</button>
            @if(@Model.btnText == "Add to Field" && ViewContext.ViewData.ModelState.IsValid){
                <button type="submit" class="btn btn-primary" id="submit_button" value="@Model.btnText" >Add to Field</button>
            } else if (@Model.btnText == "Update Field" && ViewContext.ViewData.ModelState.IsValid){
                <button type="submit" class="btn btn-primary" id="submit_button" value="@Model.btnText" >Update Field</button>

            }
            else {
                <button type="submit" class="btn btn-primary" disabled id="submit_button" value="@Model.btnText">Fertigation not yet Valid</button>
            }
        </div>
        @Html.HiddenFor(x => x.fieldName)
        @Html.HiddenFor(x => x.title)
        @Html.HiddenFor(x => x.selFertOption)
        @Html.HiddenFor(x => x.buttonPressed)
        @Html.HiddenFor(x => x.selFertSchedOption)
        @Html.HiddenFor(x => x.applDate)
        @Html.HiddenFor(x => x.groupID)

        @Html.HiddenFor(x => x.valN)
        @Html.HiddenFor(x => x.valP2o5)
        @Html.HiddenFor(x => x.valK2o)
        @Html.HiddenFor(x => x.calcN)
        @Html.HiddenFor(x => x.calcP2o5)
        @Html.HiddenFor(x => x.calcK2o)
        @Html.HiddenFor(x => x.calcTotalN)
        @Html.HiddenFor(x => x.calcTotalK2o)
        @Html.HiddenFor(x => x.calcTotalP2o5)
        @Html.HiddenFor(x => x.stdDensity)
        @Html.HiddenFor(x => x.totK2o)
        @Html.HiddenFor(x => x.totKIcon)
        @Html.HiddenFor(x => x.totKIconText)
        @Html.HiddenFor(x => x.totN)
        @Html.HiddenFor(x => x.totNIcon)
        @Html.HiddenFor(x => x.totNIconText)
        @Html.HiddenFor(x => x.totP2o5)
        @Html.HiddenFor(x => x.totPIcon)
        @Html.HiddenFor(x => x.totPIconText)

        @Html.HiddenFor(x => x.tankVolume)
        @Html.HiddenFor(x => x.tankVolumeUnits)
        @Html.HiddenFor(x => x.tankVolumeUnitOptions)
        @Html.HiddenFor(x => x.selTankVolumeUnitOption)
        @Html.HiddenFor(x => x.solInWater)
        @Html.HiddenFor(x => x.amountToDissolve)
        @Html.HiddenFor(x => x.amountToDissolveUnitOptions)
        @Html.HiddenFor(x => x.selDissolveUnitOption)
        @Html.HiddenFor(x => x.amountToDissolveUnits)
        @Html.HiddenFor(x => x.selSolubilityUnitOption)
        @Html.HiddenFor(m => m.solInWaterUnits)

        @Html.HiddenFor(x => x.fertigationTime)
        @Html.HiddenFor(x => x.totProductVolPerFert)
        @Html.HiddenFor(x => x.totProductVolPerSeason)
        @Html.HiddenFor(x => x.nutrientConcentrationN)
        @Html.HiddenFor(x => x.nutrientConcentrationK2O)
        @Html.HiddenFor(x => x.nutrientConcentrationP205)

    </form>
</div>

<script>
$(document).ready(function () {

    function initializeToolTips() {
      //Tooltips for injectionRate rate
        $('#toolTipExplainInjectionRate').tooltip({
            template: toolTipClickableInnerHtml,
            html: true,
            trigger: 'manual',
        });
        $('#toolTipExplainInjectionRate').click(function () {
            triggerToolTip($('#toolTipExplainInjectionRate'));
        });
        //tooltip for Application rate
        $('#toolTipExplainApplicationRate').tooltip({
            template: toolTipClickableInnerHtml,
            html: true,
            trigger: 'manual',
        });
        $('#toolTipExplainApplicationRate').click(function () {
            triggerToolTip($('#toolTipExplainApplicationRate'));
        });
        //tooltip for times per fertigation
        $('#toolTipExplainTime').tooltip({
            template: toolTipClickableInnerHtml,
            html: true,
            trigger: 'manual',
        });
        $('#toolTipExplainTime').click(function () {
            triggerToolTip($('#toolTipExplainTime'));
        });
        //tooltip for tank volume
        $('#toolTipExplainTankVolume').tooltip({
            template: toolTipClickableInnerHtml,
            html: true,
            trigger: 'manual',
        });
        $('#toolTipExplainTankVolume').click(function () {
            triggerToolTip($('#toolTipExplainTankVolume'));
        });
    }

    initializeToolTips()

    $('#applDate').datepicker({
        format: "dd-M-yyyy",
        autoclose: true,
        todayHighlight: true,
        clearBtn: true,
        startView: 0,
        minViewMode: 0,
        endDate: '+10y',
        defaultViewDate: new Date()
    }).on('changeDate', function(e) {

        $('#applDate').val(e.format('dd-M-yyyy'));
    });

    var existingDate = $('#applDate').val();
    if (existingDate) {
        var dateParts = existingDate.split('-');
        if (dateParts.length === 3) {
            var day = dateParts[0];
            var month = new Date(Date.parse(dateParts[1] +" 1, 2024")).getMonth();
            var year = dateParts[2];
            var date = new Date(year, month, day);
            $('#applDate').datepicker('setDate', date);
        }
    }

    // Function to update unit labels
    function updateUnits() {
        var userUnit = $('#ddlProdRate').find("option:selected").text();
        $('#productVolumeLabel').text('Total Product Volume per Application (' + userUnit + ')');
        $('#productVolumeGrowingLabel').text('Total Product Volume for Growing Season (' + userUnit + ')');
    }

    // On page load, initialize unit label
    updateUnits();

    function editCalculate() {
      //to calculate Nutrients when editing
        var modelTitle = $('#myModalLabel').text().toLowerCase();
        if (modelTitle.includes("edit")) {
            setTimeout(function () {
                $('#calc_button').click();
            }, 1000);
        }
    }

    $('#myModal').on('show.bs.modal', function () {
        editCalculate();
    });

});
</script>
