@model SERVERAPI.ViewModels.FertilizerDetailsViewModel

@{
    Layout = null;
}
<div id="target">
    <form asp-action="FertilizerDetails" asp-controller="Nutrients" id="modForm" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Fertilizer Details - @Model.title</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="form-group col-sm-4">
                        <label for="ddlTyp">Fertilizer Type</label>
                        <select class="form-control" asp-for="selTypOption" asp-items="@(new SelectList(Model.typOptions,"Id","Value"))" id="ddlTyp">
                            <option>select</option>
                        </select>
                        <span asp-validation-for="selTypOption" class="text-danger"></span>
                    </div>
                    @if (Model.manEntry)
                {
                    <div class="form-group col-sm-4">
                        <div class="Table">
                            <div class="Heading">
                                <div class="Cell">
                                    <p style="margin-bottom:5px">N&nbsp;(%)</p>
                                </div>
                                <div class="Cell">
                                    <p style="margin-bottom:5px">P<sub>2</sub>O<sub>5</sub>&nbsp;(%)</p>
                                </div>
                                <div class="Cell">
                                    <p style="margin-bottom:5px">K<sub>2</sub>O&nbsp;(%)</p>
                                </div>
                            </div>
                            <div class="Row">
                                <div class="Cell2">
                                    <div class="input-group col-sm-12">
                                        <input class="form-control col-sm-12" asp-for="valN" type="text" id="valN" />
                                    </div>
                                    <span asp-validation-for="valN" class="text-danger"></span>
                                </div>
                                <div class="Cell2">
                                    <div class="input-group col-sm-12">
                                        <input class="form-control col-sm-12" asp-for="valP2o5" type="text" id="valP" />
                                    </div>
                                    <span asp-validation-for="valP2o5" class="text-danger"></span>
                                </div>
                                <div class="Cell2">
                                    <div class="input-group col-sm-12">
                                        <input class="form-control col-sm-12" asp-for="valK2o" type="text" id="valK" />
                                    </div>
                                    <span asp-validation-for="valK2o" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(x => x.selFertOption)
            }
            else
            {
                <div class="form-group col-sm-4">
                    <label for="ddlFert">Fertilizer</label>
                    <select class="form-control" asp-for="selFertOption" asp-items="@(new SelectList(Model.fertOptions, "Id", "Value"))" id="ddlFert">
                        <option>select</option>
                    </select>
                    <span asp-validation-for="selFertOption" class="text-danger"></span>
                </div>
        }
                    <div class="form-group col-sm-2">
                        <label for="rate"> Application Rate</label>
                        <input class="form-control" asp-for="applRate" id="rate" type="text" />
                        <span asp-validation-for="applRate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="ddlFertRate">Appl Units</label>
                        <select class="form-control" asp-for="selRateOption" asp-items="@(new SelectList(Model.rateOptions,"Id","Value"))" id="ddlFertRate">
                            <option>select</option>
                        </select>
                        <span asp-validation-for="selRateOption" class="text-danger"></span>
                    </div>
                </div>
                <div style="clear:both"></div>
                <div class="form-group">
                    <div class="form-group col-sm-3">
                        <label for="ddlMethOption">Method (optional)</label>
                        <select class="form-control" asp-for="selMethOption" asp-items="@(new SelectList(Model.methOptions,"Id","Value"))" id="ddlMethOption">
                            <option id="0" value="0"></option>
                        </select>
                        <span asp-validation-for="selMethOption" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="applDate">Date (optional)</label>
                        <div class="input-group">
                            <input class="form-control" asp-for="applDate" id="applDate" type="text" />
                        </div>
                        <span asp-validation-for="applDate" class="text-danger"></span>
                    </div>
                    @if (Model.fertilizerType == "liquid")
                {
                    <div class="form-group col-sm-2">
                        &nbsp;
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="density">Density</label>
                        <div class="input-group">
                            <input class="form-control" asp-for="density" id="density" type="text" />
                            @if (!Model.stdDensity)
                        {
                            <span class="input-group-btn" title="Reset to standard value">
                                <button class="btn btn-default" type="button" id="rstDensity" style="background-color:orange"><i class="glyphicon glyphicon-refresh" style="background-color:orange"></i></button>
                            </span>
                    }
                        </div>
                        <span asp-validation-for="density" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="ddlDensity">Density Units</label>
                        <select class="form-control" asp-for="selDenOption" asp-items="@(new SelectList(Model.denOptions,"Id","Value"))" id="ddlDensity"></select>
                        <span asp-validation-for="selDenOption" class="text-danger"></span>
                    </div>

            }
                </div>
                <div style="clear:both"></div>
                @*else
                {
                    <div class="form-group col-sm-4" style="margin:10px">
                        <div class="Table">
                            <div class="Title">
                                <p>Nutrient Analysis (%)</p>
                            </div>
                            <div class="Heading">
                                <div class="Cell">
                                    <p>N</p>
                                </div>
                                <div class="Cell">
                                    <p>P<sub>2</sub>O<sub>5</sub></p>
                                </div>
                                <div class="Cell">
                                    <p>K<sub>2</sub>O</p>
                                </div>
                            </div>
                            <div class="Row">
                                <div class="Cell" style="text-align:center">
                                    <p>@Model.valN</p>
                                </div>
                                <div class="Cell" style="text-align:center">
                                    <p>@Model.valP2o5</p>
                                </div>
                                <div class="Cell" style="text-align:center">
                                    <p>@Model.valK2o</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }*@
                <div style="clear:both"></div>
                <div class="form-group col-sm-4" style="margin:5px">
                    <div class="Table">
                        <div class="Title">
                            <p>Available Nutrients (lb/ac)</p>
                        </div>
                        <div class="Heading">
                            <div class="Cell">
                                <p>N</p>
                            </div>
                            <div class="Cell">
                                <p>P<sub>2</sub>O<sub>5</sub></p>
                            </div>
                            <div class="Cell">
                                <p>K<sub>2</sub>O</p>
                            </div>
                        </div>
                        <div class="Row">
                            <div class="Cell" style="text-align:center">
                                @Model.calcN
                            </div>
                            <div class="Cell" style="text-align:center">
                                @Model.calcP2o5
                            </div>
                            <div class="Cell" style="text-align:center">
                                @Model.calcK2o
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both"></div>
                <hr style="height:1px;border:none;color:blue;background-color:lightblue;padding:0" />
                <div class="form-group col-sm-4" style="margin:5px">
                    <div class="Table">
                        <div class="Title">
                            <p>Still Required This Year (lb/ac)</p>
                        </div>
                        <div class="Heading">
                            <div class="Cell">
                                <p>N</p>
                            </div>
                            <div class="Cell">
                                <p>P<sub>2</sub>O<sub>5</sub></p>
                            </div>
                            <div class="Cell">
                                <p>K<sub>2</sub>O</p>
                            </div>
                        </div>
                        <div class="Row">
                            <div class="Cell2" style="text-align:center">
                                @if (!string.IsNullOrEmpty(Model.totNIcon))
                            {
                                <img src="~/images/@(Model.totNIcon).svg" title="@Model.totNIconText"/>
                        }
                                @Model.totN
                            </div>
                            <div class="Cell2" style="text-align:center">
                                @if (!string.IsNullOrEmpty(Model.totPIcon))
                            {
                                <img src="~/images/@(Model.totPIcon).svg" title="@Model.totPIconText" />
                        }
                                @Model.totP2o5
                            </div>
                            <div class="Cell2" style="text-align:center">
                                @if (!string.IsNullOrEmpty(Model.totKIcon))
                            {
                                <img src="~/images/@(Model.totKIcon).svg" title="@Model.totKIconText" />
                        }
                                @Model.totK2o
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="ok_button" @( Model.btnText == "Calculate" ? Html.Raw(" style='background-color: #1abbed'") : Html.Raw(""))>@Model.btnText</button>
        </div>
        @Html.HiddenFor(x => x.fieldName)
        @Html.HiddenFor(x => x.buttonPressed)
        @Html.HiddenFor(x => x.currUnit)
        @Html.HiddenFor(x => x.fertilizerType)
        @Html.HiddenFor(x => x.manEntry)
        @Html.HiddenFor(x => x.btnText)
        @Html.HiddenFor(x => x.valN)
        @Html.HiddenFor(x => x.valP2o5)
        @Html.HiddenFor(x => x.valK2o)
        @Html.HiddenFor(x => x.calcN)
        @Html.HiddenFor(x => x.calcP2o5)
        @Html.HiddenFor(x => x.calcK2o)
        @Html.HiddenFor(x => x.stdDensity)
        @Html.HiddenFor(x => x.totK2o)
        @Html.HiddenFor(x => x.totKIcon)
        @Html.HiddenFor(x => x.totKIconText)
        @Html.HiddenFor(x => x.totN)
        @Html.HiddenFor(x => x.totNIcon)
        @Html.HiddenFor(x => x.totNIconText)
        @Html.HiddenFor(x => x.totP2o5)
        @Html.HiddenFor(x => x.totPIcon)
        @Html.HiddenFor(x => x.totPIconText)
    </form>
</div>
<script>
        $(document).ready(function () {

            $('#applDate').datepicker({
                useCurrent: false,
                autoPick: false,
                format: "M-yyyy",
                startView: 1,
                minViewMode: 1,
                autoclose: true
        });
    });
</script>