@model SERVERAPI.ViewModels.FertigationDetailsViewModel

@{
    Layout = null;
}
<div id="target">
    <form asp-action="FertigationDetails" asp-controller="Nutrients" id="modForm" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="myModalLabel">Fertigation Details - @Model.title</h2>
        </div>

        <div class="modal-body">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <h4 class="title" style="margin-bottom: 15px;">Provide Product Details</h4>
                    <div class="form-group col-sm-3" style="width:200px;">
                        <label for="ddlTyp">Fertilizer Type</label>
                        <select class="form-control" asp-for="selTypOption" asp-items="@(new SelectList(Model.typOptions,"Id","Value"))" id="ddlTyp">
                            <option value="">select</option>
                        </select>
                        <span asp-validation-for="selTypOption" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3" style="width:200px;">
                        <label for="ddlFert">Fertilizer</label>
                        <select class="form-control" asp-for="selFertOption" asp-items="@(new SelectList(Model.fertOptions,"Id","Value"))" id="ddlFert">
                            <option value="">select</option>
                        </select>
                        <span asp-validation-for="selFertOption" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-2" style="margin-right:0px; padding-right:0px; width:100px">
                        <label for="rate">Product Rate</label>
                        <div>
                            <input class="form-control" asp-for="productRate" id="rate" type="text" />
                            <span asp-validation-for="productRate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2" style="margin-left:0px;padding-left:0px">
                        <div style="display:table; width:100%">
                            <div style="display:table-row">
                                <label for="ddlProdRate" style="text-align: center; display: block;">Units</label>
                                <select class="form-control" asp-for="selProductRateUnitOption" asp-items="@(new SelectList(Model.productRateUnitOptions,"Id","Value"))" id="ddlProdRate"></select>
                                <span asp-validation-for="selProductRateUnitOption" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-2" style="margin-right:0px; padding-right:0px; width:100px">
                        <label for="density">Density</label>
                        <div>
                            <input class="form-control" asp-for="density" id="density" type="text" />
                            <span asp-validation-for="density" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2" style="margin-left:0px;padding-left:0px; width:100px">
                        <div style="display:table; width:100%">
                            <div style="display:table-row">
                                <label for="ddlDensity" style="text-align: center; display: block;">Units</label>
                                <select class="form-control" asp-for="selDensityUnitOption" asp-items="@(new SelectList(Model.densityUnitOptions,"Id","Value"))" id="ddlDensity"></select>
                                <span asp-validation-for="selDensityUnitOption" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div style="margin-top: 20px;"></div> 

            <div class="row">
                <div class="form-group">
                    <h4 class="title" style="margin-bottom: 15px;">Provide Application Details</h4>
                    <div class="form-group col-sm-2" style="margin-right:0px; padding-right:0px; width:100px">
                        <label for="injectionRate">Injection Rate</label>
                        <div>
                            <input class="form-control" asp-for="injectionRate" id="injectionRate" type="text" />
                            <span asp-validation-for="injectionRate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-2" style="margin-left:0px; padding-left:0px">
                        <div style="display:table; width:100%">
                            <label for="ddlInjRate" style="text-align: center; display: block;">Units</label>
                            <select class="form-control" asp-for="selInjectionRateUnitOption" asp-items="@(new SelectList(Model.injectionRateUnitOptions,"Id","Value"))" id="ddlInjRate"></select>
                            <span asp-validation-for="selInjectionRateUnitOption" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="eventsPerSeason">Proposed Number of Fertigation Per Season</label>
                        <div>
                            <input class="form-control" id="eventsPerSeason" type="text" asp-for="eventsPerSeason" style="width:100px" />
                            <span asp-validation-for="eventsPerSeason" class="text-danger" value=1></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="ddlMan">Fertigation Scheduling</label>
                        <select class="form-control" id="ddlApplPeriod" style="width:100%" asp-for="selFertSchedOption" asp-items="@(new SelectList(Model.applPeriod,"Id","Value"))">
                            <option>select</option>
                        </select>
                        <div class="mt-2">
                            <div class="input-group date">
                                <input class="form-control" asp-for="applDate" id="applDate" type="text" style="width:100%" />
                                <label class="input-group-addon" for="applDate">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="row" style="padding-bottom: 15px; text-align: right">
                <button class="btn" type="button" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="calc_button" @( Model.btnText == "Calculate" ? Html.Raw(" style='background-color: #1abbed'") : Html.Raw(""))>Calculate</button>
            </div>
            

                <hr style="height:1px;border:none;color:blue;background-color:lightblue;padding:0; margin-top: 5px;" />
              
              <div class="row">
                <div class="form-group">
                  <div class="form-group col-sm-4" style="display:flex; align-items: center;">
                      <div>
                          <label style="text-wrap: pretty; text-align: center;">
                              Total Product Volume per Fertigation (Imp. gal)
                          </label>
                          <div class="cell" style="text-align:center">
                            @Model.totProductVolPerFert
                          </div>
                      </div>
                  </div>
                  <div class="form-group col-sm-4" style="display:flex; align-items: center;">
                      <div>
                          <label style="text-wrap: pretty; text-align: center;">
                              Total Product Volume for Growing Season (Imp. gal)
                          </label>
                          <div class="cell" style="text-align:center">
                            @Model.totProductVolPerSeason
                          </div>
                      </div>
                  </div>
                  <div class="form-group col-sm-4" style="display:flex; align-items: center;">
                      <div>
                          <label >
                              Fertigation Time (Minutes)
                          </label>
                          <div class="cell" style="text-align:center">
                            @Model.fertigationTime
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group" style="display:flex; justify-content:space-between; width:90%">
                  <div class="form-group col-sm-3" style="margin:5px">
                    <div class="Table">
                          <div class="Title">
                              <p>Applied Nutrients Per Fetigation (lb/ac)</p>
                          </div>
                          <div class="Heading">
                              <div class="Cell">
                                  <p>N</p>
                              </div>
                              <div class="Cell">
                                  <p>P<sub>2</sub>O<sub>5</sub></p>
                              </div>
                              <div class="Cell">
                                  <p>K<sub>2</sub>O</p>
                              </div>
                          </div>
                          <div class="Row">
                              <div class="Cell" style="text-align:center">
                                @Model.calcN
                              </div>
                              <div class="Cell" style="text-align:center">
                                @Model.calcP2o5
                              </div>
                              <div class="Cell" style="text-align:center">
                                @Model.calcK2o
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group col-sm-3" style="margin:5px">
                      <div class="Table">
                          <div class="Title">
                              <p>Total Applied Nutrients (lb/ac)</p>
                          </div>
                          <div class="Heading">
                              <div class="Cell">
                                  <p>N</p>
                              </div>
                              <div class="Cell">
                                  <p>P<sub>2</sub>O<sub>5</sub></p>
                              </div>
                              <div class="Cell">
                                  <p>K<sub>2</sub>O</p>
                              </div>
                          </div>
                          <div class="Row">@* Temporarily val. need to switch back to calcTotal *@
                              <div class="Cell" style="text-align:center">
                                @Model.calcTotalN
                              </div>
                              <div class="Cell" style="text-align:center">
                                @Model.calcTotalK2o
                              </div>
                              <div class="Cell" style="text-align:center">
                                @Model.calcTotalP2o5
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group col-sm-3" style="margin:5px">
                      <div class="Table">
                          <div class="Title">
                              <p>Still Required This Year (lbs/ac)</p>
                          </div>
                          <div class="Heading">
                              <div class="Cell">
                                  <p>N</p>
                              </div>
                              <div class="Cell">
                                  <p>P<sub>2</sub>O<sub>5</sub></p>
                              </div>
                              <div class="Cell">
                                  <p>K<sub>2</sub>O</p>
                              </div>
                          </div>
                          <div class="Row">
                              <div class="Cell" style="text-align:center">
                                @if (!string.IsNullOrEmpty(Model.totNIcon))
                            {
                                <img src="~/images/@(Model.totNIcon).svg" title="@Model.totNIconText"/>
                        }
                                @Model.totN
                              </div>
                              <div class="Cell" style="text-align:center">
                                   @if (!string.IsNullOrEmpty(Model.totPIcon))
                            {
                                <img src="~/images/@(Model.totPIcon).svg" title="@Model.totPIconText" />
                        }
                                @Model.totP2o5
                              </div>
                              <div class="Cell" style="text-align:center">
                                @if (!string.IsNullOrEmpty(Model.totKIcon))
                            {
                                <img src="~/images/@(Model.totKIcon).svg" title="@Model.totKIconText" />
                        }
                                @Model.totK2o
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn" type="button" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="submit_button" value="@Model.btnText">@Model.btnText</button>
        </div>
        @Html.HiddenFor(x => x.fieldName)
        @Html.HiddenFor(x => x.title)
        @Html.HiddenFor(x => x.selFertOption)
        @Html.HiddenFor(x => x.buttonPressed)
        @Html.HiddenFor(x => x.selFertSchedOption)
        @Html.HiddenFor(x => x.applDate)
        @Html.HiddenFor(x => x.groupID)

        @Html.HiddenFor(x => x.valN)
        @Html.HiddenFor(x => x.valP2o5)
        @Html.HiddenFor(x => x.valK2o)
        @Html.HiddenFor(x => x.calcN)
        @Html.HiddenFor(x => x.calcP2o5)
        @Html.HiddenFor(x => x.calcK2o)
        @Html.HiddenFor(x => x.calcTotalN)
        @Html.HiddenFor(x => x.calcTotalK2o)
        @Html.HiddenFor(x => x.calcTotalP2o5)
        @Html.HiddenFor(x => x.stdDensity)
        @Html.HiddenFor(x => x.totK2o)
        @Html.HiddenFor(x => x.totKIcon)
        @Html.HiddenFor(x => x.totKIconText)
        @Html.HiddenFor(x => x.totN)
        @Html.HiddenFor(x => x.totNIcon)
        @Html.HiddenFor(x => x.totNIconText)
        @Html.HiddenFor(x => x.totP2o5)
        @Html.HiddenFor(x => x.totPIcon)
        @Html.HiddenFor(x => x.totPIconText)

        @Html.HiddenFor(x => x.fertigationTime)
        @Html.HiddenFor(x => x.totProductVolPerFert)
        @Html.HiddenFor(x => x.totProductVolPerSeason)
    </form>
</div>

<script>
   $(document).ready(function () {
    $('#applDate').datepicker({
        format: "dd-M-yyyy", 
        autoclose: true,
        todayHighlight: true,
        clearBtn: true,
        startView: 0,
        minViewMode: 0,
        startDate: new Date(), 
        endDate: '+10y',
        defaultViewDate: new Date() 
    }).on('changeDate', function(e) {
       
        $('#applDate').val(e.format('dd-M-yyyy'));  
    });

    var existingDate = $('#applDate').val();
    if (existingDate) {
        var dateParts = existingDate.split('-');
        if (dateParts.length === 3) {
            var day = dateParts[0];
            var month = new Date(Date.parse(dateParts[1] +" 1, 2024")).getMonth(); 
            var year = dateParts[2];
            var date = new Date(year, month, day); 
            $('#applDate').datepicker('setDate', date);
        }
    }
});
</script>
