@model SERVERAPI.ViewModels.ManureDetailsViewModel

@{
    Layout = null;
}

<style>

    /** Progressbar class css*/
    .progressbar {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 35px;
        position: relative;
        background-color: #EEEEEE;
        box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
    }

    .proggress {
        height: 20px;
        width: 40px;
        background-color: #3498db;
    }

    .percentCount {
        float: right;
        margin-top: -20px;
        margin-right: -60px;
        font-family: Arial
    }
</style>

<div id="target">
    <form asp-action="ManureDetails" asp-controller="Nutrients" id="modForm" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="myModalLabel">Manure Details - @Model.title</h2>
        </div>

        <div class="modal-body">
            @if (Model.areThereMaterialSources && Model.areThereNutrientAnalysis)
            {
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="form-group col-sm-4">
                            <label for="ddlMan">Material Type</label>
                            <select class="form-control" asp-for="SelectedFarmManure" asp-items="@(new SelectList(Model.ManureTypeOptions, "Id", "Value"))" id="ddlMan">
                                <option>select</option>
                            </select>
                            <span asp-validation-for="SelectedFarmManure" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="ddlAppl">Application Season/Method</label>
                            <select class="form-control" asp-for="selApplOption" asp-items="@(new SelectList(Model.applOptions, "Id", "Value"))" id="ddlAppl">
                                <option>select</option>
                            </select>
                            <span asp-validation-for="selApplOption" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-2" style="margin-right:0px; padding-right:0px">
                            <label for="rate"> Application Rate</label>
                            <div>
                                <input class="form-control" asp-for="ApplicationRate" id="rate" type="text" />
                                <span asp-validation-for="ApplicationRate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-3" style="margin-left:0px; padding-left:0px">
                            <div style="display:table; width:100%">
                                <div style="display:table-row">
                                    <label for="ddlRate">Units</label>
                                </div>
                                <div style="display:table-row">
                                    <select class="form-control" asp-for="selRateOption" asp-items="@(new SelectList(Model.rateOptions, "Id", "Value"))" id="ddlRate" style="width:70%; display:inline; vertical-align:top">
                                        <option>select</option>
                                    </select>
                                </div>
                                <span asp-validation-for="selRateOption" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="form-group">
                        <div class="form-group col-sm-2">
                            <label for="nh4">
                                Ammonium-N Retention (%)
                                <a href="#" aria-label="Ammonium Retention Value Link" data-toggle="tooltip" title="@Model.AmmoniumRetentionMsg" id="toolTipAmmoniumRetentionValuesMsg">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of Ammonium Retention" style="font-size:15px; padding-top:5px"></span>
                                </a>
                            </label>
                            <div class="input-group">
                                <input class="form-control" asp-for="nh4" id="nh4" type="text" />
                                @if (!Model.stdN)
                                {
                                    <span class="input-group-btn" title="Reset to standard value">
                                        <button class="btn btn-default" type="button" id="rstN" style="background-color:orange"><i class="glyphicon glyphicon-refresh" style="background-color:orange"></i></button>
                                    </span>
                                }
                            </div>
                            <span asp-validation-for="nh4" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-2">
                            <label asp-for="avail">
                                Organic N Available This Year (%)
                                <a href="#" aria-label="Available Organic N Value Link" data-toggle="tooltip" title="@Model.AvailablOrganicNitrogranMsg" id="toolTipAvailableOrganicNitrogenValuesMsg">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of available Organic N" style="font-size:15px; padding-top:5px"></span>
                                </a>
                            </label>
                            <div class="input-group">
                                <input class="form-control col-sm-1" asp-for="avail" id="avail" type="text" />
                                @if (!Model.stdAvail)
                                {
                                    <span class="input-group-btn" title="Reset to standard value">
                                        <button class="btn btn-default" type="button" id="rstA" style="background-color:orange"><i class="glyphicon glyphicon-refresh" style="background-color:orange"></i></button>
                                    </span>
                                }
                            </div>
                            <span asp-validation-for="avail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="Table">
                            <div class="Title">
                                <p>
                                    Available This Year (lb/ac)
                                    <a href="#" aria-label="Available Organic Nutrients Value Link" data-toggle="tooltip" title="@Model.AvailableNutrientsThisYearMsg" id="toolTipAvailableNutrientsThisYearValuesMsg">
                                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of available nutrients this year" style="font-size:15px; padding-top:5px"></span>
                                    </a>
                                </p>
                            </div>
                            <div class="Heading">
                                <div class="Cell">
                                    <p>N</p>
                                </div>
                                <div class="Cell">
                                    <p>P<sub>2</sub>O<sub>5</sub></p>
                                </div>
                                <div class="Cell">
                                    <p>K<sub>2</sub>O</p>
                                </div>
                            </div>
                            <div class="Row">
                                <div class="Cell" style="text-align:center">
                                    <p>@Model.yrN</p>
                                </div>
                                <div class="Cell" style="text-align:center">
                                    <p>@Model.yrP2o5</p>
                                </div>
                                <div class="Cell" style="text-align:center">
                                    <p>@Model.yrK2o</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="Table">
                            <div class="Title">
                                <p>
                                    Available Long Term (lb/ac)
                                    <a href="#" aria-label="Available Nutrients Long Term Value Link" data-toggle="tooltip" title="@Model.AvailableNutrientsLongTermMsg" id="toolTipAvailableLongTermValuesMsg">
                                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of nutrients available in the long term" style="font-size:15px; padding-top:5px"></span>
                                    </a>
                                </p>
                            </div>
                            <div class="Heading">
                                <div class="Cell">
                                    <p>N</p>
                                </div>
                                <div class="Cell">
                                    <p>P<sub>2</sub>O<sub>5</sub></p>
                                </div>
                                <div class="Cell">
                                    <p>K<sub>2</sub>O</p>
                                </div>
                            </div>
                            <div class="Row">
                                <div class="Cell" style="text-align:center">
                                    <p>@Model.ltN</p>
                                </div>
                                <div class="Cell" style="text-align:center">
                                    <p>@Model.ltP2o5</p>
                                </div>
                                <div class="Cell" style="text-align:center">
                                    <p>@Model.ltK2o</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                @if (!Model.areThereMaterialSources)
                {
                    <div class="form-group">
                        <p class="text-danger"><img src="~/images/dollar warning.svg" height='20' width='20' />@Model.noManureSourceAddedWarningMsg</p>
                        <br /> <br /> <br /> <br /><br /><br /><br /><br />
                    </div>
                }
                else if (!Model.areThereNutrientAnalysis)
                {
                    <div class="form-group">
                        <p class="text-danger"><img src="~/images/dollar warning.svg" height='20' width='20' />@Model.noNutrientAnalysisWaningMsg</p>
                        <br /> <br /> <br /> <br /><br /><br /><br /><br />
                    </div>
                }
            }
            <div class="row">
                <hr style="height:1px;border:none;color:blue;background-color:lightblue;padding:0" />
                <div class="col-sm-4">
                    @if (Model.ShowMaterialRemaining)
                    {
                        <div class="form-group">
                            <div style="margin-left:-30px" class="Title">
                                Material Remaining
                            </div>
                            <input type="hidden" id="PercentageMaterialRemainingHiddem" value="@Model.MaterialRemainingWholePercent">
                            <div class="Cell" style="padding-left:30px">
                                @Model.MaterialRemainingToString
                            </div>
                            <div style="width:100px;margin-left:30px" id="jq">
                            </div>
                        </div>
                    }
                </div>
                <div class="form-group col-sm-4" style="margin-left:30px">
                    <div class="Table">
                        <div class="form-group">
                            <div class="Title">
                                <p>Still Required This Year (lb/ac)</p>
                            </div>
                            <div class="Heading">
                                <div class="Cell">
                                    <p>N</p>
                                </div>
                                <div class="Cell">
                                    <p>P<sub>2</sub>O<sub>5</sub></p>
                                </div>
                                <div class="Cell">
                                    <p>K<sub>2</sub>O</p>
                                </div>
                            </div>
                            <div class="Row">
                                <div class="Cell" style="text-align:center">
                                    @if (!string.IsNullOrEmpty(Model.totNIcon))
                                    {
                                        <img src="~/images/@(Model.totNIcon).svg" title="@Model.totNIconText" />
                                    }
                                    @Model.totN
                                </div>
                                <div class="Cell" style="text-align:center">
                                    @if (!string.IsNullOrEmpty(Model.totPIcon))
                                    {
                                        <img src="~/images/@(Model.totPIcon).svg" title="@Model.totPIconText" />
                                    }
                                    @Model.totP2o5
                                </div>
                                <div class="Cell" style="text-align:center">
                                    @if (!string.IsNullOrEmpty(Model.totKIcon))
                                    {
                                        <img src="~/images/@(Model.totKIcon).svg" title="@Model.totKIconText" />
                                    }
                                    @Model.totK2o
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" data-dismiss="modal">Cancel</button>
            @if (Model.areThereMaterialSources && Model.areThereNutrientAnalysis)
            {
                <button type="submit" class="btn btn-primary" id="ok_button" @(Model.btnText == "Calculate" ? Html.Raw(" style='background-color: #1abbed'") : Html.Raw(""))>@Model.btnText</button>
            }
            else
            {
                <button class="btn btn-default" type="button" data_modal="" onclick='window.location = "@Url.Content(Model.ReturnToManureUrl)"'>Return To Manure</button>
            }
        </div>
        @Html.HiddenFor(x => x.title)
        @Html.HiddenFor(x => x.id)
        @Html.HiddenFor(x => x.fieldName)
        @Html.HiddenFor(x => x.buttonPressed)
        @Html.HiddenFor(x => x.rateOptions)
        @Html.HiddenFor(x => x.btnText)
        @Html.HiddenFor(x => x.currUnit)
        @Html.HiddenFor(x => x.yrN)
        @Html.HiddenFor(x => x.yrP2o5)
        @Html.HiddenFor(x => x.yrK2o)
        @Html.HiddenFor(x => x.ltN)
        @Html.HiddenFor(x => x.ltP2o5)
        @Html.HiddenFor(x => x.ltK2o)
        @Html.HiddenFor(x => x.stdN)
        @Html.HiddenFor(x => x.stdAvail)
        @Html.HiddenFor(x => x.url)
        @Html.HiddenFor(x => x.urlText)
        @Html.HiddenFor(x => x.totK2o)
        @Html.HiddenFor(x => x.totKIcon)
        @Html.HiddenFor(x => x.totKIconText)
        @Html.HiddenFor(x => x.totN)
        @Html.HiddenFor(x => x.totNIcon)
        @Html.HiddenFor(x => x.totNIconText)
        @Html.HiddenFor(x => x.totP2o5)
        @Html.HiddenFor(x => x.totPIcon)
        @Html.HiddenFor(x => x.totPIconText)
        @Html.HiddenFor(x => x.MaterialRemainingWholePercent)
        @Html.HiddenFor(x => x.MaterialRemainingLabel)
        @Html.HiddenFor(x => x.UserJourney)
    </form>
</div>

<script type="text/javascript">
    $('#jq').LineProgressbar({
        percentage: $("#PercentageMaterialRemainingHiddem").val(),
        fillBackgroundColor: '#3498db',
        radius: '5px',
        height: '20px',
        width: '120%',
        marginleft: '30px'
    });

    $(document).ready(function () {
        $('#toolTipAmmoniumRetentionValuesMsg').tooltip({
            template: toolTipClickableInnerHtml,
            html: true,
            placement: 'bottom',
            trigger: 'manual'
        });
    });

    //Using triggerToolTip function from ~/lib/site.js
    $(document).ready(function () {
        $('#toolTipAmmoniumRetentionValuesMsg').click(function () {
            triggerToolTip($('#toolTipAmmoniumRetentionValuesMsg'));
        });
    })

    $(document).ready(function () {
        $('#toolTipAvailableOrganicNitrogenValuesMsg').tooltip({
            template: toolTipClickableInnerHtml,
            html: true,
            trigger: 'manual'
        });
    });

    //Using triggerToolTip function from ~/lib/site.js
    $(document).ready(function () {
        $('#toolTipAvailableOrganicNitrogenValuesMsg').click(function () {
            triggerToolTip($('#toolTipAvailableOrganicNitrogenValuesMsg'));
        });
    })

    $(document).ready(function () {
        $('#toolTipAvailableNutrientsThisYearValuesMsg').tooltip({
            template: toolTipClickableInnerHtml,
            html: true,
            trigger: 'manual'
        });
    });

    //Using triggerToolTip function from ~/lib/site.js
    $(document).ready(function () {
        $('#toolTipAvailableNutrientsThisYearValuesMsg').click(function () {
            triggerToolTip($('#toolTipAvailableNutrientsThisYearValuesMsg'));
        });
    })

    $(document).ready(function () {
        $('#toolTipAvailableLongTermValuesMsg').tooltip({
            template: toolTipClickableInnerHtml,
            html: true,
            trigger: 'manual'
        });
    });

    //Using triggerToolTip function from ~/lib/site.js
    $(document).ready(function () {
        $('#toolTipAvailableLongTermValuesMsg').click(function () {
            triggerToolTip($('#toolTipAvailableLongTermValuesMsg'));
        });
    })
</script>