@model  SERVERAPI.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Nutrient Management Calculator";
    Layout = "_LayoutNoNav";
}
@inject IJsonHelper Json;

<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


<!-- BODY CONTENT -->
<div id="topicTemplate" style="padding-top:0px" class="template container">
    <!-- PAGE CONTENT -->
    <form asp-controller="Home" method="post">
        <div class="row">
            <div id="main-content" class="contentPageMainColumn col-xs-12">
                @if (!string.IsNullOrEmpty(Model.browserMsg))
                {
                    <div class="browserWarning" style="width:100%">
                        @Html.Raw(Model.browserMsg)
                    </div>
                }
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <br />
                <div class="Table" style="clear:both; width:100%">
                    <div class="TableBody">
                        <div class="Row">
                            <div class="Table">
                                <div class="TableBody">
                                    <div class="Row">
                                        <div class="Cell3" style="min-width:15%">&nbsp;</div>
                                        <div class="Cell3"><img src="~/images/Money.png" height="30" width="30" /></div>
                                        <div class="Cell3" style="padding-left:10px">@Model.pageMsg1</div>
                                        <div class="Cell3" style="min-width:10%">&nbsp;</div>
                                        <div class="Cell3"><img src="~/images/Water.png" height="30" width="30" /></div>
                                        <div class="Cell3" style="padding-left:10px">@Model.pageMsg2</div>
                                        <div class="Cell3" style="min-width:15%">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Row">
                            <div class="Table">
                                <div class="TableBody">
                                    <div class="Row">
                                        <div class="Cell3" style="text-align:right">
                                            <table class="rnd-table rnd-table-rounded" style="width:250px; margin-right:0; margin-left:auto">
                                                <thead>
                                                    <tr>
                                                        <th style="border-radius: 10px 10px 0 0; text-align:center">Start a new file</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="vertical-align:top">
                                                    <tr style="height:200px">
                                                        <td style="text-align:left; color:black">
                                                            @Html.Raw(Model.newMsg)
                                                        </td>
                                                    </tr>
                                                    <tr style="text-align:center">
                                                        <td>
                                                            @if (Model.unsavedData)
                                                {
                                                    <button class="form-box-submit-button btn btn-primary" style="width:90px" data_modal2="" type="button" data-type="@Url.Action("NewWarning", "Home")">Start</button>
                                    }
                                    else
                                    {
                                        <input class="form-box-submit-button btn btn-primary" style="width:90px" type="submit" value="Start" name="new" />
                        }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                        <div class="Cell3" style="padding:30px; vertical-align:middle; text-align:center; font-size:large; font-weight:bold">OR</div>
                                        <div class="Cell3">
                                            <table class="rnd-table rnd-table-rounded" style="width:250px">
                                                <thead>
                                                    <tr>
                                                        <th style="border-radius: 10px 10px 0 0; text-align:center">Continue a data file</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="vertical-align:top">
                                                    <tr style="height:200px">
                                                        <td style="text-align:left; color:black">
                                                            @Html.Raw(Model.loadMsg)
                                                        </td>
                                                    </tr>
                                                    <tr style="text-align:center">
                                                        <td>
                                                            <button class="form-box-submit-button btn btn-primary" style="width:90px" data_modal="" type="button" data-type="@Url.Action("FileLoad", "Home")">Load file</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        @*<div class="Row">
                    <div style="width:100%; text-align:center">
                        <div style="display:inline-block">
                            <table class="rnd-table rnd-table-rounded" style="width:250px">
                                <thead>
                                    <tr>
                                        <th style="border-radius: 10px 10px 0 0; text-align:center">Start a new plan</th>
                                    </tr>
                                </thead>
                                <tbody style="vertical-align:top">
                                    <tr style="height:200px">
                                        <td style="text-align:left; color:black">
                                            @Html.Raw(Model.newMsg)
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td>
                                            @if (Model.unsavedData)
                                            {
                                                <button class="btn" style="background-color:#446b59; color:white; font-weight:bold" data_modal2="" type="button" data-type="@Url.Action("NewWarning", "Home")">New</button>
                                            }
                                            else
                                            {
                                                <input class="btn" style="background-color:#446b59; color:white; font-weight:bold" type="submit" value="Begin" name="new" />
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <div style="width:50px; display:inline-block; vertical-align:middle">
                            <b>OR</b>
                        </div>
                        <div style="display:inline-block">
                            <table class="rnd-table rnd-table-rounded" style="width:250px">
                                <thead>
                                    <tr>
                                        <th style="border-radius: 10px 10px 0 0; text-align:center">Update my plan</th>
                                    </tr>
                                </thead>
                                <tbody style="vertical-align:top">
                                    <tr style="height:200px">
                                        <td style="text-align:left; color:black">
                                            @Html.Raw(Model.loadMsg)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="btn" style="background-color:#446b59; color:white; font-weight:bold" data_modal="" type="button" data-type="@Url.Action("FileLoad", "Home")">Load</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    @*<div class="Cell col-xs-3">
                    </div>
                    <div class="Cell col-xs-2" style="text-align:center; vertical-align:bottom">
                        <p>Start a new file</p>
                    </div>
                    <div class="Cell col-xs-2" style="text-align:center">
                        <p>or</p>
                    </div>
                    <div class="Cell col-xs-2" style="text-align:center; vertical-align:bottom">
                        <p>Load an existing file</p>
                    </div>
                    <div class="Cell col-xs-3">
                    </div>
                </div>*@
                        @*<div class="Row">
                    <div class="Cell col-xs-3">
                    </div>
                    <div class="Cell col-xs-2" style="text-align:center; vertical-align:bottom">
                        @if (Model.unsavedData)
                        {
                                <button class="btn btn-info" data_modal2="" type="button" data-type="@Url.Action("NewWarning", "Home")">New</button>
                        }
                        else
                        {
                                <input class="btn btn-info" type="submit" value="New" name="new" />
                        }
                    </div>
                    <div class="Cell col-xs-2" style="text-align:center">
                    </div>
                    <div class="Cell col-xs-2" style="text-align:center; vertical-align:bottom">
                        <button class="btn btn-info" data_modal="" type="button" data-type="@Url.Action("FileLoad", "Home")">Load</button>
                    </div>
                    <div class="Cell col-xs-3">
                    </div>
                </div>*@
                        <p>&nbsp;</p>
                        <div class="small">
                            <p>
                                @Html.Raw(Model.disclaimerMsg)
                            </p>
                            <p>
                                Static Data Version: @Html.Raw(Model.staticDataVersionMsg)
                            </p>
                        </div>
                    </div>
                </div>
                @*<div style="width:100%; text-align:center">
            <div style="display:inline-block">
                <table class="rnd-table rnd-table-rounded" style="width:250px">
                    <thead>
                        <tr>
                            <th style="border-radius: 10px 10px 0 0; text-align:center">Start a new plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="height:200px">
                            <td style="text-align:left; color:black">
                                <p>With this option you can:</p>
                                <ul>
                                    <li>Begin planning</li>
                                    <li>Start over</li>
                                </ul>
                            </td>
                        </tr>
                        <tr style="text-align:center">
                            <td>
                                @if (Model.unsavedData)
                                {
                                    <button class="btn" style="background-color:olivedrab; color:white; font-weight:bold" data_modal2="" type="button" data-type="@Url.Action("NewWarning", "Home")">New</button>
                                }
                                else
                                {
                                    <input class="btn" style="background-color:olivedrab; color:white; font-weight:bold" type="submit" value="New" name="new" />
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div style="width:50px; display:inline-block">
                &nbsp;
            </div>
            <div style="display:inline-block">
                <table class="rnd-table rnd-table-rounded" style="width:250px">
                    <thead>
                        <tr>
                            <th style="border-radius: 10px 10px 0 0; text-align:center">Update my plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="height:200px">
                            <td style="text-align:left; color:black">
                                <p>With this option you can:</p>
                                <ul>
                                    <li>Pick up where you left off</li>
                                    <li>Copy last year's plan</li>
                                    <li>Take a look at someone else's plan</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn" style="background-color:olivedrab; color:white" data_modal="" type="button" data-type="@Url.Action("FileLoad", "Home")">Load</button>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>*@
            </div>
        </div>
        @Html.HiddenFor(x => x.unsavedData)
        @Html.HiddenFor(x => x.newMsg)
        @Html.HiddenFor(x => x.loadMsg)
    </form>

    <!-- PAGE CONTENT -->
</div>
<!-- /BODY CONTENT -->

@section Scripts {

<script type="text/javascript">

        // ensure this event handler is attached to current and future elements (after partial renders)
    $(document).on("click", '[data_modal]', function (e) {
        $.ajaxSetup({ cache: false });
            $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
            $('#myModalContent').load($type, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
         });

        function bindForm(dialog) {
            $('form', dialog).submit(function () {
                if ($("#unsavedData").val() == "False") {
                    var fileUpload = $("#FileUpload1").get(0);
                    var files = fileUpload.files;

                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        contentType: false,
                        processData: false,
                        data: fileData,
                        success: function (result) {
                            if (result.success) {
                                $('#myModal').modal('hide');
                                window.location.href = result.url;
                            } else {
                                $('#myModalContent').html(result);
                                bindForm(dialog);
                            }
                        }
                    });
                }
                else
                {
                    $.ajax({
                        cache: false,
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize()
                    })
                        .done(function (result) {
                            if (result.success) {
                                $('#myModal').modal('hide');
                                $(result.target).load(result.url); //  Load data from the server and place the returned HTML into the matched element
                            } else {
                                $('#myModalContent').html(result);
                                bindForm(dialog);
                            }
                        });
                }
                return false;
            });
        }

        $(document).on("click", '[data_modal2]', function (e) {
            $.ajaxSetup({ cache: false });
            $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
            $('#myModalContent').load($type, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindForm2(this);
            });
            return false;
        });

        function bindForm2(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    cache: false,
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize()
                })
                .done(function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        //$(result.target).load(result.url); //  Load data from the server and place the returned HTML into the matched element
                        window.location.href = result.url;
                    } else {
                        $('#myModalContent').html(result);
                        bindForm2(dialog);
                    }
                });

                return false;
            });

        }

        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
            $("#themeTemplate, #subthemeTemplate, #topicTemplate").css("padding-top", 5);	

        });

</script>

}
