@model SERVERAPI.ViewModels.SoilTestDetailsViewModel

@{
    Layout = null;
}
<div id="target">
    <form asp-action="SoilTestDetails" asp-controller="Soil" id="modForm" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="myModalLabel">Soil Test Details</h2>
        </div>

        <div class="modal-body">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <div class="col-md-8">
                                <h3 style="font-size:14px; font-weight: bold">
                                    Soil test values (top 6 inches of soil)
                                    <a href="#" data-toggle="tooltip" title="@Model.SoilTestValuesMsg" id="toolTipSoilTestValuesMsg">
                                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of Soil Test Values" style="font-size:20px; padding-top:5px"></span>
                                    </a>
                                </h3>&nbsp;&nbsp;
                            </div>
                        </div>                 
                    </div>
                </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label asp-for="sampleDate">Sample Month</label>
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" asp-for="sampleDate" id="sampleDate" type="text" />
                            </div>
                            <div class="col-md-offset-3 col-md-8">
                                <span asp-validation-for="sampleDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label id="labelDispNO3H">NO<sub>3</sub>-N (ppm), nitrate-nitrogen</label>
                                <a href="#" data-toggle="tooltip" title="@Model.SoilTestNitrogenNitrateMsg" id="toolTipSoilTestNitrogenNitrateMsg">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of Nitrogen Nitrate" style="font-size:20px; padding-top:5px"></span>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" asp-for="dispNO3H" id="dispNO3H" type="text" aria-labelledby="labelDispNO3H subLabelDispNO3H" />
                            </div>
                            <div class="col-md-offset-3 col-md-8">
                                <span asp-validation-for="dispNO3H" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label id="labelDispP">P (ppm), phosphorous</label>
                                <a href="#" data-toggle="tooltip" title="@Model.SoilTestPhosphorousMsg" id="toolTipSoilTestPhosphorousMsg">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of Phosphorous" style="font-size:20px; padding-top:5px"></span>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" asp-for="dispP" id="dispP" type="text" aria-labelledby="labelDispP sublabelDispP"/>
                            </div>
                            <div class="col-md-offset-3 col-md-8">
                                <span asp-validation-for="dispP" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label id="labelDispK">K (ppm), potassium</label>
                                <a href="#" data-toggle="tooltip" title="@Model.SoilTestPotassiumMsg" id="toolTipSoilTestPotassiumMsg">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of Potassium" style="font-size:20px; padding-top:5px"></span>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" asp-for="dispK" id="dispK" type="text" aria-labelledby="labelDispK sublabelDispK"/>
                            </div>
                            <div class="col-md-offset-3 col-md-8">
                                <span asp-validation-for="dispK" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label asp-for="dispPH">pH</label>
                                <a href="#" data-toggle="tooltip" title="@Model.SoilTestPHMsg" id="toolTipSoilTestPHMsg">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of PH" style="font-size:20px; padding-top:5px"></span>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" asp-for="dispPH" id="dispPH" type="text" />
                            </div>
                            <div class="col-md-offset-3 col-md-8">
                                <span asp-validation-for="dispPH" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn" type="button" data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" value="Save" />
                </div>
                @Html.HiddenFor(x => x.title)
                @Html.HiddenFor(x => x.id)
                @Html.HiddenFor(x => x.fieldName)
                @Html.HiddenFor(x => x.buttonPressed)
                @Html.HiddenFor(x => x.btnText)
                @Html.HiddenFor(x => x.url)
                @Html.HiddenFor(x => x.urlText)
</form>
</div>
<script>
        $(document).ready(function () {

            $('#sampleDt').datepicker({
                useCurrent: false,
                autoPick: false,
                format: "M-yyyy",
                startView: 1,
                minViewMode: 1,
                autoclose: true
        });
    });

        $(document).ready(function () {
            $('#toolTipSoilTestValuesMsg').tooltip({
                template: toolTipClickableInnerHtml,
                html: true,
                trigger: 'manual'
            });
        });

        //Using triggerToolTip function from ~/lib/site.js
        $(document).ready(function () {
            $('#toolTipSoilTestValuesMsg').click(function () {
                triggerToolTip($('#toolTipSoilTestValuesMsg'));
            });
    })   

    $(document).ready(function () {
        $('#toolTipSoilTestNitrogenNitrateMsg').tooltip({
            template: toolTipClickableInnerHtml,
            html: true,
            trigger: 'manual'
        });
    });

    //Using triggerToolTip function from ~/lib/site.js
    $(document).ready(function () {
        $('#toolTipSoilTestNitrogenNitrateMsg').click(function () {
            triggerToolTip($('#toolTipSoilTestNitrogenNitrateMsg'));
        });
    })   
    $(document).ready(function () {
        $('#toolTipSoilTestPhosphorousMsg').tooltip({
            template: toolTipClickableInnerHtml,
            html: true,
            trigger: 'manual'
        });
    });

    //Using triggerToolTip function from ~/lib/site.js
    $(document).ready(function () {
        $('#toolTipSoilTestPhosphorousMsg').click(function () {
            triggerToolTip($('#toolTipSoilTestPhosphorousMsg'));
        });
    })   
    $(document).ready(function () {
        $('#toolTipSoilTestPotassiumMsg').tooltip({
            template: toolTipClickableInnerHtml,
            html: true,
            trigger: 'manual'
        });
    });

    //Using triggerToolTip function from ~/lib/site.js
    $(document).ready(function () {
        $('#toolTipSoilTestPotassiumMsg').click(function () {
            triggerToolTip($('#toolTipSoilTestPotassiumMsg'));
        });
    })   
    $(document).ready(function () {
        $('#toolTipSoilTestPHMsg').tooltip({
            template: toolTipClickableInnerHtml,
            html: true,
            trigger: 'manual'
        });
    });

    //Using triggerToolTip function from ~/lib/site.js
    $(document).ready(function () {
        $('#toolTipSoilTestPHMsg').click(function () {
            triggerToolTip($('#toolTipSoilTestPHMsg'));
        });
    })   
        
</script>