@using Agri.Models
@model SERVERAPI.ViewModels.SoilTestViewModel

@{
    ViewBag.Title = "Soil Tests";
}
<!-- modal placeholder-->
<div id='myModal' class='modal'>
    <div class="modal-dialog" id="divSize">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<!-- BODY CONTENT -->

<div class="header-height"></div>

<br />
<br />

<div class="container">
    <div class="step-forms col-sm-12">
        <!-- PAGE CONTENT -->
        <div>
            <form asp-controller="Soil" asp-action="SoilTest" method="post" id="modForm">
                @Html.HiddenFor(x => x.fldsFnd)
                @Html.HiddenFor(x => x.buttonPressed)
                @Html.HiddenFor(x => x.testSelected)
                @Html.HiddenFor(x => x.warningMsg)
                <div class="form-box">
                    <div class="form-box-body">
                        <div class="form-box-fields">
                            <div class="row">
                                <div class="col-sm-12">
                                    @if (!Model.fldsFnd)
                                    {
                                        <div class="form-box">
                                            <div class="form-box-header clearfix">
                                                <h3>To add soil tests please add a field first</h3>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        if (!Model.testSelected)
                                        {
                                            <div class="form-box">
                                                <div class="form-box-header clearfix">
                                                    <h3>@Html.Raw(Model.warningMsg)</h3>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-box-fields">
                            @if (Model.fldsFnd)
                            {
                                <div class="row">
                                    <div class="col-sm-7">
                                        <label for="ddlMth">Lab (Soil Test Methods)</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-horizontal">
                                        <div class="form-group col-sm-7">
                                            <select class="form-control" asp-for="selTstOption" asp-items="@(new SelectList(Model.tstOptions, "Id", "Value"))" id="ddlMth">
                                                <option>select</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-1" style="padding-left:0px">
                                            <a href="#" aria-label="Soil Test Methods Link" data_modal3="" data-type="@Url.Action("InfoMessage", "Nutrients", new { type = "soiltest" })"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Explanation of Soil Tests" style="font-size:20px; padding-top:5px"></span></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <span asp-validation-for="selTstOption"></span>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="form-box-fields">
                            <div class="row">
                                <div class="col-sm-12">
                                    @if (Model.testSelected)
                                    {
                                        <div id="test">
                                            @await Component.InvokeAsync("SoilTests")
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="next-previous-navigation">
                    @await Component.InvokeAsync("NextPreviousNavigation", new NextPrevNavViewModel { CurrentAction = CoreSiteActions.SoilTest })
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        // ensure this event handler is attached to current and future elements (after partial renders)
        $(document).on("click", '[data_modal]', function (e) {
            $.ajaxSetup({ cache: false });
            $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
            $("#divSize").removeClass("modal-carousel");
            $("#divSize").addClass("modal-large");
            $('#myModalContent').load($type, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });

        $(document).ready(function () {
            $("body").on("change", "#ddlMth", function () {
                $('#buttonPressed').val("MethodChange");
                $("#modForm").submit();
            })
        });

        function bindForm(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    cache: false,
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            window.location.href = '@Url.Action("SoilTest","Soil")';
                    } else {
                        $('#myModalContent').html(result);
                        bindForm(dialog);
                    }
                }
            });
            return false;
        });
    }

    $(document).ready(function () {

        $('#sampleDate').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true
        });
    });

        $(document).on("click", '[data_modal3]', function (e) {
            $.ajaxSetup({ cache: false });
            $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
            $("#divSize").removeClass("modal-carousel");
            $("#divSize").removeClass("modal-large");
            $('#myModalContent').load($type, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindFormI(this);
            });
            return false;
        });

    function Intercept(x) {
        if ($("#testSelected").val() == "False" ||
            $("#missingTests").val() == "True")
        {
            $.ajaxSetup({ cache: false });
            var url = '@Url.Action("MissingTests", "Soil", new { target = "zzz" })';
            $type = url.replace('zzz',x);
            $("#divSize").addClass("modal-large");
            $('#myModalContent').load($type, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        }
        else
        {
            window.location.href = x;
        }
        }

        $(document).ready(function () {
            $("#wizard-soiltest").addClass('wizard-item-done');
        });

        $(document).on("click", '[data_modalI]', function (e) {
            $.ajaxSetup({ cache: false });
            $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
            $("#divSize").removeClass("modal-large");
            $("#divSize").addClass("modal-carousel");
            $('#myModalContent').load($type, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    //keyboard: true
                }, 'show');
                bindFormI(this);
            });
            return false;
        });

        $(".modal").on("hidden.bs.modal", function () {
            $(".myModalContent").html("");
        });

        function bindFormI(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    cache: false,
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                        } else {
                            $('#myModalContent').html(result);
                            bindFormI(dialog);
                        }
                    }
                });
                return false;
            });
        }
        $(document).ready(function () {
            $("#FieldsFields5").show();
            $("#SoilSoilTest6").show();
            return false;
        });

        $(document).ready(function () {
            $("#FieldsFields3").addClass('wizard-item-done');
            $("#SoilSoilTest6").addClass('wizard-item-done');
            $("#SoilSoilTest6").addClass('submenu-hovering');

            $("#submenu-ul-manure").addClass('submenu-display');
        });

        $(document).on("click",
            '[data_modal2]',
            function (e) {
                $.ajaxSetup({ cache: false });
                $type = $(this).data('type'); // this works as of jQuery 1.4.3, otherwise $(this).attr('data-type');
                $('#myModalContent').load($type,
                    function () {
                        $('#myModal').modal({
                                /*backdrop: 'static',*/
                                //keyboard: true

                            },
                            'show');
                        bindForm2(this);
                    });
                return false;
            });

        function bindForm2(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                        cache: false,
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize()
                    })
                    .done(function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            //$(result.target).load(result.url); //  Load data from the server and place the returned HTML into the matched element
                            window.location.href = result.url;
                        } else {
                            $('#myModalContent').html(result);
                            bindForm2(dialog);
                        }
                    });

                return false;
            });
        }
    </script>

}