@model SERVERAPI.ViewModels.SoilTestDetailsViewModel

@{
    Layout = null;
}
<div id="target">
    <form asp-action="SoilTestDetails" asp-controller="Soil" id="modForm" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Soil Test Details - @Model.title</h4>
        </div>

        <div class="modal-body">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <div class="col-md-8">
                                <h3 style="font-size:14px; font-weight: bold">Soil test values (top 6 inches of soil)&nbsp;&nbsp;</h3>
                                <span>
                                    <a href="@Model.url" target="_blank">@Model.urlText</a>
                                </span>
                            </div>
                        </div>                 
                    </div>
                </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label asp-for="sampleDate">Sample Month</label>
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" asp-for="sampleDate" id="sampleDate" type="text" />
                            </div>
                            <div class="col-md-offset-3 col-md-8">
                                <span asp-validation-for="sampleDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label asp-for="dispNO3H">NO<sub>3</sub>-N (ppm)</label>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" asp-for="dispNO3H" id="dispNO3H" type="text" />
                            </div>
                            <div class="col-md-4">
                                <label asp-for="dispNO3H">Nitrate-Nitrogen</label>
                            </div>
                            <div class="col-md-offset-3 col-md-8">
                                <span asp-validation-for="dispNO3H" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label asp-for="dispP">P (ppm)</label>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" asp-for="dispP" id="dispP" type="text" />
                            </div>
                            <div class="col-md-4">
                                <label asp-for="dispP">Phosphorus</label>
                            </div>
                            <div class="col-md-offset-3 col-md-8">
                                <span asp-validation-for="dispP" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label asp-for="dispK">K (ppm)</label>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" asp-for="dispK" id="dispK" type="text" />
                            </div>
                            <div class="col-md-4">
                                <label asp-for="dispK">Potassium</label>
                            </div>
                            <div class="col-md-offset-3 col-md-8">
                                <span asp-validation-for="dispK" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label asp-for="dispPH">pH</label>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" asp-for="dispPH" id="dispPH" type="text" />
                            </div>
                            <div class="col-md-offset-3 col-md-8">
                                <span asp-validation-for="dispPH" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn" type="button" data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" value="Save" />
                </div>
                @Html.HiddenFor(x => x.title)
                @Html.HiddenFor(x => x.id)
                @Html.HiddenFor(x => x.fieldName)
                @Html.HiddenFor(x => x.buttonPressed)
                @Html.HiddenFor(x => x.btnText)
                @Html.HiddenFor(x => x.url)
                @Html.HiddenFor(x => x.urlText)
</form>
</div>
<script>
        $(document).ready(function () {

            $('#sampleDt').datepicker({
                useCurrent: false,
                autoPick: false,
                format: "M-yyyy",
                startView: 1,
                minViewMode: 1,
                autoclose: true
        });
    });
</script>