@model SERVERAPI.ViewModels.AddAnimalsViewModel
@using Agri.Models
@{
    Layout = null;
}
<div id="target">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Animal Details</h2>
    </div>

    <form asp-action="AnimalDetail" asp-controller="Animals" data-ajax="true" data-ajax-method="POST" data-ajax-mode="REPLACE-WITH" data-ajax-update="#target">
        <div class="modal-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-box-fields">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="ddlSubType">Cattle</label>
                        <select class="form-control" asp-for="SelectSubTypeOption" asp-items="@(new SelectList(Model.SubTypeOptions,"Id","Value"))" id="ddlSubType"></select>
                        <span asp-validation-for="SelectSubTypeOption" class="text-danger">Select a Subtype</span>
                    </div>
                    <div class="form-group col-sm-5">
                        <label for="averageAnimalNumber">Average Animal Number on Farm</label>
                        <input class="form-control" asp-for="AverageAnimalNumber" id="averageAnimalNumber" type="text" placeholder="@Model.Placehldr" />
                        <span asp-validation-for="AverageAnimalNumber"></span>
                    </div>
                    <div class="form-group col-sm-3" style="display:none">
                        <label for="ddlManureMaterialType">Manure Type</label>
                        <select class="form-control" asp-for="SelectManureMaterialTypeOption" asp-items="@(Html.GetEnumSelectList<ManureMaterialType>())" id="ddlManureMaterialType">
                            <option>select type</option>
                        </select>
                        <span asp-validation-for="SelectManureMaterialTypeOption" class="text-danger">Select a Manure Material Type</span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12" style="border-top: #E5E5E5 1px solid; padding-top: 10px;">
                        <label for="isManureCollected">As a beef farmer,do you pile or collect manure from your animals?</label>
                        <div class="form-group" role="radiogroup" aria-labelledby="labelisManureCollected">
                            <label style="padding-right: 20px">
                                <input asp-for="IsManureCollected" type="radio" value="true" id="rbIsManureCollectedYes" onchange="IsManureCollectedChanged(true)" /> Yes
                            </label>
                            <label>
                                <input asp-for="IsManureCollected" type="radio" value="false" id="rbIsManureCollectedNo" onchange="IsManureCollectedChanged(false)" /> No
                            </label>
                        </div>
                    </div>
                </div>
                @if (Model.IsManureCollected)
                {
                    <div class="row" id="durationValue">
                        <div class="form-group col-sm-2">
                            <label for="txtDuration">Duration</label>
                        </div>
                        <div class="form-group col-sm-2">
                            <input class="form-control" asp-for="DurationDays" id="durationDays" type="text" />
                        </div>
                        <div class="form-group col-sm-4">
                            days
                        </div>
                    </div>
                }
                @if (!Model.IsManureCollected)
                {
                    <div class="row hideDuration" id="durationValue">
                        <div class="form-group col-sm-2">
                            <label for="txtDuration">Duration</label>
                        </div>
                        <div class="form-group col-sm-2">
                            <input class="form-control" asp-for="DurationDays" id="durationDays" type="text" />
                        </div>
                        <div class="form-group col-sm-4">
                            days
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" data-dismiss="modal">Cancel</button>
            <input class="btn btn-primary" type="submit" value="Save" />
        </div>
        @Html.HiddenFor(x => x.Act)
        @Html.HiddenFor(x => x.Target)
        @Html.HiddenFor(x => x.Cntl)
        @Html.HiddenFor(x => x.Actn)
        @Html.HiddenFor(x => x.AnimalTypeOptions)
        @Html.HiddenFor(x => x.SubTypeOptions)
        @Html.HiddenFor(x => x.ButtonPressed)
    </form>
</div>