@model SERVERAPI.Pages.Ranch.RanchFields.CreateEdit

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-box-fields">
    <div class="row">
        <div class="form-group col-sm-6">
            <label asp-for="@Model.Data.FieldName">Field Name</label>
            <div>
                <input type="text" asp-for="@Model.Data.FieldName" class="form-control col-sm-12" />
                <span asp-validation-for="@Model.Data.FieldName"></span>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="@Model.Data.FieldComment">Comments  (Optional)</label>
            <div>
                <textarea asp-for="@Model.Data.FieldComment" style="resize:none" placeholder="@Model.Data.Placehldr" class="form-control col-sm-12"></textarea>
                <span asp-validation-for="@Model.Data.FieldComment"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12" style="margin-top: -45px !important;">
            <label asp-for="@Model.Data.FieldArea">Area</label>
            <br />
            <div class="col-sm-2" style="padding-left:0px !important;">
                <div class="form-group-right-side-label">
                    <input type="number" asp-for="@Model.Data.FieldArea" class="form-control col-sm-10" />
                    <span class="right-side-label-span">Acres</span>
                </div>
                <span asp-validation-for="@Model.Data.FieldArea"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6" style="margin-top: -25px !important;">
            <label asp-for="@Model.Data.SelectPrevYrManureOption">Manure application in previous years</label>
            <select class="form-control" asp-for="@Model.Data.SelectPrevYrManureOption" asp-items="@(new SelectList(Model.Data.SelectPrevYrManureOptions,"FieldManureApplicationHistory","Name"))">
                <option>select</option>
            </select>
            <span asp-validation-for="@Model.Data.SelectPrevYrManureOption"></span>
        </div>
        <div class="form-group col-sm-6" style="width: 350px;">
            <label style="padding-right: 20px; padding-top:5px;">
                <input id="isSeasonal" asp-for="@Model.Data.IsSeasonalFeedingArea" onchange="IsSeasonalValueChange()" type="checkbox" />
            </label>
            <label i="labelIsSeasonalFeedingArea">This is a seasonal feeding area</label>
        </div>
    </div>
    @{
        var displaySeasonal = "none";
    }
    @if (Model.Data.IsSeasonalFeedingArea)
    {
        displaySeasonal = "inline";
    }
    <hr />
    <div class="row">
        <div class="form-group col-sm-12" id="FeedingValue" style="display:@displaySeasonal">
            <label class="form-box-heading mb-3" style="padding-bottom: 15px">Feeding Area</label><!--Need to pass from model-->
            <div class="row" style="margin-bottom: 5px;">
                <label asp-for="@Model.Data.FeedingDaysSpentInFeedingArea" class="col-sm-4" style="padding-left:0px !important;">Time Spent in Feeding Area</label>
                <div class="col-sm-2">
                    <div class="form-group-right-side-label">
                        <input type="number" asp-for="@Model.Data.FeedingDaysSpentInFeedingArea" class="form-control" style="width: 75px" />
                        <span class="right-side-label-span">days</span>
                    </div>
                    <!--Need to add validation-->
                </div>
            </div>
            <div class="row">
                <label asp-for="@Model.Data.FeedingPercentageOutsideFeeingArea" class="col-sm-4" style="padding-left:0px !important;">Percent of time spent outside of feeding area</label>
                <div class="col-sm-2">
                    <div class="form-group-right-side-label">
                        <input type="number" asp-for="@Model.Data.FeedingPercentageOutsideFeeingArea" class="form-control" style="width: 75px" />
                        <span class="right-side-label-span">%</span>
                    </div>
                    <!--Need to add validation-->
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="MatureValue" style="display:@displaySeasonal">
        @*<label class="form-box-heading">Mature Animals</label>*@
        <div class="col-sm-3" style="padding-top: 13px">
            <label asp-for="@Model.Data.MatureAnimalCount">Number of Mature Animals</label>
            <input type="number" asp-for="@Model.Data.MatureAnimalCount" class="form-control" style="width: 75px" />
            <span asp-validation-for="@Model.Data.MatureAnimalCount"></span>
        </div>
        <div class="col-sm-2" style="padding-top: 13px">
            <label asp-for="@Model.Data.MatureAnimalAverageWeight">Average weight</label>
            <div class="form-group-right-side-label">
                <input type="number" asp-for="@Model.Data.MatureAnimalAverageWeight" class="form-control" style="width: 75px" />
                <span class="right-side-label-span">lbs</span>
            </div>
            <span asp-validation-for="@Model.Data.MatureAnimalAverageWeight"></span>
        </div>
        <div class="col-sm-5 ">
            <label asp-for="@Model.Data.MatureAnimalDailyFeedRequirementId">
                Daily feed requirement

                <a href="#!" data-toggle="tooltip" title="@Model.Data.DailyFeedWarning" id="toolTipDailyFeedWarning">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Daily Feed Requirement" style="font-size:20px; padding-top:5px"></span>
                </a>
                @*<span class="text-danger">@Html.Raw(@Model.Data.DailyFeedWarning)</span>*@
            </label>
            <select class="form-control" asp-for="@Model.Data.MatureAnimalDailyFeedRequirementId"
                    asp-items="@(new SelectList(Model.Data.SelectDailyFeedOptions,"Id","Name"))">
            </select>
        </div>
    </div>
    <div class="row" id="GrowingValue" style="display:@displaySeasonal">
        <div class="col-sm-3" style="padding-top: 13px">
            <label asp-for="@Model.Data.GrowingAnimalCount">Number of Growing Animals</label>
            <input type="number" asp-for="@Model.Data.GrowingAnimalCount" class="form-control col-sm-6" style="width: 75px" />
        </div>
        <div class="col-sm-2" style="padding-top: 13px">
            <label asp-for="@Model.Data.GrowingAnimalAverageWeight">Average weight</label>
            <div class="form-group-right-side-label">
                <input type="number" asp-for="@Model.Data.GrowingAnimalAverageWeight" class="form-control " style="width: 75px" />
                <div class="right-side-label-span">lbs</div>
            </div>
            <!--Need to add validation-->
        </div>
        <div class="col-sm-5">
            <label asp-for="@Model.Data.GrowingAnimalDailyFeedRequirementId">
                Daily Feed Requirements
                <a href="#!" data-toggle="tooltip" title="@Model.Data.DailyFeedWarning" id="toolTipDailyFeedWarning2">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" title="Daily Feed Requirement" style="font-size:20px; padding-top:5px"></span>
                </a>
                @*<span class="text-danger">@Html.Raw(@Model.Data.DailyFeedWarning)</span>*@
            </label>
            <select class="form-control" asp-for="@Model.Data.GrowingAnimalDailyFeedRequirementId" asp-items="@(new SelectList(Model.Data.SelectDailyFeedOptions,"Id","Name"))">
            </select>
        </div>
    </div>
</div>

<div class="modal-footer" style="border-top:none !important;">
    @if (Model.IsModal)
    {
        <button class="btn" type="button" data-dismiss="modal">Cancel</button>
    }
    <input class="btn btn-primary" type="submit" value="Save" data-save="razor-page-modal" style="margin-right: 15px;" />
</div>
@Html.HiddenFor(x => x.Data.Id)