@model RancherFieldsViewModel
<div>
    @if (Model.fields.Count == 0)
    {

        <div class="form-box">
            <div class="form-box-header clearfix">
                <legend class="form-box-heading">Field List</legend>
            </div>
            @*<div class="form-box-body">*@
            @if (Model.regionFnd)
            {
                <form asp-action="RancherFieldDetail" asp-controller="RancherFields" data-ajax="true" data-ajax-method="POST" data-ajax-mode="REPLACE-WITH" data-ajax-update="#target">
                    <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label asp-for="fieldName"></label>
                                <div>
                                    <input asp-for="fieldName" class="col-sm-12" />
                                    <span asp-validation-for="fieldName"></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label asp-for="fieldComment"></label>
                                <div>
                                    <textarea asp-for="fieldComment" rows="2" cols="70" style="resize:none" placeholder="@Model.placehldr"></textarea>
                                    <span asp-validation-for="fieldComment"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label asp-for="fieldArea"></label>
                                <div>
                                    <input asp-for="fieldArea" class="col-sm-6" />
                                    <div style="padding-top:5px">&nbsp;Acres&nbsp;</div>
                                    <span asp-validation-for="fieldArea"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label asp-for="selPrevYrManureOption">Manure application in previous years</label>
                                <select class="form-control" asp-for="selPrevYrManureOption" asp-items="@(new SelectList(Model.selPrevYrManureOptions,"FieldManureApplicationHistory","Name"))">
                                    <option>select</option>
                                </select>
                                <span asp-validation-for="selPrevYrManureOption"></span>
                            </div>
                            <div class="form-group col-sm-6">
                                <br />
                                <label style="padding-right: 20px">
                                    <input asp-for="isSeasonalFeedingArea" type="checkbox" />
                                </label>
                                <label i="labelIsSeasonalFeedingArea">This is a seasonal feeding area</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" type="button" data-dismiss="modal">Cancel</button>
                        <input class="btn btn-primary" type="submit" value="Save" />
                    </div>
                    @Html.HiddenFor(x => x.userDataField)
                    @Html.HiddenFor(x => x.act)
                    @Html.HiddenFor(x => x.currFieldName)
                    @Html.HiddenFor(x => x.target)
                    @Html.HiddenFor(x => x.cntl)
                    @Html.HiddenFor(x => x.actn)
                    @Html.HiddenFor(x => x.currFld)
                    @Html.HiddenFor(x => x.placehldr)
                </form>
            }
            else
            {
                <div class="form-box-table-first text-center">
                    <h3>@Html.Raw(Model.noRegion)</h3>
                </div>
            }
        </div>
    }

    @if (Model.fields.Count() > 0)
    {
        <div class="form-box">
            <div class="form-box-header clearfix">
                <legend class="form-box-heading">Field List</legend>
            </div>
            <div class="form-box-body">
                <div class="form-box-table">
                    <div class="form-box-table-header form-box-table-row row row-eq-height">
                        <div class="col-sm-3 form-box-table-cell">
                            <strong>Field Name</strong>
                        </div>
                        <div class="col-sm-2 form-box-table-cell">
                            <strong>Acres</strong>
                        </div>
                        <div class="col-sm-2 form-box-table-cell">
                            <strong>Seasonal Feeding Area</strong>
                        </div>
                        <div class="col-sm-3 form-box-table-cell">
                            <strong>Comments (optional)</strong>
                        </div>
                        <div class="col-sm-2 form-box-table-cell">
                        </div>
                    </div>
                    @foreach (var item in Model.fields)
                    {
                        <div class="form-box-table-row row row-eq-height">
                            <div class="col-sm-3 form-box-table-cell">
                                @item.FieldName
                            </div>
                            <div class="col-sm-2 form-box-table-cell">
                                @item.Area
                            </div>
                            <div class="col-sm-2 form-box-table-cell">
                                @item.SeasonalFeedingArea
                            </div>
                            <div class="col-sm-3 form-box-table-cell">
                                <table style=" word-wrap: break-word; table-layout:fixed; width:100%; vertical-align:top; margin-top:0;">
                                    <tr>
                                        <td style="padding-top:0px">
                                            @item.Comment
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-2 form-box-table-cell text-center">
                                <button title="Edit" aria-label="Edit" class="form-box-table-button" type="button" data_modal="" data-type="@Url.Action("RancherFieldDetail", "RancherFields", new { name = item.FieldName, target = "#rancherFields" } )">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke-width="2"><g stroke-width="2" transform="translate(0, 0)"><line data-cap="butt" data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="14.5" y1="4.5" x2="19.5" y2="9.5" stroke-linejoin="miter" stroke-linecap="butt"></line> <line data-cap="butt" data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-miterlimit="10" x1="3" y1="16" x2="8" y2="21" stroke-linejoin="miter" stroke-linecap="butt"></line> <path fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M8,21l-6,1l1-6 L16.586,2.414c0.781-0.781,2.047-0.781,2.828,0l2.172,2.172c0.781,0.781,0.781,2.047,0,2.828L8,21z" stroke-linejoin="miter"></path></g></svg>
                                </button>
                                <button title="Delete" aria-label="Delete" class="form-box-table-button" type="button" data_modal="" data-type="@Url.Action("RancherFieldDelete", "RancherFields", new { name = item.FieldName, target = "#rancherFields" })">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke-width="2"><g stroke-width="2" transform="translate(0, 0)"><polyline fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="20,9 20,23 4,23 4,9 " stroke-linejoin="miter"></polyline> <line fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="1" y1="5" x2="23" y2="5" stroke-linejoin="miter"></line> <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="12" y1="12" x2="12" y2="18" stroke-linejoin="miter"></line> <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="8" y1="12" x2="8" y2="18" stroke-linejoin="miter"></line> <line data-color="color-2" fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="16" y1="12" x2="16" y2="18" stroke-linejoin="miter"></line> <polyline fill="none" stroke="#444444" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="8,5 8,1 16,1 16,5 " stroke-linejoin="miter"></polyline></g></svg>
                                </button>
                            </div>
                        </div>
                    }
                    <div class="form-box-table-add text-right form-box-table-row row">
                        <button class="btn btn-default" type="button" data_modal="" data-type="@Url.Action("RancherFieldDetail", "RancherFields", new {target = "#rancherFields"})">Add another field</button>
                    </div>
                </div>
            </div>
        </div>

        @for (int i = 0; i < Model.fields.Count; i++)
        {
            @Html.Hidden("fieldName[" + i + "]", Model.fields[i].FieldName)
            @Html.Hidden("area[" + i + "]", Model.fields[i].Area)
            @Html.Hidden("comment[" + i + "]", Model.fields[i].Comment)
        }
    }
</div>